[2019-03-09 12:46] gingerlime commented on #283
Started bumping into this all of a sudden 24 hours ago or so... We've had over 100 instances of this error in the last 24 hours or so. Looks like some network issue, maybe even someone on Facebook's end (we use omniauth with google, and didn't see any errors there). Just curious if it's something others bump into right now.

[2019-03-09 13:16] simi commented on #317
I'm closing this issue for now. Please fix your app config @mr3abd and feel free to reopen this issue if you have still troubles.

[2019-03-09 13:16] #317 closed

[2019-03-11 08:47] javiercr commented on #283
@gingerlime we're experiencing the same here for the last 48 hours :/

[2019-03-11 10:08] gingerlime commented on #283
We're also hosted on Google (in Belgium)! Interesting...

[2019-03-11 12:16] simi commented on #283
Hello, would you mind if I close this issue? Feel free to discuss your problems in here, but there's nothing we can do about that in codebase if I understand it well since it is connection/network problem.

[2019-03-11 12:26] gingerlime commented on #283
Yes, I understand... But this seems like the only place to find out if others are experiencing such issues.

Are there any settings to extend the wait timeout though? this can be useful in some circumstances, or maybe auto-retry if it fails? (this is something that this gem can help with, I believe).

[2019-03-11 12:31] simi commented on #283
I think you should use our own retry mechanism since there's no general approach fitting all needs. Personally I use https://github.com/ooyala/retries gem to wrap code to handle retries on 3rd party services.

[2019-03-11 12:51] gingerlime commented on #283
The gem looks really cool. Thanks @simi !

Any particular reason not to incorporate it within omniauth-facebook though (maybe with a default of 1 retry would make the most sense and is backwards compatible)? or how would you recommend using it together with omniauth-facebook?

[2019-03-11 13:53] simi commented on #283
I think it is not good idea to couple this gem with retrying mechanism as I wrote before. If you're facing some problem as in first post stacktrace, you can just use retries gem with to retry on `Faraday::ConnectionFailed` exception.

Just find a line (mentioned as `call_fb_line` in example code) in your app raising this exception and wrap it as stated at https://github.com/ooyala/retries#custom-e

[2019-03-11 13:58] gingerlime commented on #283
Thanks @simi, but I'm not talking about my own code here, but rather about `omniauth-facebook`. So when I include the gem and configure it, I'm not sure where to set up retries... I guess I'm missing something obvious here, but I'm not sure how to do it.

Also, I understand that you think it's not a good idea, but could you explain why? A retry default of 1 would keep backwards compatibility, and

[2019-03-11 14:05] simi commented on #283
This gem provides only strategy for facebook for https://github.com/omniauth/omniauth build on top of https://github.com/omniauth/omniauth-oauth2 which is build on top of https://github.com/oauth-xx/oauth2. If you think retrying mechanism should be part of omniauth itself, please open issue in there. Can you reproduce the same problem with example app in example directory? If I remember well on pr

[2019-03-11 15:46] javiercr commented on #283
@gingerlime we're also in Google Cloud Belgium (europe-west1), so probably it was a connectivity issue from GCP to Facebook. We haven't experienced there error again for the last few hours.

I like @simi's suggestio nof using `retry`, we'll give it a try. Thank you!

[2019-03-12 10:56] gingerlime commented on #283
@javiercr Out last occurrence was 2019-03-10 06:37 am UTC

I'm not sure I fully understand how to use `retries`, but I guess I'll have to dig a bit deeper. We've been using omniauth with facebook/google without really understanding how things work. @javiercr if you have any tips, I'd be happy to hear :)

Thanks again @simi for the links and suggestion. Much appreciated.

[2019-04-11 08:01] pduersteler commented on #236
Just had the same problem after it worked for some time and found a solution, at least in my case. Maybe it helps someone.

I was testing an app through my sandbox/test app. Inside the [facebook graph api explorer](https://developers.facebook.com/tools/explorer/), I selected "User token", added the "email" permission (again, as I removed it for testing something else a while ago). Requesting a new

[2019-06-18 08:29] NicoSa opened #319 "Security alert on Github due to usage of omniauth gem"
Hi there, first of all, thanks for your awesome work on this.

The issue I currently see is a security alert from Github due to the requirement of the `omniauth` gem in `omniauth-facebook`. Now according to this [thread](https://github.com/omniauth/omniauth/pull/809) the maintainers of that gem see the responsibility to handle the cause of that security issue with the gem requiring their gem which

[2019-06-18 08:40] simi commented on #319
You need to update omniauth via `bundle update omniauth` in your project.

[2019-06-18 09:05] NicoSa commented on #319
Hey @simi, the problem is that does not actually help since all versions of omniauth are flagged as having this vulnerability. See https://rubygems.org/gems/omniauth and @
<img width="1129" alt="Bildschirmfoto 2019-06-18 um 11 05 00" src="https://user-images.githubusercontent.com/5588696/59668530-f1e77a80-91b8-11e9-85ad-00ab92a2695b.png">

[2019-06-18 15:46] afsmarques opened #320 "Facebook login always prompting pages authorization"
Hi there,
Do we have some way to prompt the pages permissions only on the first time that the user is logging in?
I have all the permissions approved on my facebook app (manage_pages, pages_messaging, pages_messaging_subscriptions), but even with that, when i'm logging in i'm being prompted by facebook to authorize managing pages, etc...

[2019-06-19 14:46] simi commented on #319
Please reach omniauth to fix that on their side then. There's nothing we can do about it in here.

see https://github.com/omniauth/omniauth/issues/960 and https://github.com/omniauth/omniauth/pull/809

[2019-06-19 14:46] #319 closed

[2019-06-26 15:01] goldenlink opened #321 "Invalid verification code format"
Hi, I'm trying to register login with my React frontend. On the front end, I use the react-faceboo-login component. On the response, I get the response. I add to the callback url
 ?code='signedRequest' and pass the response as the POST body.

On the Rails side, I get the following error.

Authentication failure! invalid_credentials: OAuth2::Error, {"message"=>"Invalid verification code format.", "

[2019-06-27 14:57] yuvi17 opened #322 "Interested in being a maintainer"
Hi, I would be interested in being a maintainer of this repository. Please tell me the further steps for the same. I would in the meantime go through the code and the issues section to see where I can contribute.

[2019-06-27 15:00] simi commented on #322
Hello. I'm the only active maintainer now AFAIK. If you would like to help, feel free to browse thru issues and try to help. I think there's a lot of issues which can be already closed now. Just leave a note in any of those and I'll take a look. You can start from the oldest ones. That help will be really valuable. Thanks for your offer to help @yuvi17!

Can we close this issue for now?

[2019-06-27 15:07] #322 closed

[2019-06-27 18:03] yuvi17 commented on #303
@JoelRobinson90 can you assist us with some logs or something similar if the issue still persists for you?

[2019-06-27 21:45] simi commented on #303
@JoelRobinson90 if you think the router is not using controller in your Rails application, that's definitely not problem of this library. As @yuvi17 mentioned, please provide some logs if you think there's any problem with omniauth-facebook library pointing to the problem.

[2019-06-27 21:45] #303 closed

[2019-06-28 05:07] yuvi17 commented on #271
Hi @Meroal if the control flow is reaching the controller, it seems to some issue after the auth is done. Can you check if some validations are failing silently causing this behaviour in the `sign_in_and_redirect` function?
Also, a log of what is coming in from FB might be helpful here.

[2019-06-28 05:11] yuvi17 commented on #267
@frederickdubois we've been using this gem for quite some time now and no such issue has been observed. Have you observed something similar again or was this a one-off incident?

[2019-06-28 05:19] yuvi17 commented on #321
Linked to https://github.com/mkdynamic/omniauth-facebook/issues/204
@goldenlink can you have a look at this and see if this solves your problem.
Also, this SO link might also be helpful https://stackoverflow.com/questions/16176208/rails-could-not-authenticate-you-from-facebook-because-invalid-credentials

[2019-06-28 05:27] yuvi17 commented on #284
@filipesiciliano did @erkie 's comment help you out or you would need some more information?
This SO thread might be helpful: https://stackoverflow.com/questions/16176208/rails-could-not-authenticate-you-from-facebook-because-invalid-credentials

[2019-06-28 08:55] goldenlink commented on #321
Thanks, actually found out partly the issue here. On the front-end, it uses directly the Facebook SDK to handle profile retrieval. It actually does not return the code to be passed to the callback, but it returns the profile hash with an access token.

Facebook documentation claims that I should actually check the access token rather then exchange it.
https://developers.facebook.com/docs/facebook-

[2019-06-28 11:00] yuvi17 commented on #306
@modusss Hey, if the accepted answer from SO solved it, can we close this issue. cc: @simi

[2019-06-28 11:03] #306 closed

[2019-06-28 11:07] yuvi17 commented on #321
@goldenlink are you getting the same error, invalid hash. The issue AFAIK was that the FB API was returning data in different formats for different versions, for a patch was merged. Can you check if you are using the correct versioned API and the format is set in accordance with what API will return?

However, if what you have described is the case, I think more investigation is needed.
cc : @simi

[2019-06-28 11:12] simi commented on #321
Isn't this related to https://github.com/mkdynamic/omniauth-facebook/pull/315 :question:

[2019-06-28 11:25] yuvi17 commented on #321
@simi yes, this looks related to that. How are you planning to proceed on that?

[2019-06-28 12:47] frederickdubois commented on #267
@yuvi17 I'm gonna close this issue as the problem did not happen again, probably related to my specific app

[2019-06-28 12:47] #267 closed

[2019-06-28 14:56] goldenlink commented on #321
@yuvi17 Well, I'm using v3.0 now. But the issue is the same whatever is the API. Actually, this is the FB JS SDK that causes the issue. Even if you ask for a code and not a token, it decides based on the platform, ... to return directly the profile hash and access_token.

This is actually the full authentication data. But this data has to be validated by the server on sign_in / register to guarant

[2019-06-28 16:54] CvX commented on #267
@frederickdubois A similar thing happened in my app (3-4 times over last two years). I couldn’t track it down. For a white I thought that maybe somehow `session` object (where I store the user id) got shared between requests. But this issue report got me thinking that maybe it was omniauth-facebook… 🤔

[2019-06-28 17:12] frederickdubois commented on #267
I think the problem I had was that some users data did not contain an email and for those my app did not retrieve the correct user... something like that... 99.99% of FB users had an email but a small portion did not return any...

Been a while since I worked on this so I'm not totally sure... :)

[2019-06-28 17:43] CvX commented on #267
Hm, that definitely wasn’t the case in my app. Here I had a closed environment with exactly 3 users, with all required data, and yet – some actions were logged as done by another user…

[2019-06-28 21:58] yuvi17 commented on #229
@andrewhavens can this be closed if the solutions suggested by @dminchev worked? cc: @simi

[2019-06-28 22:33] andrewhavens commented on #229
@yuvi17 I'm not convinced that @dminchev's solution is related to the original issue, considering his solution is what I mentioned in my original post. It's been a long time since I've looked at this. Has anyone tried to reproduce this recently using the Facebook Javascript SDK?

[2019-07-05 10:01] goldenlink commented on #321
So, after a little pause to get some fresh eyes, here what I found. Facebook is actually sending the code, but hidden in the signedRequest response.
signedRequest is a JWT token. In the payload part, we find 'user_id', 'algorithm', 'issued_at' and the 'code'.
So omniauth-facebook code could be updated to accept directly the signed request as a different named param, or let the user handle decoding

[2019-07-05 10:04] simi commented on #321
Thanks for your info  Can you provide some example please?

Dne pá 5. 7. 2019 12:01 uživatel goldenlink <notifications@github.com>
napsal:

[2019-07-05 18:25] goldenlink commented on #321
Well, actually, digging and digging is a good thing. The case was correctly handled by using cookies. The only issue was about facebook not setting my cookie and the cookie not being transmitted in my REST XHR. I've sent a PR #323 to accept signedRequest over parameters not only cookies.

Let me know what you think. At least it solved my mysteries and let me learn a lot about facebook SDK and omni

[2019-07-11 00:40] gmdmartin commented on #283
Don't use retries. This happened to us (the provider is irrelevant). We blocked IP addresses ranges due to getting attacks from different countries/networks. Turns out Facebook uses one of those networks. So check your ACLs in your servers/firewalls/VPCs/etc. and try disabling them to find the network being blocked.

[2019-07-25 15:26] YassineDM opened #324 "ReactJs Web client + Ruby-on-Rails API server - Authentication with facebook using Devise"
### Configuration

- Provider Gem: `omniauth-facebook 5.0.0`
- Other Gems: `devise 4.6.2` + `omniauth-google-oauth2 0.7.0`
- Ruby Version: `2.6.2`
- Framework: `rails 6.0.0.rc2`

### Expected Behavior

Authentication to facebook or google_oauth2 should succeed (returning `request.env['omniauth.auth']`).
I followed the Devise guide to integrate with Omniauth ([here](https://github.com/plataformatec

[2019-08-30 15:31] mtoribio commented on #229
I've found the same problem...

[code]
with this, `request.env["omniauth.auth"]` is `nil`

If I use the server-flow it's works

[2019-09-06 23:12] kinsbrunner commented on #148
Hi guys,

I am struggling with this. Has anyone come up with any solution? I am working with React client on port 3000 and with Rails API on port 3001.

The error I am getting is:
Access to XMLHttpRequest at 'https://www.facebook.com/v2.10/dialog/oauth?client_id=19176674xxxxxxxxx&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fomniauth%2Ffacebook%2Fcallback&response_type=code&scope=public_profile%2C+

[2019-09-07 17:45] chadnewbry commented on #148
It's been a long time since I worked on this, but I seem to remember I was doing what @camonunez  mentioned above.

[2019-09-07 18:06] kinsbrunner commented on #148
@chadnewbry not sure why you did what @camonunez said as the /auth/facebook is a GET action and not a POST. Just tried to do it and I got a 404 as that route was not found.
Rails server is running on port 3001 while React client is on port 3000.
![image](https://user-images.githubusercontent.com/16242832/64478594-a96ca700-d180-11e9-9e92-788fa051abba.png)
There are 2 weird things I can point out:
1

[2019-09-08 03:24] kinsbrunner opened #325 "Not able to trigger /auth/facebook"
Hi all,
I have been struggling for a long while trying to determine the correct approach to use the omniauth-facebook gem.
I am running my API on port 3001 while my frontend (in my case coded on ReactJS) is running on port 3000. As per what I have been researching, this is a common issue but there is not a clear answer nor documentation here. I am not expecting to use any additional SDK as I under

[2019-09-17 21:32] diegoacuna commented on #247
@simi I think this can be closed by now, omniauth-facebook is working fine with Rails 5

[2019-09-17 21:35] diegoacuna commented on #325
@kinsbrunner try doing the link to /auth/facebook without Axios, just use a normal link (no ajax).

[2019-09-17 22:20] kinsbrunner commented on #325
Thanks for your answer @diegoacuna .

Could you please share a simple code snippet of how to achieve this? Also, is this an idea or have you already faced this issue?

[2019-09-18 02:57] diegoacuna commented on #325
@kinsbrunner you basically have two options: to use the JS SDK (and use client-side functions for the login) or to use the backend (which you're currently using). The recommendation I gave you above reflects how actually OAuth works using the backend. Very briefly, the idea is the user uses a third-party provided login credentials and that third party gives back a token to your application that al

[2019-09-18 08:21] simi commented on #247
Ahh, thanks for info!

[2019-09-18 08:21] #247 closed

[2019-09-21 11:16] jacek213 commented on #324
@YassineDM have u managed to solve this?

[2019-09-22 13:44] YassineDM commented on #324
I did not find yet a solution yet (I do not even understand my problem) so I could not advance on the omniauth topic unfortunately...

I even reached out for help on SOF, without success: https://stackoverflow.com/questions/57205226/reactjs-web-client-ruby-on-rails-api-server-authentication-with-facebook-g?noredirect=1#comment100918706_57205226

[2019-09-23 01:02] gsolak commented on #61
By default, the email field will not return unless specified.

[2019-09-28 21:58] kinsbrunner commented on #325
Thanks @diegoacuna.
When adding the link directly into my view, I am getting things to start working but still missing a last part. I can see the backend getting called when clicking on auth/facebook and, then, the callback is also called and I get a JSON object back. What is next? How to I connect that JSON with the return from FB API with my React SPA?

[2019-09-29 05:09] jivKrishna opened #326 "Hey, can any one resolve this issue?"
https://github.com/zquestz/omniauth-google-oauth2/issues/375

[2019-10-06 22:11] kinsbrunner commented on #325
Hi guys,
Any other idea will be much appreciated.
Cheers.
Alejandro.

[2019-10-09 10:58] bsh185 opened #327 "Is this gem no longer maintained ?"
Facebook graph API is now at V4.0 and this gem current graph version is v2.10 and  will be deprecated on Nov 05, 2019 will there be any updates on this gem anytime soon ? is there an alternative to this gem ?

[2019-10-09 11:00] simi commented on #327
You can use any version endpoint you need - https://github.com/mkdynamic/omniauth-facebook#api-version. If you'll be able to test V4.0 endpoint with this gem, we can release new version before 2.10 will be deprecated and move endpoint to some newer. We will need also to see differences to inform about backward incompatible changes.

Would you mind to help @bsh185?

[2019-10-09 11:15] bsh185 commented on #327
I tried both 3.0 and 4.0 and login via Facebook seems to work fine, i tried the V4.0 and my site was able to get the needed user info to create a new one (email, first name, last name) with no issues.

[2019-10-22 03:18] mr3abd commented on #317
Thanks all ,
But all solutions not for my case

when put that in production file my problem is fixed

`OmniAuth.config.full_host = "https://example.com"
production.rb`

[2019-10-28 14:01] svoop commented on #327
@simi Tested v4.0 with `scope: public_profile,email` and `info_fields: email,first_name,last_name` – works like a charm.

[2019-10-29 07:03] adieananda opened #330 "Get phone number"
is it possible to get phone number?

[2019-10-29 10:15] simi commented on #330
I'm not sure how this is related to this library, anyway I think it is not possible. See https://developers.facebook.com/docs/graph-api/reference/user. There's no user phone number column.

[2019-10-29 10:15] #330 closed

[2019-11-07 02:12] edgar-abadines commented on #327
Is a new version coming out soon?  How can I help?

[2019-11-07 09:16] simi commented on #327
We need to somehow decide which will be the new default version.

see also https://github.com/mkdynamic/omniauth-facebook/pull/329

[2019-11-07 09:29] simi commented on #327
@svoop @bsh185 @edgar-abadines can you please test my cleanup of warnings before next release?

https://github.com/mkdynamic/omniauth-facebook/pull/331

[2019-11-10 06:31] #326 closed

[2020-01-14 10:53] #281 closed

[2020-01-15 05:06] albabar opened #334 "Interested to maintain the gem"
Dear @mkdynamic and other maintainers,

I'm a frequent user of this gem. Most of the project I worked on till now, this was an essential part. You guys really did a great job creating and maintaining this gem. We really appreciate it as a community.

I can understand life happens, priorities change, and someone cannot focus on the same thing all the time.

I'm really interested in taking the wheel

[2020-01-15 07:57] simi commented on #334
Hello, I'm still actively maintaining this.

Maintaining issues is a little painful since it is really hard to reproduce some issues reported.

If you would like to help, it will be nice if you can take a look at some issues and pull requests.

PS: There are some issues related to  FB API version used. I'm trying to keep it backwards compatible as possible and you can still use any API you need by

[2020-01-15 08:09] albabar commented on #334
Thanks @simi for your prompt response. I saw the notice on the `README.md` file and thought you guys were looking for someone.

Okay, I'll definitely try to look into some issues as soon as possible. :)

[2020-01-15 08:22] simi commented on #334
Any help is appreciated. We're in the middle of moving this repo to me. Once done I can make you maintainer as well.

[2020-01-20 03:27] simi commented on #327
https://github.com/simi/omniauth-facebook/pull/332 was merged, closing for now

[2020-01-20 03:27] #327 closed

[2020-01-24 12:14] simi commented on #192
There is pull request opened for this (#309), we will continue discussion in there. I'm closing this for now. Thanks everyone for your comments here.

[2020-01-24 12:14] #192 closed

[2020-01-29 00:02] #325 closed

[2020-01-29 00:02] #324 closed

[2020-01-29 00:02] #320 closed

[2020-01-29 00:02] #321 closed

[2020-01-29 00:02] #302 closed

[2020-01-29 00:02] #292 closed

[2020-01-29 00:02] #287 closed

[2020-01-29 00:02] #283 closed

[2020-01-29 00:02] #284 closed

[2020-01-29 00:02] #280 closed

[2020-01-29 00:02] #275 closed

[2020-01-29 00:02] #274 closed

[2020-01-29 00:02] #271 closed

[2020-01-29 00:02] #263 closed

[2020-01-29 00:02] #264 closed

[2020-01-29 00:02] #270 closed

[2020-01-30 00:02] #255 closed

[2020-01-30 00:02] #257 closed

[2020-01-30 00:02] #249 closed

[2020-01-30 00:02] #250 closed

[2020-01-30 00:02] #236 closed

[2020-01-30 00:02] #187 closed

[2020-01-30 00:02] #229 closed

[2020-02-21 00:04] #334 closed

[2020-03-12 06:21] Lee1984 opened #337 "I have not been able to get the image_size option to work"
I am having issue setting the `picture` `image_size` setting like in #114 #91 I keep getting returning 50x50 pic look,

    --- !ruby/hash:OmniAuth::AuthHash
    provider: facebook
    uid: '...'
    info: !ruby/hash:OmniAuth::AuthHash::InfoHash
      email: ...
      name: Lee Eather
      first_name: Lee
      last_name: Eather
      image: http://graph.facebook.com/v4.0/.../picture?height=200&w

[2020-03-23 03:58] Henrik41 opened #338 "We are at graph v6.0"
I am not getting the User email despite setting the scope and info_fields.
This gem refers to v4.0 but we are at v6.0
Is this gem still working for v6.0?

[2020-03-23 08:24] simi commented on #338
This gems is at v6.0 which points to FB API v3.0 by default. You can use v6.0 FB API is needed by following README.md - https://github.com/simi/omniauth-facebook#api-version.

[2020-03-23 22:23] Henrik41 commented on #338
great it works! thx

[2020-03-23 22:23] #338 closed

[2020-04-18 00:03] #337 closed

[2020-07-23 14:14] madeleinel opened #339 "The Facebook Graph API needs to be upgraded by 28 July"
The current Facebook Graph API version (v3.0) is only available until July 28, 2020.

`omniauth-facebook` should be updated to use Facebook Graph API to 3.1 or above instead.

Thanks!

----

Version 3.1
Released July 26, 2018 | Available until October 27, 2020

https://developers.facebook.com/docs/graph-api/changelog/version3.1

[2020-07-23 14:30] simi commented on #339
Thanks for noticing this @madeleinel. You can still use newer version https://github.com/simi/omniauth-facebook#api-version. Anyway I think we can bump major version of this gem and update to FB API v4.0 by default. WDYT?

[2020-07-24 12:52] madeleinel commented on #339
That sounds like a good plan to me 🚀  Thanks @simi!

[2020-07-24 13:12] simi commented on #339
Would you mind to prepare pull request for this change @madeleinel? I think you can just follow https://github.com/simi/omniauth-facebook/commit/445d6d6872742eda4d5213d000f0f11d97a5c4e2. Just instead of 2.11 use 3.0 and instead of 3.0 you can use 4.0. New gem version should be 7.0.0.

[2020-07-24 14:49] madeleinel commented on #339
I tried that before I opened the issue, but I didn't have permission to push to the repo. Is there anything I need to do or set up to get push access @simi?

[2020-07-24 16:43] simi commented on #339
@madeleinel you need to fork this reporistory, clone locally, create new branch, commit your changes, push and open pull request

https://opensource.com/article/19/7/create-pull-request-github

Feel free to ping me if you need any additional help.

[2020-07-30 11:32] dcangulo opened #340 "How do you run unit tests locally?"
I have forked this open PR https://github.com/simi/omniauth-facebook/pull/315 into my organization account (https://github.com/drophive/omniauth-facebook) and rebased it on the master of this repository to update it from v5 to v6.

I am planning to rebase it whenever something is merged in the master of this repository until you merge the PR into the master of this repository as we really need the

[2020-07-30 11:48] simi commented on #340
1. clone
2. bundle install
3. bundle exec rake test

[2020-07-30 11:49] simi commented on #340
#315 awaits more community testing. Feel free to report your results in original case. We can probably merge it.

[2020-07-30 12:46] #340 closed

[2020-08-03 15:20] madeleinel commented on #339
Ah, I'd forgotten about the forking step - thanks!

I've opened a PR for this: #341

[2020-08-26 13:30] olleolleolle commented on #339
@madeleinel Thanks for reporting and repairing this issue! 🎉

[2020-08-26 18:50] simi commented on #339
merged and release, closing

[2020-08-26 18:50] #339 closed

[2020-09-03 10:35] juanibiapina commented on #339
It looks like this is a major version bump without breaking changes for users of this library. Is my understand here correct?

The diff doesn't show any changes in the public API of this gem.

[2020-09-03 11:19] simi commented on #339
Yes, we do major bumps as well when changing default endpoint (default FB API version).

[2020-09-24 10:49] anklos opened #343 "user profile image url issue from the new graph API requirement"
Currently if I turn on facebook development mode, I find that all users' facebook profile image urls will redirect to the default empty facebook image.

Image urls that saved in my database are like: `http://graph.facebook.com/v4.0/10207720064671302/picture`. And it will redirect to an empty image url like `https://scontent.fsyd3-1.fna.fbcdn.net/v/t1.30497-1/cp0/c15.0.50.50a/p50x50/84628273_176159

[2020-10-19 22:09] #343 closed

[2020-10-20 10:38] swiknaba opened #345 "Change default of secure_image_url to true, because downloading image via http results in 500 error"
When trying to download the profile image via

[code]

Facebook responds with a 500 error. Switching protocol from `http` to `https` solves the problem.

Looking into the Facebook docs: https://developers.facebook.com/docs/facebook-login/security#surfacearea
we see that starting from the 6th of October 2018, using HTTPS is mandatory:

hence I propose to switch the default of `secure_image_url` fro

[2020-10-20 10:44] simi commented on #345
yes, feel free to do

[2020-10-22 12:18] prognostikos opened #347 "image_url results in `API calls from the server require an appsecret_proof argument` error"
We just upgraded to version 8.0.0 which added the `access_token` parameter to the image url. Now we're getting an error when trying to download an image:

[code]

It looks to me like the image url also needs to include the `appsecret_proof` parameter as well. Would a PR to add this be accepted?

[2020-10-22 12:47] simi commented on #347
@anklos @olivierjm @tupakapoor any idea? Isn't that related to some app specific setting?

[2020-10-22 12:54] tupakapoor commented on #347
I’m not certain - I don’t recall seeing that in the docs nor did I receive that issue when pulling a profile picture. Will dig a little today and see if I can find anything/reproduce.

[2020-10-22 12:55] simi commented on #347
@prognostikos is your problem gone when providing `appsecret_proof`?

[2020-10-22 13:11] OlivierJM commented on #347
We also upgraded to v8.0 and it works fine with the access_token, The case might for `appsecret_proof ` might be specific for some apps. @tupakapoor let us know what you find.

[2020-10-22 21:25] anklos commented on #347
@prognostikos can you please check if you have this setting turned on

![image](https://user-images.githubusercontent.com/530145/96931560-3996b880-1509-11eb-8ae2-f10f57918213.png)

[2020-10-23 06:16] prognostikos commented on #347
Yes, it works if I include `appsecret_proof` in the image url.

[2020-10-23 06:17] prognostikos commented on #347
We do have this setting on. So I guess this should be a configuration option if you folks want to include it. Let me know and I'll submit a PR.

[2020-11-02 07:46] knu commented on #343
Are the new URLs with access_token added really fetchable?  We keep getting 500 Internal Server Error.

[2020-11-02 07:56] knu commented on #343
After upgrading this gem to 8.0.0, we have never succeeded in fetching images.  Image URLs with access_token added do not seem to work at all.

[code]

Removing the access_token parameter, it becomes accessible, at least for now.

You can view the image on a Facebook authenticated browser, though.

[2020-11-02 08:13] simi commented on #343
@knu can you try with https as suggested per https://github.com/simi/omniauth-facebook/issues/345?

[2020-11-02 08:23] knu commented on #343
@simi Ah, thanks, didn't notice there was already a PR for this.  Will give it a try.

[2020-11-02 16:31] pdfrod commented on #343
@simi I tested https://github.com/simi/omniauth-facebook/pull/346 and it fixed the issue for me. Any estimate when it will be merged?

[2020-11-02 17:28] simi commented on #343
@pdfod there's no need to wait for that change, since it just change default configuration. You can configure it today per https://github.com/simi/omniauth-facebook#configuring in current version.

Anyway no idea about the merge for now.

[2020-11-02 19:38] pdfrod commented on #343
Ah right, I missed that. I guess I don't need to wait for a release, then.

Thanks for the tip!

[2020-11-25 00:13] #345 closed

[2020-11-26 11:32] jamesbebbington commented on #347
Hey @prognostikos we also have the `appsecret_proof` option turned on, so would be very grateful to see a PR for support for it submitted.

[2020-12-02 00:15] #347 closed

[2020-12-21 20:31] BobbyMcWho opened #348 "OmniAuth v2.0.0rc1"
Hello, maintainer of OmniAuth here.

I just wanted to make the maintainers of this gem aware of the discussion that I have opened regarding v2.0.0 of OmniAuth. I invite you to join in and voice any concerns you may have here: https://github.com/omniauth/omniauth/discussions/1017

[2020-12-21 20:40] simi commented on #348
I'll take a look. Thanks for notifying me.

[2020-12-21 20:40] #348 closed

[2021-01-12 08:49] olleolleolle opened #349 "CI: Get off Travis"
This Issue represents the idea: "Start using another CI provider".

https://twitter.com/james_hilliard/status/1336081776691843072

[2021-01-12 09:15] simi commented on #349
Yes, that's really unfortunate move from Travis CI. Let's move to another CI. Thanks for all the effort!

[2021-01-12 16:57] #349 closed

[2021-01-13 07:16] olleolleolle opened #351 "CI: add Ruby 3 to the test-matrix"
How about adding Ruby 3 to the test-matrix? It is not yet widely used, but it's the official stable release now.

_Originally posted by @swiknaba in https://github.com/simi/omniauth-facebook/issues/350#issuecomment-758792820_

[2021-01-13 11:25] #351 closed

[2021-01-13 11:31] olleolleolle opened #353 "Gemfile: simplify away a Ruby 2.2.2 detail"
[code]

We no longer test on such a Ruby. We can simplify this line.

[2021-01-13 11:39] simi commented on #353
:+1:

[2021-01-13 12:03] #353 closed

[2021-02-08 22:45] firrae opened #356 "CORS error on redirect?"
Hi there,

I've tried reaching out for help in a number of places so far with little to no replies so hopefully this is fine to reach out here. I have a SO if you know the answer and want the points there feel free to answer and I'll accept: https://stackoverflow.com/questions/66085378/devise-omniauth-facebook-login-stuck-with-cors-issue.

Synopsis of the issue is I set up Omniauth-Facebook alongs

[2021-02-09 00:03] swiknaba commented on #356
You are not stupid, it is the same issue I have laid out here: https://github.com/simi/omniauth-facebook/issues/345

This library will **by default** return a 500 error unless you change a setting. This is horrible, however, my PR to correct the default settings to a sane default here: https://github.com/simi/omniauth-facebook/issues/345 got no attention 🤷‍♂️

here:
https://github.com/firrae/devis

[2021-02-09 04:57] firrae commented on #356
@swiknaba thanks for the input. While that might have eventually become an issue this CORS issue is happening before even getting to the login screen. It happens when the server returns the redirect to the Facebook login endpoint and then complains that the redirect is going to another domain.

Any other ideas?

[2021-02-09 05:16] simi commented on #356
@swiknaba hello. I'm not sure if I follow this, but #345 is not actual pull request, but issue and I have replied in there I would welcome that change if anyone can provide pull request. There was no additional response and thus it was closed due to inactivity. So feel free to open pull request regarding that one.

[2021-02-09 05:52] firrae commented on #356
Some more info, when I remove the POST method from the link it at least tries to do something but still ultimately fails, but I'm pretty sure it's the client flow, which is not my goal. When I use POST it still returns the redirect error.

[2021-02-09 06:20] firrae commented on #356
Also pretty sure it’s #346 that is the PR @swiknaba  referenced.

[2021-02-09 09:37] swiknaba commented on #356
@simi Sorry for being a bit harsh yesterday, it was a frustrating day :D

looking at the URL, it seems you are still using graph version 4. That is still supported, but you could try using e.g. v8 or v9. See: https://developers.facebook.com/docs/graph-api/changelog -> I am using v8 for all projects, and besides the image-URL problem I've never had issues with this gem.

https://github.com/firrae/d

[2021-02-09 23:54] firrae commented on #356
@swiknaba Do you use the client flow or the server flow? Using your config it seems to be trying to use the correct API version (V9.0). The V4 was the default generated as I didn't change anything. App ID and Secret are correct, but I'm still getting the following:
![image](https://user-images.githubusercontent.com/6454839/107443578-21be6100-6b07-11eb-967c-607b9d0304c5.png)

This happens as soon a

[2021-02-10 00:07] firrae commented on #356
OK, something I thought to try, but turning off the JS from hotwire-turbo I at least get a little further it seems? Pressing the `POST` link generated it returns me to:
[code]

CLI:
[code]

That seems like it's at least doing something? Seems like maybe the way Hotwire-Turbo is intercepting links is causing an initial issue?

[2021-02-10 00:46] firrae commented on #356
OK, making it a button and putting Turbo's 'data-turbo: "false"` tag on the button seems to get me to the same place as having disabled it. So I guess now hopefully onto the next thing? For the moment I'll keep this open while I try and figure out this new point of error just in case more comes up related to this.

Thank you both for at least trying to help, it just ended up being something I didn

[2021-02-10 10:40] swiknaba commented on #356
this is an error in your app. Have a look at your schema: https://github.com/firrae/devise-omniauth-facebook-CORS-error-example/blob/master/db/schema.rb
You users table does not have `name`, yet you try to set it here: https://github.com/firrae/devise-omniauth-facebook-CORS-error-example/blob/master/app/models/user.rb#L12

I use https://github.com/ctran/annotate_models/ to automatically have the d

[2021-02-12 05:04] firrae commented on #356
@swiknaba yes, I fixed most of the issues and figured out what I needed. I plan on taking what I got working and using it as the foundation to designing my actual DB layout and going forward. Thanks to you both!

[2021-02-12 05:06] firrae commented on #356
@simi this seems to be coming up in other places, but my title doesn't cover it well. Would you prefer I change the title?

I also plan on submitting a PR to the documentation to help clarify this caveat with Hotwire/Turbo. Is there a specific place you'd prefer it put?

[2021-03-09 01:16] koshilife opened #357 "support OmniAuth 2.0 series"
OmniAuth 2.0 was released includes to resolved CSRF vulnerability [CVE-2015-9284](https://nvd.nist.gov/vuln/detail/CVE-2015-9284) and some behaviors changed.

See below the release note for details.
https://github.com/omniauth/omniauth/releases/tag/v2.0.0

If an OmniAuth Strategy has overridden `callback_url`, it is needed to follow changes because of
[the callback_path changes](https://github.com

[2021-03-09 09:10] simi commented on #357
Hello, @koshilife thanks for the report. Please open the pull requests, I'll review, merge and release A$AP.

[2021-03-09 10:54] swiknaba commented on #357
The minimum flow does work with this gem in combination with OmniAuth 2.0 (I've recently upgraded some projects already and tested the Facebook login). Besides switching the request to POST in the routes file, no other major changes were required in my codebase (which is private, so I can't share the relevant PR unfortunately).

[2021-03-11 15:42] cmccarty opened #360 "Issue with access_tokens expiring for photos?"
Is it possible that PR #344 added access_tokens to all types of scoped requests?

I am seeing cases where FB returns `Error validating access token`, but if I remove `access_token` from the URL completely, then the URL works.

[code]

From the FB docs https://developers.facebook.com/docs/graph-api/reference/user/picture/#requirements
it seems that an access_token is not needed for /picture request

[2021-03-11 15:47] swiknaba commented on #360
from https://developers.facebook.com/docs/graph-api/reference/user/picture/#requirements
[code]

and from https://developers.facebook.com/docs/messenger-platform/identity/id-matching/ we learn:

From this I understand, that we are in the first case _If querying an App-Scoped User ID_, thus an access token might indeed not be necessary.

[2021-03-21 00:16] #356 closed

[2021-04-15 00:06] #357 closed

[2021-04-17 00:06] #360 closed

[2021-05-03 15:01] keviinlouis commented on #316
Any suggestions @mr3abd ?

[2021-05-03 16:24] swiknaba commented on #316
Seems like you are using omniauth 2.

[2021-05-23 03:15] Lee1984 opened #361 "ActionController::RoutingError (No route matches [GET] “/auth/facebook”)"
Current behaviour:

`omniauth-facebook` gem causes `ActionController::RoutingError (No route matches [GET] “/auth/facebook”) ` output in server log

Expected behaviour:

omniauth-facebook gem sends A get request to facebook login

Details:

https://stackoverflow.com/questions/67655809/actioncontrollerroutingerror-no-route-matches-get-auth-facebook-faceboo

Setup:

ruby '2.6.5',                  :p

[2021-05-23 05:20] Lee1984 commented on #361
Solved by updating dependencies.

[2021-05-23 05:20] #361 closed

[2021-06-20 18:51] gscoders opened #362 "Already have token from mobile plugin"
Hi, I am building hybrid app on mobile using Ember + Capacitor.js, there are plugins for authentication with Facebook and Google apps on phone, then I have already access tokens, can I send this token to some route in this omniauth flow?

[2021-07-15 08:05] arslanyousaf77 opened #363 "You are using an old OmniAuth version"
I have installed the gem using `gem 'omniauth-facebook'`. When I run the server it gives the error `You are using an old OmniAuth version, please ensure you have 1.0.0.pr2 version or later installed. (RuntimeError)`. Can anyone please help?

[2021-07-15 08:15] swiknaba commented on #363
That has nothing to do with this gem in particular. Check out the gemspec file to see dependencies, go to the omniauth gem and see the latest major version jump (which had quite some implications on how you use these gems!), then check your own app and see where you got this old version from...

This question + answer should be on stackoverflow, as this looks like a general problem with installing

[2021-07-15 08:26] #363 closed

[2021-07-27 00:02] #362 closed

[2021-10-25 10:26] mstr03 opened #367 "Bump Facebook Graph API to v5.0"
Hello everyone, Facebook Graph API for this gem should to be bumped to higher version soon. [Already opened relevant PR](https://github.com/simi/omniauth-facebook/pull/366).

[2021-10-25 18:42] #367 closed, assigned to nobody

[2021-11-23 16:09] sbocinec opened #370 "Incorrect github release version"
The GitHub release version metadata for `v9.0.0` git tag seems to be wrong - instead of `9.0.0` it displays the latest version is `7.0.0` with the following title: `v7.0.0 (defaults to FB Graph API 5.0) Latest`, as can be seen on the screenshots:

* ![Screenshot from 2021-11-23 17-07-02](https://user-images.githubusercontent.com/4834459/143060689-53f46ad8-0d7a-4167-9a42-4d0730540c34.png)

* ![Scre

[2021-11-23 19:47] simi commented on #370
@sbocinec thanks for the report :heart:. It was just wrong name of the release. It should be fixed, feel free to check and close the issue.

[2021-11-23 21:06] sbocinec commented on #370
@simi everything looks good now. Thanks for the quick fix :handshake:

[2021-11-23 21:06] #370 closed

[2022-01-21 15:54] Tashows commented on #283
I am experiencing the same issue. I've figured out that the problem ONLY occurs when the facebook-omniauth process starts and then ANOTHER request is made to the app, before the facebook callback is received. Once it is actually received this error is thrown: omniauth: (facebook) Authentication failure! execution expired. Any clues about concurrency issues?

[2022-01-24 07:39] mrabro opened #371 "Authentication failure! invalid_credentials: OAuth2::Error, : {"error":{"message":"Can't load URL: The domain of this URL isn't included in the app's domains. To be able to load this URL, add all domains and sub-domains of your app to the App Domains field in your app settings.""
Hello, I have been trying to integrate social login to my app, But stucked in nowhere....

my gem file:
[code]

devise.rb
`config.omniauth :facebook, "APP_ID", "APP_SECRET", token_params: { parse: :json }`

user model:
`devise :omniauthable, omniauth_providers: %i[facebook]`

and then adding link to view
`link_to "Register with Facebook", user_facebook_omniauth_authorize_path, method: :post`

but

[2022-02-13 16:07] ndvbd opened #373 "The action 'facebook' could not be found for Devise::OmniauthCallbacksController"
I am getting the message

`The action 'facebook' could not be found for Devise::OmniauthCallbacksController`

How can I debug what's going on? Where should I place the breakpoint?

[2022-02-13 16:47] swiknaba commented on #373
No offence, but I believe this question belongs to [StackOverflow](https://stackoverflow.com/search?q=debug+Devise%3A%3AOmniauthCallbacksController). Mind closing the issue, unless there is a real issue related to the gem?

[2022-02-16 02:37] ksss opened #374 "Graph API v5.0 has already unavailable."
https://developers.facebook.com/docs/graph-api/changelog/version5.0

Are there any plans to upgrade Graph API?

ref: https://github.com/simi/omniauth-facebook/pull/366

[2022-02-16 09:15] simi commented on #374
@ksss would you mind to send PR to update to newer version of API? You can switch to different version as described in README https://github.com/simi/omniauth-facebook#api-version. But it would be nice to keep available version as a default.

[2022-02-16 14:29] ksss commented on #374
That's a good option.
Thank you.

[2022-02-16 14:29] #374 closed

[2022-02-28 09:13] #373 closed

[2022-03-01 00:07] #371 closed

[2022-03-29 09:03] pboling opened #375 "New maintainer proposal"
I maintain the oauth2 gem which is a dependency of this gem (by way of omniauth-oauth2), and _would like to be a maintainer here as well_.

I am working a new *major* release of the `oauth2` gem (v2.0.0), which will have a number of potential breaking changes.     I want to do what I can to ensure other major gems, with millions of downloads and implementations, that depend on `oauth2` don't die h

[2022-03-29 09:53] simi commented on #375
Hello, I'm trying to actively maintain this gem. Feel free to ping me with news in `oauth2` gem and open draft PR once ready. If you would like to help maintaining this gem, feel free to. Usually it is about issue triage and updating to latest valid API endpoint. This gem is otherwise pretty stable and there are no requests for new features. The only pending feature is https://github.com/simi/omni

[2022-04-06 08:07] deniciocode opened #376 "Separating Sign up and Sign in"
Hello,

I have a questions regarding the usage of `omniauth` and specially `omniauth-facebook`. We want to offer social login on our platform. If a new user wants to signup, everything is clear. New user will be created on the callback. Done.
How do I handle a user who tries to sign in, but never signed up with facebook before.
With this step I would like to protect an existing user (email/passwor

[2022-04-06 11:18] swiknaba commented on #376
I think this is best asked on Stackoverflow since that is an engineering challenge to be solved in your codebase. It is not really related to this gem.

You'll have the same problem with any OAuth login flow.

Quick thoughts: From the OAuth flow, you receive a unique ID from facebook ("uid"). You can store that in your `users` table, and on sign-in check if you have a user with that uid or not. Fr

[2022-04-06 12:04] deniciocode commented on #376
The question is, how to a differentiate `sign in` and `sign up`.

### Steps
- I visite `/auth/:provider` from the FE-Client
- `omniauth` takes care and `redirects_to` the provider
- user logins
- facebooks `redirects_to` `callback_url`

I am not sure where to hook in. On the visit `/auth/:provider` is there any change to pass data (like Query params) catch it on a controller and continue with `omn

[2022-04-11 09:28] deniciocode commented on #376
I am not sure, but I think by using `state` param, I am able to separate a login.

[2022-04-11 09:28] #376 closed

[2022-04-11 09:53] swiknaba commented on #376
great you found a solution. Thanks for updating the issue :-)

[2022-05-07 00:05] #375 closed