[2011-10-18 07:16] jimmycuadra opened #1 "Auth hash does not conform to OmniAuth 1.0 schema"
According to the [hash schema documentation](https://github.com/intridea/omniauth/wiki/Auth-Hash-Schema), there is a required `name` field within the `info` hash. OmniAuth::Facebook is supplying `first_name` and `last_name`, but not the generated `name` field.

[2011-10-23 06:46] #1 closed, assigned to mkdynamic

[2011-11-05 07:03] eklipse2k8 opened #4 "/oauth/authorize - 404!"
It takes me back to /oauth/authorize and fails with a 404

[2011-11-06 23:23] #4 closed, assigned to mkdynamic

[2011-11-10 22:13] courtsimas opened #5 ":display param is being ignored in initializer"
I've got this in my initializer:
[code]

And yet, the display param gets ignored and it defaults to 'page'. I've even tried 'touch' instead of 'popup'. No dice.
[code]

[2011-11-11 06:33] #5 closed, assigned to mkdynamic

[2011-11-16 02:27] phstc opened #8 "Facebook - If I use iframe=true, I get nil for env["omniauth.auth"]. :("
Hello

I would like to authorize and use my application only inside the Facebook. Is it possible?

I tried to use this configuration:

[code]

But it didn't work. :(

When I try to access the application inside Facebook (iframe) I get nil for env["omniauth.auth"].

If I comment the full_host

[code]

It works very well, but just outside Facebook.

If I remove the iframe parameter

[code]

I can us

[2011-11-16 06:29] #8 closed, assigned to nobody

[2011-11-22 15:13] dipth opened #9 "Dynamic providers not working"
I'm getting the following exception when trying to implement dynamic providers with Facebook, as described on: https://github.com/intridea/omniauth/wiki/Dynamic-Providers

[code]

Here is my setup method:

[code]

I have also tried with `client_id` and `client_secret` but simply get an `undefined method 'client_key='` instead.

[2011-11-23 04:06] mkdynamic opened #10 "Add support for client-side flow"
As per:
https://github.com/mkdynamic/omniauth-facebook/commit/7bede2d4a1e6a4017449045ae4ac9bcee9d79204#L0L20

[2011-11-24 10:14] #9 closed, assigned to nobody

[2011-11-25 04:11] bhanuprasad143 opened #11 ""/oauth/authorize": Invalid URL"
The URL is : https://graph.facebook.com/oauth/authorize?response_type=code&client_id=...
Response:
The requested URL "/oauth/authorize?r... " , is invalid.

In this page: http://developers.facebook.com/docs/authentication/
the url should be: https://www.facebook.com/dialog/oauth?client_id=YOUR_APP_ID&redirect_uri=YOUR_URL

Which URL is correct now?

I know there is a similar closed issue, but I tr

[2011-11-25 08:36] #11 closed, assigned to nobody

[2011-11-25 08:48] grantchen opened #12 "Access "/oauth/authorize" error"
when we use your gem.It turn me to https://graph.facebook.com/oauth/authorize?response_type=code&client_id=234847626576442&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fusers%2Fauth%2Ffacebook%2Fcallback

and page show bellow error. Can not goto facebook login page.

Fetch Server Info

GET 'https://graph.facebook.com:443/oauth/authorize?response_type=code&client_id=234847626576442&redirect_uri=http

[2011-11-25 10:28] #12 closed, assigned to nobody

[2011-12-07 00:03] evdevdev opened #14 "Facebook appending #_=_ to the redirect."
I believe this issue is succinctly explained http://stackoverflow.com/questions/7174162/facebook-omniauth-callback-and

In short, if you don't pass certain things to facebook, they append #_=_ to the url. Has anyone else encountered this? And if so, is there a work around? Tonight, I'll see if I can't hack up the code a bit...

[2011-12-07 16:35] budadcabrion opened #15 "Can you please update the omniauth-facebook gem?"

[2011-12-08 22:34] #15 closed, assigned to nobody

[2011-12-10 03:21] #10 closed, assigned to mkdynamic

[2011-12-17 02:52] bhellman1 opened #17 "Does omniauth-facebook support the new Auth Dialog?"
As described here: https://developers.facebook.com/docs/beta/authentication/

If this is mentioned somewhere, my appologies. I couldn't find a reference

[2011-12-17 03:12] #17 closed, assigned to nobody

[2011-12-19 13:33] ngw opened #18 "urls[ 'website' ] is not populated"
For some reasons I don't see the website key populated in the raw_info hash, with the result that I'm not able to get a user's personal website even if it's available on Facebook (i.e. urls=#<Hashie::Mash Facebook="http://www.facebook.com/nwieland">>).

Is it happening only to me? How can I double check / debug this? If I look at Facebook the website is correctly inserted.

[2011-12-19 19:43] #18 closed, assigned to nobody

[2011-12-29 23:24] mftaher opened #20 "example not working"
I was trying to run the example with my app ID and secret, but it failed to load the initial page with the following error:

NoMethodError at /
undefined method `include?' for nil:NilClass
Ruby    /Users/ftaher/.rvm/gems/ruby-1.9.2-p290@air/gems/omniauth-1.0.1/lib/omniauth/builder.rb: in call, line 33
Web     GET localhost/

I'm using unicorn to run the example.

Can you suggest what I am doing wr

[2011-12-30 03:38] #14 closed, assigned to mkdynamic

[2012-01-05 03:34] #20 closed, assigned to nobody

[2012-01-14 17:38] a-iasevoli opened #21 "Missing client_id parameter"
I'm testing my app in localhost.
When I click on the "login facebook" link from my app, this is the result:

{
   "error": {
      "message": "Missing client_id parameter.",
      "type": "OAuthException"
   }
}

in the URL there isn't the client_id parameter

[2012-01-14 17:50] #21 closed, assigned to nobody

[2012-01-19 18:38] YavorIvanov opened #22 "Can't get additional permissions."
Hi,

I can't get omniauth to ask Facebook for additional permissions.
Only offline and email are being passed on and asked for.
Here is my initializer code.

[code]

[2012-01-19 19:26] #22 closed, assigned to nobody

[2012-01-23 17:15] jonhyman opened #23 "Support Facebook's new offline_access paradigm"
It looks like Facebook started deprecating offline_access as of Friday the 20th:

https://developers.facebook.com/docs/offline-access-deprecation/

OAuth tokens can now be exchanged via arguments passed to Facebook:

[code]

[2012-01-27 16:20] sssb opened #25 "Facebook Canvas issues?"
I'm having trouble authenticating within Facebook's canvas... currently, I detect for the signed request like so:

[code]

But, I get an invalid credentials response ... I thought, looking through the code, the callback would take the oauth token from the signed request and go from there, but is that not the case? Or am I doing something clearly wrong in the redirect?

[2012-02-02 17:47] tscolari opened #26 "not receiving extras hash"
Hello!
I'm not receiving the extras hash that should come in omniauth.auth:

[code]

This is my configuration:

[code]

Did I miss anything?

[2012-02-06 17:39] EricR opened #28 "Omniauth-facebook and Rails 3.2"
Getting this with Rails 3.2:

https://gist.github.com/385110c1a04fd49dbba8

As soon as I revert back to Rails 3.1 the issue goes away and my app runs fine.

[2012-02-17 14:47] webmat opened #29 "Has anybody had success using this gem with PhoneGap + Facebook Connect Plugin?"
Hey guys,

I've been using OmniAuth-Facebook successfully on my web app.

However, the same server is also serving pages to a PhoneGap app. I started out authenticating successfully with the FB js sdk, with no interaction with the backend.

However, I'm now trying to save the authentication on the backend, and I'm getting an error in the vincinity of the OmniAuth-Facebook or OAuth2 gems.

[code]

[2012-02-24 08:51] #28 closed, assigned to mkdynamic

[2012-02-24 08:57] #25 closed, assigned to mkdynamic

[2012-03-02 05:56] madgeekfiend opened #31 "Delay when processing callback in production"
When I use omniauth facebook login in dev it works great fast and snappy. However, as soon as deploy to production running on Ubuntu and Nginx the callback takes forever to process. It works but takes a LONG time when I turn on debugging in rails 3.2.1 prod log it hangs here forever:

Started GET "/users/auth/facebook/callback?code=xxx" for 127.0.0.1 at 2012-03-01 21:50:48 -0800
Processing by User

[2012-03-04 23:54] josh-m-sharpe opened #32 "after upgrading, no longer receiving email"
Upgrading from omniauth 0.3 to 1.2.0 and now using omniauth-facebook.  I used to receive the user's email address here:

request.env["omniauth.auth"]["user_info"]["email"]

Now i'm getting a hashie back, but request.env["omniauth.auth"].info.email is nil.

I haven't changed any facebook settings with my account, so this tells me the gem is filtering the email for some reason?

[2012-03-05 01:09] #32 closed, assigned to nobody

[2012-03-05 14:24] josh-m-sharpe opened #33 "facebook auth && secure cookies"
So I've run into a conflict with facebook and secure cookies.

I'm currently using AuthLogic, with secure = true, which means the cookie is flagged secure and therefore is only transmitted over a secure connection.

If I enter https://www.mydomain.con (read: that's httpS)  as my Site URL in facebook's app config, then I ultimately get an error about having an invalid redirect URL.

My Facebook aut

[2012-03-10 06:54] fourcolors opened #35 "Question about callback url"
Hi I'm sorry if this isn't the right place but I didn't see a mail list.

I'm allowing my users to log in with with facebook and am using this strategy. I'm having my users fill out a form with their email and password however before creating an account (yes I know, you might say whats the point of using this then, well it's so my users doesn't have to enter all their info in and I can share conte

[2012-03-11 02:36] Matwolf08 opened #36 "Enable https:// for 'image' in the Authentication Hash"
I have modified the code of the Facebook Strategy class to use https:// or http:// for the URL of the Facebook user image inside the Authentication hash.
I use a new boolean parameter (eg. :secure) passed on provider declaration:

provider :facebook, ENV['FACEBOOK_KEY'], ENV['FACEBOOK_SECRET'], :secure => true

The code of the Facebook Strategy class that I've changed is in this gist: https://gist

[2012-03-11 05:28] #36 closed, assigned to mkdynamic

[2012-03-13 14:14] #33 closed, assigned to nobody

[2012-03-22 17:57] mtjhax opened #37 "Per-request scope being ignored"
I am attempting to use the per-request scope described on the main page so I can ask for extended permissions for some users/features. As an example, I redirect the user to a URL such as "/auth/facebook?scope=email" (dropping the default offline_access perm). The user is actually redirected to:

[code]

My app is configured to use Facebook's Enhanced Auth Dialog. You can see at the end of the URL

[2012-04-01 18:25] joni-dodreams opened #38 "Custom fields?"
https://developers.facebook.com/docs/plugins/registration/

You can add custom fields to be passed along with your authentication when users register. How to catch these gracefully into the omniauth.auth hash?

[2012-04-06 09:53] watsonbox opened #40 "Short-lived access tokens from signed_request"
I have set up a canvas application, with the following initializer:

[code]

This breaks out of the iframe for authentication, then returns the user to the app inside Facebook, as expected. However, because Facebook sends a signed_request parameter with an access token to canvas apps, this is used instead of completing the OAuth flow with the code from Facebook.

The problem is that as far as I ca

[2012-04-15 08:07] nichthinkof30 opened #41 "omniauth.auth return facebook hash"

[2012-04-15 08:28] #41 closed, assigned to nobody

[2012-04-17 16:24] erpe opened #42 "rails 3.1 and omniauth-facebook 1.2.0 not working"
when using omniauth-facebook 1.2.0 within a rails 3.1. application - a request for /auth/facebook will result in
error: (as reported also in issue #21)

{
"error": {
"message": "Missing client_id parameter.",
"type": "OAuthException"
}
}

downgrade to omniauth-facebook 1.1.0 made things working.

[2012-04-23 19:16] messick opened #43 "request.env['omniauth.auth'] seems to sometimes just return the access token."
Every one in a while, this is all I get from`request.env['omniauth.auth']`:

[code]

For the most part, all this hash has from my Facebook account is then token. Everything else from (this example](https://github.com/mkdynamic/omniauth-facebook) is missing.

This is happening during a "successful" omniauth transaction.  Also, even with the same user, this problem only happens about 1/10 times.

[2012-04-27 03:40] ghost opened #45 "Problem with unicorn+devise+omniauth+omniauth-facebook in Heroku"
Hi, I have this controller to deal with omniauth auth:

[code]

The problem is sometimes when two users login in the same time with Facebook, one user get logged in with the account of another user..

Session problem? Omniauth problem? Devise problem?

versions:
devise (2.0.4)
omniauth (1.1.0)
omniauth-facebook (1.2.0)
omniauth-twitter (0.0.10)
unicorn (4.3.0)

[2012-04-29 20:46] #43 closed, assigned to nobody

[2012-05-01 11:54] msp opened #47 "Popup confusion"
Hi guys

I'm confused by the purpose of the "popup" option, I have it set yet the FB dialog still takes over the whole window?
I can't see any JS decoration in the code of this gem or Omniauth - do I have to implement the JS myself? Seems what people have done when I Google..

Bit confused as I'm using the out-of-the-box Omniauth config with this FB strategy, following this:

https://github.com/pl

[2012-05-04 01:22] mrchess opened #48 "Remove 'offline_access' from permission in example"
As of May 1st 2012 Facebook deprecated the 'offline_access' feature.

source: https://developers.facebook.com/roadmap/offline-access-removal/

[2012-05-05 03:18] cantonic opened #49 "undefined method `extra'"
I am facing the same issue as descibed in https://github.com/intridea/omniauth/issues/558

[2012-05-05 05:00] #49 closed, assigned to nobody

[2012-05-05 05:06] #48 closed, assigned to nobody

[2012-05-05 05:14] #47 closed, assigned to nobody

[2012-05-05 08:10] #40 closed, assigned to nobody

[2012-05-05 08:12] #26 closed, assigned to mkdynamic

[2012-05-05 08:15] #35 closed, assigned to nobody

[2012-05-05 08:23] #37 closed, assigned to nobody

[2012-05-17 15:14] jan opened #52 "Feature request: Set locale or auto-locale"
The /me page can be localized with ?locale=de_DE for example. This way things like hometown are sent in the right language, which is very nice for any project that is not confined to English. I suggest you make the locale configurable.

You may also want to provide a :auto setting, that gets and uses the locale of the user:

[code]

[2012-05-22 04:45] cameronkendall opened #53 "Feature request: User application deletion"
I couldn't find any documentation on how to do this using this gem, but it would be nice to be able to remove the original application added through this  gem from the facebook user's application list.

[2012-06-01 14:41] bmuller opened #54 "compatibility issue with rails 3.1.5"
With this gemfile:

[code]

A bundle update results in:

[code]

[2012-06-05 18:42] timlinquist opened #56 "Upgrade to 1.3 now receiving NoAuthorizationCodeError"
I recently upgrade to version 1.3 before upgrading to Rails 3.1.5. After upgrading I received this error :

OmniAuth::Strategies::Facebook::NoAuthorizationCodeError: must pass either a `code` parameter or a signed request (via `signed_request` parameter or a `fbsr_XXX` cookie)

Can you confirm this is unrelated to changes between 1.2 and 1.3 ? I looked over the commits and nothing raised my brow.

[2012-06-05 18:46] sennor opened #57 "How to define APP id and APP secret inside controller?"
I am having this issue: http://stackoverflow.com/questions/10901106/omniauth-facebook-how-to-set-the-configurations-variables-in-controller

Where I have to authenticate for multiple apps, and therefor need to set the APP id and the APP secret in the controller.

[2012-06-06 14:37] #57 closed, assigned to nobody

[2012-06-09 03:59] yoshie902a opened #59 "error when I start server"
This is the error I get when I try starting the server...

thank you!

/Users/aa/.rvm/gems/ruby-1.9.2-p318@fb-demo1/gems/omniauth-1.1.0/lib/omniauth/builder.rb:38:in `rescue in provider': Could not find matching strategy for :facebook. You may need to install an additional gem (such as omniauth-facebook). (LoadError)
    from /Users/aa/.rvm/gems/ruby-1.9.2-p318@fb-demo1/gems/omniauth-1.1.0/lib/omn

[2012-06-13 12:54] bmuller opened #60 "Gem incompatible with Rails 3.1.6"
With this gemfile:

[code]

A bundle update results in:

[code]

[2012-06-18 22:34] swrobel opened #61 "Facebook not always returning email for user?"
I've looked all over the Facebook docs and can't seem to figure out why, even if I require the email permission, I still sometimes get users who are authorized, but do not have email included in the extra hash. Does anyone have any clue how this is possible and how I can absolutely require an email from Facebook?

[2012-06-20 04:45] #59 closed, assigned to nobody

[2012-06-20 04:59] #54 closed, assigned to nobody

[2012-06-20 04:59] #60 closed, assigned to nobody

[2012-06-20 05:07] #29 closed, assigned to mkdynamic

[2012-06-27 08:39] ciampo opened #63 "BirthDate"
Hello,
is there a way to obtain additional info about the user, for example his birthdate ?

[2012-07-05 09:06] raybesiga opened #64 "Issue with omniauth-facebook"
Using omniauth-facebook in my Rails app raises this issue. How do I fix this?
{
   "error": {
      "message": "Missing client_id parameter.",
      "type": "OAuthException",
      "code": 101
   }
}

[2012-07-05 18:56] daniel-nelson opened #65 "NoAuthorizationCodeError thrown when people visit us from Facebook"
On developers.facebook.com we've set the sign-in callback url to "https://oursite.com/auth/facebook/callback", and that's worked great for using Facebook to sign in. However, whenever someone finds our app on Facebook, and clicks to visit us, Facebook uses that same url to send people to our site. So people arrive at our site via a GET with no parameters, and our app raises OmniAuth::Strategies::F

[2012-07-06 08:01] mmustala opened #66 "RuntimeError (A refresh_token is not available): with canvas application"
Hello!

I tried to implement the canvas application login by redirecting the user to the authentication path with the signed_request as an url parameter when the user enters to my application canvas url. This results with an error message "RuntimeError (A refresh_token is not available):".

Any idea why this is happening?

[2012-07-06 15:57] kitop opened #67 "Update omniauth-oauth2 dependency to 1.1.0 (security)"
omniauth-oauth2 has been updated to prevent CSFR as described here: http://homakov.blogspot.com/2012/07/saferweb-most-common-oauth2.html
(Pull request: intridea/omniauth-oauth2#18 and Discussion: intridea/omniauth#612)

It would be good to update the gemspec dependency to support omniauth-oauth2 ~>1.1.0

[2012-07-06 23:47] joshco opened #68 "please reopen issue #31"
see comments questions at the bottom.  problem not resolved
thx

[2012-07-07 01:07] #68 closed, assigned to nobody

[2012-07-07 07:23] #63 closed, assigned to nobody

[2012-07-07 07:26] #38 closed, assigned to nobody

[2012-07-07 07:27] #67 closed, assigned to nobody

[2012-07-07 07:28] #45 closed, assigned to nobody

[2012-07-07 07:28] #42 closed, assigned to nobody

[2012-07-07 07:29] #53 closed, assigned to nobody

[2012-07-07 07:30] #52 closed, assigned to nobody

[2012-07-07 14:42] #65 closed, assigned to nobody

[2012-07-10 01:13] misuba opened #69 "Redirect URL getting rendered to window instead of followed"
When I hit /auth/facebook, the browser isn't bouncing over to Facebook. Instead, the location bar still reads http://localhost:3000/auth/facebook, and there is text in the browser window reading "Redirecting to https://graph.facebook.com/oauth/authorize?redirect_uri=http%3A%2F%2Flocalhost%3A3000[... etc.]"

Other strategies are working fine.

I'm worried that this is some trivial issue, but a whol

[2012-07-10 13:11] nicolasblanco opened #70 "omniauth-oauth2 CSRF protection breaks client-side JS login"
Hi,

Just upgraded from 1.4.0 to 1.4.1 and it breaks my client side facebook login.

If you follow semantic versioning, nothing should change/break in a minor/patch version (omniauth-oauth2 was bumped from 1.0 to 1.1, maybe you should have bumped to 1.5.0 instead of 1.4.1)...

So, maybe you should modify the example of client side login to deal with this new protection.
Now that session["omniauth.

[2012-07-13 11:39] behrangsa opened #71 "Facebook not redirecting to the callback"
Hi,

I have a very simple app with this `omniauth.rb` initializer file:

[code]

However, Facebook redirects to an URL like this after successful authentication (I use pow to run my app):

[code]

So nothing hits `auth/facebook/callback` and I can't handle the authentication.

Is this a known issue or am I missing something here?

[2012-07-16 07:57] lacco opened #72 "Handle invalid_credentials OAuth error"
From time to time some users aren't able to login to my application since the callback phase isn't successful:

[code]

As far as I understand the access_token is expired, but the problem doesn't get solved when hitting "/auth/facebook" several times. The affected users have to wait some hours before he is able to login into the application again (so the problem disappears after a few hours automa

[2012-07-23 21:36] tomsoderlund opened #73 "'Could not authorize you from Facebook because "Csrf detected".'"
Seems like v1.4.1 introduced an issue with CSRF:

http://stackoverflow.com/questions/11548539/rails-3-2-facebook-auth-csrf-failure
http://stackoverflow.com/questions/11597130/omniauth-facebook-keeps-reporting-invalid-credentials

[2012-07-26 04:07] yoshie902a opened #74 "solved."
solved. thanks

[2012-07-26 04:46] #74 closed, assigned to nobody

[2012-07-30 12:53] sennor opened #75 "After updating to v. 1,4 I get the error: invalid_credentials"
After updating to v. 1,4 I get the error: invalid_credentials

Everything works with v. 1.3..

What have changed since I get the error  invalid_credentials?

[2012-08-21 02:34] seanbollin opened #77 "App does not load within Facebook chrome / canvas on the first time"
I am trying to access my website as a Facebook canvas app.  The first time I try to access my website after authorizing it (clicking the "Play Game" button) it redirects me to my website - it does not keep me within the Facebook chrome.

The second time I try to access my website, now that I don't have to authorize it anymore, it loads within the facebook chrome fine.

I have spent hours on this i

[2012-08-21 14:16] #72 closed, assigned to nobody

[2012-08-29 13:53] #64 closed, assigned to nobody

[2012-09-07 00:19] etagwerker opened #79 "Facebook redirecting me to /#_=_"
Somehow things started to fail when I upgraded to 1.4.1, now Facebook is redirecting me to /#_=_ instead of /oauth/facebook/callback

What could be wrong here?

I've seen threads where it says that it will append #_=_ to the redirect_uri, but for me it's just redirecting me to

[code]

which is very annoying as it breaks the entire authentication flow.

Has anyone experienced this?

Please let me

[2012-09-18 21:29] mmustala opened #80 "(Errno::ENETUNREACH) when processing /auth/facebook/callback?state=64..."
Hi,

First of all. Thanks for a wonderful gem.

Now when my site has also some traffic also I have seen this error happening. When user has authorized my application and is returning from the Facebook this error may occur. This error is happening almost daily in my application now.

From the stack trace it looks like I have very little options to catch this error in the application, since none of

[2012-09-25 19:24] #80 closed, assigned to nobody

[2012-10-03 02:32] wakilo opened #81 "keep receiving Unresponsive script"
Hi~

A great gem to use.

I'm able to get the facebook authentication work on my website.

However, I keep receiving popup warning window after facebook authentication passed and redirecting back to my website.

The message is

[code]

The browser is frozen for a long time.  I use Firefox.

I check firebugs and it shows the errors

[code]

How do I fix this?

[2012-10-20 14:48] pboling opened #82 "Please add a change log."
Considering an upgrade from 1.2.0, and I have no idea what to expect from 1.4.1.  I can read the source, but generally I only do that if the change log indicates API changes.

[2012-10-31 05:02] 907th opened #83 ""An error occurred. Please try again later." FB says when trying to authorize"
Yestreday FB started to show "An error occurred. Please try again later." message for users trying to auth with their FB accounts to my site. I'm using devise+omniauth updated to latest version. I think this may be caused by [Removal of offline_access permission](https://developers.facebook.com/roadmap/offline-access-removal/), but removing offline_access scope from query did not solved the proble

[2012-11-01 08:48] matiaskorhonen opened #84 "Broken signed requests from Facebook?"
It seems that intermittently Facebook returns broken signed requests for unknown reasons. [This bug reports](https://developers.facebook.com/bugs/248378691939055/) claims that it happens 9 times per 150 000 requests, but at least we're experiencing much higher failure rates than that.

At the moment a broken signed request from Facebook causes an exception (`NoMethodError: undefined method 'size'

[2012-11-05 11:20] akeelahmedqureshi opened #85 "Got error Faraday::Error::ConnectionFailed"
Hello,

When I tried to logged in  with facebook using this gem i got below :-

[code]

can you please let know what is cause

[2012-11-06 07:17] #81 closed, assigned to nobody

[2012-11-06 22:18] beamercola opened #86 "undefined method `path' for "https://graph.facebook.com":String"
config/initializers/omniauth.rb

[code]

/auth/facebook gives me:

[code]

[2012-11-08 01:27] mmlac opened #87 "Apprequests will break omniauth / the request flow"
If I create an apprequest [1] the same url as the authentication callback is used and Omniauth just throws and excetption:

OmniAuth::Strategies::Facebook::NoAuthorizationCodeError

must pass either a `code` parameter or a signed request (via `signed_request` parameter or a `fbsr_XXX` cookie)

There is no way in Rails to circumvent this and - according to the OmniAuth documentation -
"[The authent

[2012-11-08 06:39] #87 closed, assigned to nobody

[2012-11-09 20:46] toptierlabs opened #88 "Problem using with Rails 2.3.4"
I am getting the following problem

Missing these required gems:
  omniauth-facebook  = 1.4.1

You're running:
  ruby 1.8.7.371 at /Users/toptier/.rvm/rubies/ruby-1.8.7-p371/bin/ruby
  rubygems 1.8.24 at /Users/toptier/.rvm/gems/ruby-1.8.7-p371, /Users/toptier/.rvm/gems/ruby-1.8.7-p371@global

However, I can see the gem installed in /Users/toptier/.rvm/gems/ruby-1.8.7-p371/omniauth-facebook-1.4.1

[2012-11-21 05:00] clee704 opened #89 "How can users remove my app from their app list?"
While users can add my app to [their app list](https://www.facebook.com/appcenter/my), it seems there's no way to reverse the process, i.e. remove my app. Just deleting provider and uid could be fine, but I want it to be cleaner than that. Does OmniAuth support this operation?

[2012-11-22 15:33] fredkelly opened #90 "Auth hash from access_token?"
I'm trying to allow API access by passing an `access_token` as a parameter in a request. Normally I am using the Facebook JS login to create a cookie that omniauth-facebook then reads and generates an `env['omniauth.auth']`. I have a class method on my User model that creates or updates a user based on this.

I'd like to be able to do the same for new/existing users passing just an `access_token`

[2012-12-30 21:29] pehrlich opened #95 "Outdated docs: jruby-openssl no longer required"
As of jruby 1.7, jruby-openssl is now included inside of jruby.  Including the gem in the gemfile, as the readme requests, will generate warnings and errors:

see: https://github.com/jruby/warbler/issues/129

[2013-01-21 02:56] redhotcode opened #98 "Login stalls indefinitely on production server, but works fine in production mode on local machine"
Using the same ruby version, gemset, et. al., with an open firewall, on the Ubuntu production server, facebook logins stall indefinitely at "Callback phase initiated", hanging at the callback URL and providing no warning or error in any logs,  save for the occasional `(facebook) Authentication failure! invalid_credentials: OAuth2::Error, :
{"error":{"message":"This authorization code has expired."

[2013-02-06 05:56] cherez opened #102 "February 6th 2013 changes look to break this?"
Since switching our app to the new Facebook API, `/auth/facebook` started giving a Facebook error page.

It looks  like two of the GET params have changed:
`app_id` should now be `client_id`
`next` should now be `redirect_uri`

I tried to make a patch for this, but can't find where these params are set. Any chance the powers that be could make a quick fix for this?

Thanks!

[2013-02-06 07:02] #102 closed, assigned to nobody

[2013-02-07 02:01] terut opened #104 "Lagacy /oauth/authorize URLs is deprecated."
At 02/06/13, /oauth/authorize had broken redirect parameters.
In bug report, facebook tell that lagacy `/oauth/authorize` urls is deprecated, so we have to use `/dialog/oauth` with `www.facebook.com` domain instead of `graph.facebook.com`.

but, we have to use `graph.facebook.com` to get access token,  so we can't rewrite `:site` with `:client_options`. I think that it is uneasy problem.

![ 2013-

[2013-02-07 05:27] #104 closed, assigned to nobody

[2013-02-11 22:43] ksylvest opened #107 "Authentication Failure Invalid Credentials with 1.4.1 but not 1.4.0"
Using the latest version of Omniauth Facebook is causing the following error:

[code]

[2013-02-12 18:55] knappe opened #108 "undefined method `ssl?' for #<Rack::Request:0x7f2a8d1414c8> Edit"
I ran into a show stopper of a bug.  It would appear that Rack -v 1.1.2 does not have the ssl? method defined resulting in this error:

`undefined method `ssl?' for #<Rack::Request:0x7f2a8d1414c8>`

The full stack trace:

/!\ FAILSAFE /!\  Tue Feb 12 17:45:10 +0000 2013
  Status: 500 Internal Server Error
  undefined method `ssl?' for #<Rack::Request:0x7f2a8d1414c8>
    /usr/local/rvm/gems/ruby-1.

[2013-02-21 00:27] woniesong92 opened #110 "NoAuthorizationCodeError when accessing the app from Facebook"
OmniAuth::Strategies::Facebook::NoAuthorizationCodeError

must pass either a code parameter or a signed request (via signed_request parameter or a fbsr_XXX cookie)

This error occurs with the latest version of omniauth.
1. omniauth-facebook-1.4.1
2. omniauth-oauth2-1.1.1
3. omniauth-1.1.3

There are closed issues like #65 and #87 but it seems the source of problem is different now since my site UR

[2013-02-25 03:47] nguyenannguyen opened #111 "Popup authentication does not return omniauth.auth"
I have omniauth-factbook implemented correctly with Devise. However, I got an error when implementing the authentication in the popup window. I followed Ryan's RailsCast and add display => 'popup' to my provider configuration in omniauth.rb

I successfully login to facebook in the popup window and received a hash request.authRequest from Facebook API, which contained userId.

However, when I got t

[2013-03-03 17:04] Will-Sommers opened #112 "Logging multiple accounts per session"
Hey guys,

This probably is not an issue, but I'm trying to figure out how to disable cookies and associate multiple facebook accounts per single user account in my program.

Any starting places?

Best,
Will

[2013-04-05 08:37] Joseph-N opened #114 "image_size option does not work"
I am having a problem getting the image_size option to retrieve an image of a specified width and height as stated in the configuration options.

When I view the source of the image returned it reads like

http://graph.facebook.com/100000188533185/picture?type=#&lt;OmniAuth::Strategy::Options height=&quot;500&quot; type=&quot;large&quot; width=&quot;500&quot;&gt;"

What am I doing wrong?

Thanks

[2013-04-21 18:14] #75 closed, assigned to nobody

[2013-04-24 16:44] wwalker opened #115 "received token is slightly truncated"
I can go out and get a new auth token, I get all the data in the omniauth.auth hash, but the token is between 213 and 221 characters, a real token is 228.  All the data in the hash looks good, except the token is 7 to 15 characters short.

[code]

[2013-05-08 07:26] #89 closed, assigned to nobody

[2013-05-08 07:26] #86 closed, assigned to nobody

[2013-05-08 07:35] #108 closed, assigned to nobody

[2013-05-31 05:34] sriedel opened #116 "NoAuthorizationCodeError on Facebook sided errors"
When Facebook servers decide they have an error and redirect the client back with the parameter keys error_code and error_message, the result is a NoAuthorizationCodeError triggered from lib/omniauth/strategies/facebook.rb:185 (with omniauth-facebook version 1.4.1).

Unfortunately, this exception isn't caught anywhere in the omniauth middleware stack, and thus bubbles up to become user visible.

M

[2013-06-14 10:42] sriedel opened #118 "Please ensure that exceptions result in the failure hook being called"
Facebook seems to be experimenting :).

I got some NotImplementedError: unkown algorithm exceptions that bubbled up to the end user (unfortunately I don't have the signed request data to see what algorithm was being tested or if the value was corrupted).

I would like to be able to react to such issues without presenting the user an error page.

[2013-06-14 11:03] gozup opened #119 "uninitialized constant Net::HTTPGenericRequest::METHOD"
Usinf omniauth for facebook with Devise, I get this error on callback.
Any idea from where it could come?

NameError at /users/auth/facebook/callback
uninitialized constant Net::HTTPGenericRequest::METHOD

Here the end of my trace:

 (gem) activesupport-3.2.13/lib/active_support/dependencies.rb:520:in `load_missing_constant'
  (gem) activesupport-3.2.13/lib/active_support/dependencies.rb:192:in`bl

[2013-06-19 11:30] auxbuss opened #120 "Cannot retrieve authenticated Facebook Page url"
I'm using Sinatra and OmniAuth, authenticating with Facebook.

Everything is working properly except for the link url for Facebook Pages that have a validated username. For example, using scope 'email', omniauth returns:

[code]

whereas the authenticated url is:

[code]

However, the former url can only be used by the page owner. Indeed, using that url within that user's context, it redirects to

[2013-06-19 12:46] #120 closed, assigned to nobody

[2013-06-28 09:57] zolzaya opened #121 "TypeError: can't convert nil into String"
I'm using `omniauth-facebook 1.4.0` gem with Rails 4. Seeing these errors at random in development. Any idea what that could be?

[code]

Any idea? If you need more info let me know :)

[2013-06-28 10:01] #121 closed, assigned to nobody

[2013-07-02 21:38] jplaut opened #122 "Getting permissions back during auth callback"
We're interested in getting the actual user permissions back during auth.  This information actually comes back from Facebook when `raw_info` calls `access_token.get` and `info_options` includes `permissions`, but `prune!` discards the `:permissions` hash entries because it's a hash.

Since OmniAuth prunes these params, we have to issue a second opengraph call to get `/me` and merge the permission

[2013-07-03 06:36] cis-sourabh opened #123 "The action 'facebook' could not be found for SessionsController"
I am getting error "The action 'facebook' could not be found for SessionsController" after updating rails version from 3.2.8 to 3.213.

Before upgradation it worked fine, can you please suggest me what is going wrong in it, or what changes I need to do for solve this issue.

[2013-07-03 15:05] moubry opened #124 "user_denied error from Facebook becomes invalid_credentials in callback"
I'm finding that when the user denies permissions (clicks the cancel button), Facebook redirects to:

`/auth/facebook/callback?error=access_denied&error_code=200&error_description=Permissions+error&error_reason=user_denied`

But in the OmniAuth failure callback, the error becomes `invalid_credentials`.

Shouldn't it be `user_denied`?

For reference, I'm doing this in my OmniAuth config:

[code]

[2013-07-04 07:43] gasova opened #125 "authorize_params and locale option"
here I need a local parameter to get the login page localized in the member language with following code, but display is set to popup on the link but locale does not.

[code]

results on this :

[code]

but no sign of locale why?

I need this :

[code]

I've found in your code below that you only look for display state and scope, why?
Can you patch your gem to read also other params like locale?

[2013-07-08 18:34] #122 closed, assigned to nobody

[2013-07-11 13:58] niteshjain opened #126 "test test_should_store_state_in_the_session_when_present_in_authorize_params is failing"
I am trying to run the tests and i am getting the following failure
# Running tests:

..............................................................F...

Finished tests in 0.064031s, 1030.7507 tests/s, 1546.1261 assertions/s.

  1) Failure:
test_should_store_state_in_the_session_when_present_in_authorize_params_vs._a_random_one(StrategyTest) [./test/support/shared_examples.rb:56]:
--- expected
+++

[2013-09-18 22:19] sgharms opened #128 "`origin` query parameter does not seem to be honored"
Per https://github.com/intridea/omniauth/wiki/Saving-User-Location:

I do not find this being honored in the Facebook strategy.

Looking at:

[code]

Seems to always return the default Omniauth `/auth/:strategy/callback` path.

A patch _might_ be (it's possible I'm out of my depth here..):

[code]

That at least gets the `?origin=path` back as expected.  When I implemented this as a monkeypatch, h

[2013-09-24 20:00] caseyjenks opened #129 "Logging in on 2nd device logs user out of session on 1st device."
Is there a way to maintain 2 sessions on the same account from multiple devices, aka desktop & mobile.

[2013-09-30 16:36] g8d3 opened #130 "Getting friends with info_fields"
I am having two problems:
1. is http://stackoverflow.com/questions/19099255/omniauth-facebook-fetch-friends.
2. Although I am using that configuration I don't see my friends in hash, how could I access them?

Thanks.

[2013-10-05 23:58] blanchma opened #131 "Iframe true not working"
Context: a facebook app canvas build with Rails 4 and omniauth.

This happens without a user logged in Facebook, not just my app. If it's logged, then it partially works:

Gemfile:
  Using rails (4.0.0)
  Using oauth2 (0.8.1)
  Using omniauth (1.1.4)
  Using omniauth-oauth2 (1.0.3)
  Using omniauth-facebook (1.4.0)

With this:
Rails.application.config.middleware.use OmniAuth::Builder do
  provider

[2013-11-04 15:13] #95 closed, assigned to nobody

[2013-11-07 20:41] #88 closed, assigned to nobody

[2013-11-07 20:46] #114 closed, assigned to nobody

[2013-11-07 20:59] #61 closed, assigned to nobody

[2013-11-07 21:04] #85 closed, assigned to nobody

[2013-11-07 21:08] #31 closed, assigned to nobody

[2013-11-07 21:11] #125 closed, assigned to nobody

[2013-11-07 21:37] #130 closed, assigned to nobody

[2013-11-07 21:43] #112 closed, assigned to nobody

[2013-11-07 21:46] nucleoid opened #134 "Need a version bump for auth_type authorize_params"
The version hasn't been bumped since the addition of auth_type to the authorize_params was made.

[2013-11-07 21:49] #134 closed, assigned to nobody

[2013-11-07 21:56] #69 closed, assigned to nobody

[2013-11-07 22:34] #119 closed, assigned to nobody

[2013-11-08 04:13] #83 closed, assigned to nobody

[2013-11-08 04:18] #84 closed, assigned to nobody

[2013-11-08 07:25] #77 closed, assigned to nobody

[2013-11-08 14:18] miclovich opened #135 "RuntimeError (Circular dependency detected while autoloading constant Users::OmniauthCallbacksController)"
Hi there,

I'm getting a weird error; integrating omniauth-facebook stuff with devise;
my gemfile (`bundle show` extract)

[code]

following examples here: https://github.com/plataformatec/devise/wiki/OmniAuth:-Overview, my callback controller looks like this:

[code]

My `route.rb` file looks like this:

[code]

The error log:

[code]

[2013-11-15 06:15] dja opened #136 "image_size custom width"
Using image_size and passing in a hash in the omniauth.rb config, does not produce the accurate url for a custom width.

I'm using it as so:

[code]

I've also tried: image_size: { width: 200 }

[2013-11-15 13:39] #136 closed, assigned to nobody

[2013-11-15 19:48] nlsrchtr opened #137 "Enable secured Graph API requests by default"
It would be great if the calls to the Facebook API would be verified with the appsecret_proof to increase the security and enable all users to activate the "Require proof on all calls" setting, as described at the [Facebook documentation](https://developers.facebook.com/docs/graph-api/securing-requests/).

I [adding the missing param](https://github.com/nlsrchtr/omniauth-facebook/blob/appsecret_pr

[2013-11-28 09:10] paul-ylz opened #138 "Syntax error when 'applications/developer' is in :info_fields hash"
Trying to pull the `applications/developer` by adding it to the `:info_fields` hash during config, but getting a syntax error from the backslash.

Is there a way around this?

Error message from env:

[code]

[2013-12-03 02:08] #82 closed, assigned to simi

[2013-12-03 03:12] #138 closed, assigned to simi

[2013-12-03 03:55] #137 closed, assigned to simi

[2013-12-03 09:17] #118 closed, assigned to nobody

[2013-12-03 09:17] #98 closed, assigned to nobody

[2013-12-03 09:19] #123 closed, assigned to nobody

[2013-12-03 09:23] #56 closed, assigned to nobody

[2013-12-03 09:26] #23 closed, assigned to mkdynamic

[2013-12-03 09:29] #129 closed, assigned to nobody

[2013-12-03 09:32] #126 closed, assigned to nobody

[2013-12-03 09:33] #79 closed, assigned to nobody

[2013-12-03 09:35] #135 closed, assigned to nobody

[2013-12-12 00:34] #116 closed, assigned to nobody

[2013-12-12 00:41] #73 closed, assigned to nobody

[2013-12-12 08:41] #90 closed, assigned to nobody

[2013-12-12 08:42] #115 closed, assigned to nobody

[2014-01-22 05:51] simi opened #145 "Drop ruby 1.8 support?"
@mkdynamic since Ruby 1.8 has not specified hash order ([rubyspec](https://github.com/rubyspec/rubyspec/blob/master/core/hash/keys_spec.rb#L18)) sometimes test for 1.8 are failing due this.

[example](https://travis-ci.org/mkdynamic/omniauth-facebook/jobs/17389038)

Question is if we should prepare test for this or if we can drop Ruby 1.8 since it's not [supported anymore](https://www.ruby-lang.or

[2014-01-22 06:44] #145 closed, assigned to simi

[2014-01-30 06:43] satb opened #146 "Exception thrown when I login to FB"
I am wondering if there is something in omniauth or I am doing something wrong. I am running a rails 4 app, get to my login page (fb login), when I do that, I am already logged in to my fb account. It used to work ok. Not sure what I did wrong. I also updated the gem to the latest but that didn't help

Any help would be greatly appreciated.

[code]

[2014-02-04 03:10] hspinks opened #147 "Feature Request: Age Range"
Love this gem, has worked well without any issue for me. One crucial piece of data that I wish it included, however, was the age range of the user.

According to [Facebook Developer docs](https://developers.facebook.com/docs/facebook-login/permissions/#optimizing) (see the 3rd bullet under Optimizing), "there is an age_range field included in the public profile for anyone who installs your app". H

[2014-02-04 03:31] #147 closed, assigned to nobody

[2014-02-11 18:07] hr1383 opened #148 "No 'Access-Control-Allow-Origin' header is present on the requested resource"
I am using omniauth-facebook with AngularJS and CORS is not working correctly .

My omniauth.rb is
<code>Rails.application.config.middleware.use OmniAuth::Builder do
  provider :facebook,"xxxxx", "xxxxx",
     :scope => 'email,user_birthday,read_stream', :display => 'popup'

end
</code>
Everything works if i use it as rails app and request. But when i try to call <b>'http:\\localhost:3000\users\au

[2014-03-12 23:04] folivi opened #149 "Invalid redirect_uri error"
Hi sorry to create a new post since this looks to be a common issue and I have not found no working answer yet.
My case is a bit strange:
I can authenticate via facebook on my local machine and my fb profile gets loaded correctly even if in the fb panel I set the site url as my production webapp url.
But once I try to login through my production site I get the invalid redirect_uri error.

Here are

[2014-05-04 00:06] auser opened #151 "No outgoing http requests and omniauth.auth is nil on callback"
Hey all,

I'm working to get omniauth facebook working with my omniauth setup. I'm using httplog to debug the http requests that my application is making.

Currently, both Github and Twitter logins work as expected (both with httplog requests in the debug log). However, omniauth-facebook does not make any outgoing requests. The _only_ change to the configuration I've made is adding a `callback_pat

[2014-05-04 06:37] #151 closed, assigned to nobody

[2014-05-05 18:03] tuckerd opened #152 "Support for New Facebook Login and Versioning"
As I am sure you are aware, Facebook has announced changes to their login flow, permissions, and introduced versioning.

For reference:
- https://developers.facebook.com/blog/post/2014/04/30/the-new-facebook-login/
- [Changlog](https://developers.facebook.com/docs/apps/changelog#v2_0_permissions)
- [Upgrade Guide](https://developers.facebook.com/docs/apps/upgrading)

In terms of updating this gem,

[2014-05-20 18:28] pravi opened #153 "unexpected invocation: #<Mock:Request>.scheme()"
$ ruby -I test test/test.rb
Run options: --seed 30855
# Running:

.............FF.........................................................

Finished in 0.184405s, 390.4456 runs/s, 601.9369 assertions/s.

  1) Failure:
CallbackUrlTest#test_returns_the_default_callback_url [test/test.rb:29]:
unexpected invocation: #Mock:Request.scheme()
satisfied expectations:
- allowed any number of times, not yet

[2014-06-05 09:48] wantsadev opened #155 "User cancels permission for allowing App to post to Facebook - No Error"
Hi All,

We are running a Web Mobile Application with the following config:
- rails 4..0.3
- omniauth-facebook (1.6.0)
- omniauth-oauth2 (1.1.2)
- koala (1.9.0)

Currently, if a User denies our application access to post to their wall on their behalf, we do not receive any error callback (which we previously did receive). I changed the config to point to V2 to see if anything changed there, but it

[2014-06-06 03:12] cbunhok opened #156 "Redirect to auth/failure after sign in"
Hello Mr. Mark,

I have an issue to sign in facebook on my web. After I upgrade gem Faraday to version 0.9.0, the gem omniauth-facebook also upgrade to 1.6.0. Then, after I sign in, it redirects to auth/failure.

Any ideas about this issue? And would you mind telling the problem?

Thanks in advance.

[2014-06-08 00:53] leovmcosta opened #157 "Omniauth not responding to GET Request"
I am trying to enable users with the option to signing in through Facebook.

My authentication in managed by Devise and I'm using the Omniauth-Facebook gem.

When I try to login the user through Facebook in my devise views (session/new.html.erb), the user is logged in successfully.

new.html.erb

<%= link_to image_tag('facebook_login.png'), user_omniauth_authorize_path(:facebook) %>

However when

[2014-06-08 01:24] #157 closed, assigned to nobody

[2014-06-18 07:26] ays0110 opened #158 "Omniauth Hash not returning expected values"
After using a call to get a token and omniauth hash from Facebook, I'm getting a valid token/credentials, but the rest of the data in the omniauth hash is not as expected.
The token is valid, and from the print out, it is clear that I am getting the correct user, but the format is all wrong-- the userid, name, email, are all garbled up in a string within Omniauth.auth["extra"]["rawinfo"].

The fol

[2014-07-11 12:02] yavora opened #159 "No username in fb response"
Hi guys!
I did fb sign up like in https://github.com/plataformatec/devise/wiki/OmniAuth:-Overview
Locally all works fine, but on staging server there is no username or nickname in
request.env['omniauth.auth'].
Any ideas what it can be?
Thanks.

[2014-07-11 14:14] #159 closed, assigned to nobody

[2014-07-17 11:06] damianorenfer opened #160 "access token in callback url"
Hi,

At the moment, from client-side login flow we can pass 2 params to `/auth/facebook/callback`:
- `code`, which is an authorization code that can be exchanged with an access token
- `signed_request`, which contains an authorization code

This is secure because we need the client_secret to exchange authorization_code with an access_token.

But the problem is that not all Facebook's SDK provide a

[2014-07-18 22:05] jraczak opened #161 "Could not authenticate you from Facebook because "Invalid credentials"."
I'm using a test app with a test user to test Facebook registration/login on my staging environment. I've verified that Heroku has the correct Facebook var values for the app. When initiating a Facebook registration, the callback is returned with the message "Could not authenticate you from Facebook because "Invalid credentials"."

Checking the logs, I see the following output:

`(facebook) Authen

[2014-08-08 00:06] #70 closed, assigned to mkdynamic

[2014-08-08 00:06] #146 closed, assigned to nobody

[2014-08-08 00:06] #107 closed, assigned to nobody

[2014-08-08 00:07] #161 closed, assigned to nobody

[2014-08-08 00:15] #131 closed, assigned to nobody

[2014-08-08 00:21] #71 closed, assigned to nobody

[2014-08-08 00:28] #128 closed, assigned to nobody

[2014-08-08 05:33] #124 closed, assigned to nobody

[2014-08-15 22:27] #153 closed, assigned to nobody

[2014-08-24 11:38] shosanna opened #163 "Blank page after signing up in FB"
I am having problem after I sign up in FB - instead of authorizing the app it shows only blank page.

The url is

`https://www.facebook.com/v2.1/dialog/oauth?redirect_uri=http%3A%2F%2Fjourneyapp.net%2Fusers%2Fauth%2Ffacebook%2Fcallback&state=ff55a0cb46467d0fdae&scope=email&response_type=code&client_id=2668te7071658k3581&ret=login&ext=14054535&hash=AeY0U4535L0JE435kxkC-v`

It's happening for all ac

[2014-08-24 13:23] #163 closed, assigned to nobody

[2014-09-13 01:50] jmzbond opened #165 "NoAuthorizationCode error when manually passing signed_request"
As described in these two places:
- http://stackoverflow.com/questions/12370056/omniauth-strategies-facebook-noauthorizationcodeerror-must-pass-either-a-code
- https://github.com/mkdynamic/omniauth-facebook/issues/110

I received the error `OmniAuth::Strategies::Facebook::NoAuthorizationCodeError (must pass either a`code`parameter or a signed request (via`signed_request`parameter or a`fbsr_XXX`coo

[2014-10-06 22:05] #160 closed, assigned to nobody

[2014-10-08 10:08] rohityadav99905 opened #166 "not good"

[2014-10-08 10:35] #166 closed, assigned to nobody

[2014-10-28 20:22] asmatameem opened #167 "Authentication fails when using it from Android or iOS SDK on client side"
From the mobile SDK, we pass the access_token instead of signed_request. Also there would not be any cookies set when making the request from mobile SDK.

Our server API serves both the webapp and mobile app. It works well with the webapp, however because of sending access token and no cookies set from mobile, the facebook login fails.

How do we make it work?

[2014-11-01 03:13] joshco opened #169 "What is the best way to handle deauthorize callbacks?"
What is the best way to use omniauth facebook to catch facebook deauthorize callbacks when a user removes our app from their account?

[2014-11-11 20:29] Dorian opened #170 "Being able to rescue from OAuth2::Error"
Hello,

For some reason I get this error

But I can't find a way to rescue it (because it's in the before_action callbacks) and not let it bubble up to the user.

Any thought on it? How could I rescue it? Is it an OAuth2 issue? An Omniauth issue? An ominauth-facebook issue?

![screen shot 2014-11-11 at 2 25 02 pm](https://cloud.githubusercontent.com/assets/129149/5000180/d35909da-69ae-11e4-8b89-83

[2014-11-13 04:39] perlmunger opened #171 "SSLv3 Handshake Error"
From what I can gather Facebook disabled SSL v3 due to POODLE on their servers and now my authentication fails. I get the following:

Started POST "/auth/facebook_access_token/callback" for 127.0.0.1 at 2014-11-12 21:18:35 -0700
I, [2014-11-12T21:18:36.033857 #82498]  INFO -- omniauth: (facebook_access_token) Callback phase initiated.

Faraday::SSLError (SSL_connect returned=1 errno=0 state=SSLv3

[2014-11-13 04:47] #171 closed, assigned to nobody

[2014-12-02 20:22] felipekk opened #172 "Typo in strategies/facebook.rb"
Hey,
While reading trough the code I ran into this, which I believe is a typo (algorithm instead of algoruthm):

https://github.com/mkdynamic/omniauth-facebook/blob/master/lib/omniauth/strategies/facebook.rb#L77

:)

[2014-12-02 21:36] #172 closed, assigned to nobody

[2014-12-03 00:19] #167 closed, assigned to nobody

[2014-12-06 23:38] Mattieuga opened #175 "Updating to v2.0 login API"
Does omniauth facebook support the new login API version? It seems it will soon be required and looking at the code, the old endpoint is still being hit.

https://developers.facebook.com/docs/apps/upgrading/

[2014-12-07 15:17] #175 closed, assigned to nobody

[2014-12-07 16:11] #158 closed, assigned to nobody

[2014-12-10 20:49] #169 closed, assigned to nobody

[2014-12-10 21:14] #165 closed, assigned to nobody

[2014-12-10 21:23] #152 closed, assigned to simi

[2014-12-28 15:52] #66 closed, assigned to nobody

[2015-01-03 23:24] AlvaroOlivencia commented on #73
Upgrading to omniauth-facebook 2.0.0 fixed the issue for me (using FB JS SDK).
From the changelog: **fix CSRF exception when using FB JS SDK and parsing signed request (765ed9, @mkdynamic)**

[2015-01-03 23:25] simi commented on #73
Thanks for info @AlvaroOlivencia!

[2015-01-10 03:52] zeitnot commented on #61
The reason is simple. I have  a facebook account for test purposes only. The e-mail related to this fb account was not confirmed. So when I was trying to login via facebook the email field was coming  as nil. After confirmed that e-mail, facebook started to send the e-mail. The main reason is about unconfirmed e-mail address.

[2015-01-10 19:58] toobulkeh commented on #61
That's ONE reason, but not the only reason.

[2015-01-11 03:40] lsandeep83 commented on #61
This can also happen if the user has signed up using his phone number.
On Jan 11, 2015 1:28 AM, "Dan Moore" <notifications@github.com> wrote:

[2015-01-14 14:15] Vrael opened #176 "Re-asking facebook permissions"
In Facebook login view an user can decline permissions. Perhaps the permissions which were declined affect to the app functionality (you can do less things with this app because some data is not accessible)

I would like warn to the user and re-ask the permissions again. But I don't see what is the way with Omniauth-Facebook. In Facebook documentation shows the way to accomplish this is adding a p

[2015-01-14 14:32] simi commented on #176
Can you try this https://github.com/mkdynamic/omniauth-facebook#per-request-options ?

[2015-01-15 14:19] Vrael commented on #176
Sorry @simi but I am not clear how should be the code for using:

"If you want to set the display format, auth_type, or scope on a per-request basis, you can just pass it to the OmniAuth request phase URL, for example: /auth/facebook?display=popup or /auth/facebook?scope=email"

[code]

or something like:

[code]

How can I pass the parameters to Omniauth request phase URL?

[2015-01-15 14:24] simi commented on #176
I think this should work:

[code]

[2015-01-15 18:54] Vrael commented on #176
You are right. Finally, this is like it works:
[code]

[2015-01-15 18:54] #176 closed

[2015-01-15 19:01] simi commented on #176
YAY!

[2015-01-18 16:53] Vrael opened #177 "How parsing the Signed Request in the deauthorize callback?"
When an user removes a facebook app, a deauthorize callback is called: [Detecting when people uninstall apps](https://developers.facebook.com/docs/facebook-login/manually-build-a-login-flow/v2.2#deauth-callback). I have been looking for if OminiAuth cover this scenary but I have not clear at all. When Facebook hits this url you have to parsing a signed request and I have seen that in OmniAuth exis

[2015-01-18 17:04] simi commented on #177
Hello @Vrael. There is [parsed_signed_request](https://github.com/mkdynamic/omniauth-facebook/blob/master/lib/omniauth/strategies/facebook.rb#L163-L177) method, but it is in private scope. It is planned to extract this into `OmniAuth::Facebook::Utils` module and include it in `OmniAuth::Strategies::Facebook`.

You'll be able to call `OmniAuth::Facebook::Utils.parsed_signed_request` directly from y

[2015-01-30 17:13] hecbuma commented on #73
For me was HTTP Auth the issue, I just get rid of it  and that was all

[2015-02-01 15:23] nicolas-besnard opened #179 "AJAX working on 1.4.0 but not on the last version"
I'm using this gem on my API used by Android / iOs devices. To do that, I use the `access_token`.

My application is working with a version `1.4.0` of this gem, but I get an error with the last version :

[code]

Any idea ?

[2015-02-01 15:29] simi commented on #179
Hello, this is solved in our issue tracker.

Check those links:

https://github.com/mkdynamic/omniauth-facebook/wiki/CSRF-vulnerability:-CVE-2013-4562
https://github.com/mkdynamic/omniauth-facebook/pull/164
https://github.com/mkdynamic/omniauth-facebook/issues/107#issuecomment-30317491 (!!! NOT SECURE !!!)

Feel free to reopen when you think it is different problem.

[2015-02-01 15:29] #179 closed

[2015-02-11 18:53] BenV commented on #73
We ran into this issue after turning on encrypted cookies in Rails. Turns out we were making a simultaneous request when starting the auth flow which was overwriting the omniauth state. This didn't happen before encrypted cookies because they were only sent when changed. This post sums the issue up nicely: http://techbrahmana.blogspot.com/2013/10/invalid-credentails-omniauth-oauth2.html

[2015-02-12 02:27] leandromoreira opened #181 "[Error] omniauth facebook 2.0.0 URI::InvalidURIError (the scheme http does not accept registry part: app_server (or bad hostname?))"
I was able to login as FB before but now it raises this error, is this specific for 2.0.0? I double checked my FB apps (domain name and site url) all with https. Have any of you faced this error?

[code]

[2015-02-13 04:27] leandromoreira commented on #181
It turns out that it was an issue with nginx, I forgot to forward the host header for a given location. I just set the header host for my proxy.

`proxy_set_header Host 'example.com';`

[2015-02-13 04:27] #181 closed

[2015-02-24 23:34] motro opened #184 "Facebook Canvas App"
Hi,

Does anyone has a good example on how to use omniauth for a Facebook canvas app?
And keep it in the iframe after successfully authorizing?

Thanks!

[2015-02-25 14:24] simi commented on #184
Take a look at example https://github.com/mkdynamic/omniauth-facebook/blob/master/example/app.rb#L24 and removed canvas app example https://github.com/mkdynamic/omniauth-facebook/commit/4f6e40614f0377186b7e6818acfd4048dbc90303.

[2015-02-25 14:24] #184 closed

[2015-02-25 22:21] balexand commented on #110
I was having this problem in my development environment. Using the Chrome DevTools, it was clear that the cookie was not being passed with the request to `/auth/facebook/callback`.

After much frustration, I tried creating a new Facebook test app with all of the same settings as the app I'd been using previously. For some reason that made it work.

[2015-02-25 22:37] mkdynamic commented on #110
@balexand Odd.

Should note that passing the signed request manually as per https://github.com/mkdynamic/omniauth-facebook/issues/110#issuecomment-27426415 is no longer supported since https://github.com/mkdynamic/omniauth-facebook/commit/765ed9a96752546077f902bee5d43740b4b11b6a#diff-999bca448145eb14d3025d6b5dff0048L153.

[2015-02-28 05:05] abelorian opened #185 "nickname field removed from facebook"
The nickname field had been removed from facebook API

Oficial Docs: https://developers.facebook.com/docs/apps/upgrading#upgrading_v2_0_user_ids

[2015-02-28 05:10] simi commented on #185
What we need to do? Just remove it from omniauth hash? What about to add username there also?

[2015-02-28 06:36] abelorian commented on #185
Adding a #comment in *Auth Hash* section on README.md, maybe
     :info =>     :nickname => 'jbloggs', #Removed in GraphApi 2.0

[2015-02-28 13:09] simi commented on #177
done in #183

[2015-02-28 13:09] #177 closed

[2015-03-01 01:07] remon opened #186 "strange error with devise and unicorn and omniauth facebook"
I thought the problem I mentioned [here](https://github.com/plataformatec/devise/issues/3495)  was related to devise but after I checked my unicorn.log file I found these error and I don't know how to fix it

(facebook) Authentication failure! no_authorization_code: OmniAuth::Strategies::Facebook::NoAuthorizationCodeError, must pass either a
 `code` (via URL or by an `fbsr_XXX` signed request cook

[2015-03-01 23:39] simi commented on #186
@remon can you provide more information? It looks something is hitting callback url without needed code parameter. Can you try to track that request? Maybe you'll see something unusual in user agent header, because it can be caused by crawler maybe.

[2015-03-01 23:51] remon commented on #186
@simi  most of info I mentioned [here](https://github.com/plataformatec/devise/issues/3495)

[2015-03-01 23:53] simi commented on #186
Sorry, I forgot to mention I went thru those informations. Can you confirm that URL is hit by valid request? Is there any chance to replicate this with our [minimal app](https://github.com/mkdynamic/omniauth-facebook/blob/master/example/app.rb)?

[2015-03-01 23:57] remon commented on #186
I did everything right ,and registration with facebook is optional , so user register with normal registration and then they can choose to connect with fb or not ,what I can't understand why it happens everyday in the same time ,all the day I have 200 new members and I check error logs on new relic nothing happens except at 4.05 am every day

[2015-03-02 00:08] simi commented on #186
That's weird. Can you try to rack that request (maybe there will be some info on new relic also) to ensure it is not caused by some crawler and it is caused by legit use-case? Are you able to reproduce this behaviour (locally or on production)?

[2015-03-02 00:10] remon commented on #186
these error happens only in production after 4.05 am any one try to register in my app ,after valid or invalid registration the app breaks for that user ,I gave all info available for me , from all logs , my head are going crazy ,I must wake up at 4 am everyday to restart my unicorn instance

[2015-03-02 00:14] remon commented on #186
in my time its 4.08 ,I check a new registration and the registration breaks my site

[2015-03-02 00:16] remon commented on #186
what I got in my production.log

Processing by RegistrationsController#create as HTML
  Parameters: {"utf8"=>"√", "authenticity_token"=>"d+7M/scKfHF42TKXNRkOfYfdR0ev3Ue5V9jJKHDIsk0=", "user"=>{"first_name"=>"maroja", "re
f_id"=>"", "email"=>"mroja@jomila.com", "password"=>"[FILTERED]", "password_confirmation"=>"[FILTERED]"}, "commit"=>"Register"}
Redirected to
Completed 500 Internal Server Error i

[2015-03-02 00:17] remon commented on #186
in my unicorn.log

(facebook) Callback phase initiated.
(facebook) Callback phase initiated.
(facebook) Callback phase initiated.
(facebook) Callback phase initiated.

[2015-03-02 00:17] simi commented on #186
@remon that's really hard to help you here since it can be caused by everything. You can setup CRON to restart your APP to sleep well until this will be resolved for you.

All I can tell you for now is

[code]

is raised when there's no Facebook information send. But this looks like application related problem to me.

[2015-03-02 00:19] remon commented on #186
does it send facebook requests ,whatever that app asked or not for it ?

[2015-03-02 00:20] remon commented on #186
I am using devise with omniauth-facebook for many apps I did before ,what I am facing now is abnormal for me

[2015-03-02 00:21] simi commented on #186
Anyway

[code]

is not reason to restart your APP. You'll need to track your problem in your app probably. :(

[2015-03-02 00:26] remon commented on #186
do you have any suggestions for tracking it
I found some suggestions [here](http://stackoverflow.com/questions/13425757/rails-facebook-login-error-with-omniauth-facebook-omniauthstrategiesoauth2)  but mostly about downgrading omniauth-facebook version

[2015-03-03 22:52] jessieay commented on #170
+1 We have a similar issue and we think it is happening because the callback is being fired twice. Not sure why it is being fire twice, but I would look in the logs and see if that is the same case for you, @Dorian !

[2015-03-04 13:32] Dorian commented on #170
ok, my fix was to bypass the before filters by rendering before executing them (it's a giant hack):

[code]

eg, the most important thing is the token (`request.env["omniauth.auth"].try(:credentials).try(:token)`) that I then manually use to fetch the user (and also it can't be reused so I save the user in a session).

[2015-03-06 22:45] jessieay commented on #170
Update:

Our situation might have been totally different, but we realized that our error was that we were calling the request from a non-HTTPS URL and using an HTTPS URL in the callback. So, the two weren't matching. The logs did not make this clear. Since we saw two callbacks we thought that was the issue, but it might be that we were just reading the logs wrong.

This issue only became apparent

[2015-03-10 00:14] dylnclrk opened #187 "Address Facebook Reconnect Vulnerability in Readme"
omniauth-facebook should address the Facebook "Reconnect" vulnerability in its readme. I suspect the repository will be getting a lot of traffic because of this, and should clear up any confusion about it being vulnerable. http://sakurity.com/blog/2015/03/05/RECONNECT.html

I'm currently investigating the effects, and will make sure to contribute to the discussion.

[2015-03-10 00:20] Ajaxy commented on #31
I've suddenly ran into this bug after few months of successful running. Fortunately I found this issue and IPv6 tweak helped. But what could be the matter of a sudden change?

[2015-03-12 17:58] sistrall commented on #110
I had this error too, while I was migrating from the server side to the client side login flow. I tried many things and finally got my app working again using a "real" domain instead of working on localhost. While using `http://localhost:3000/` no cookie was saved, while everything started working as expected when working with `http://app.lvh.me:3000/` (`lvh.me` and all its subdomain always resolv

[2015-03-23 06:44] prakashsejwani opened #188 "image_size parameter is not working when specified in config block of initializers/devise.rb"
I need to get large profile image from facebook so i have set the config in initializers/devise.rb as below
as per the readme
<pre>
  config.omniauth :facebook, ENV['FACEBOOK_KEY'], ENV['FACEBOOK_SECRET'],
           scope: 'email,user_birthday,read_stream', image_size: 'large'
</pre>

This image_size setting is not working and seems to be ignored in the request while sending the auth
parameters.

[2015-03-23 10:36] simi commented on #187
PR is welcomed here

[2015-03-24 15:26] chamnap opened #189 "How to pass extra parameters?"
I'm digging and trying to find solutions for several hours, but i got no luck. I hope I can have answer here.

I checked the gem 'omniauth', we can pass extra parameters like this:
/auth/facebook?listing_id=kh35887

And inside the callback phase, we can retrieve this parameter by calling `#params` or `request.env['omniauth.params']`, https://github.com/intridea/omniauth/blob/fc304abe2b56cb6efeff87

[2015-03-24 16:02] geoffreymm commented on #61
As @TeamRainless said and confirmed by the Facebook developers page:

[From here](https://developers.facebook.com/docs/facebook-login/permissions/v2.2#reference-email)

Maybe this can be the reason for the %1 or 2% emails not returned.

[2015-03-24 19:32] TeamRainless commented on #61
This is correct.

I still get about a 5% failure rate with Omiauth-Facebook.  I have a site
where people vote for things, so it could easily be that some of them are
just signing up for unverified accounts. (Which would account for my higher
average of no emails).

All I did was create a hook that redirects to an edit page where it
requests the email address and anything else that is missing.

The

[2015-03-25 06:20] chamnap commented on #189
After debugging, it turns out that it's the not the fault of `omniauth-facebook`. It's because `omniauth-oauth2` overrides `#callback_url` so it loses the querystring.

https://github.com/intridea/omniauth-oauth2/issues/28

[2015-03-25 06:20] #189 closed

[2015-03-26 04:05] kenn opened #190 "Bind API version with omniauth-facebook version"
In README, it is suggested that we can specify an API version like `v2.2`, but it's not clear what is the best way actually.

[code]

What I want to do is use the latest Facebook API version that is **tested with this gem's version**, not using unversioned API endpoints as it can break in the future.

So, say, if `omniauth-facebook-2.0.1` is tested with Facebook API v2.2, I want to use `v2.2`. Is

[2015-03-26 07:21] simi commented on #190
Actually `omniauth-facebook` is not tested against real API endpoint via automated tests.

[2015-03-27 12:13] indifferentalex commented on #188
This seems to be an issue only when making the requests through http, setting :secure_image_url => true uses the image_size setting and returns the correct url

[2015-03-28 10:01] prakashsejwani commented on #188
It works! Thank you

[2015-03-29 19:52] mrmanishs opened #191 "Re-logging in with Facebook"
Hello,

I currently have Google omniauth set up and Facebook omniauth setup. If a new user comes in, Facebook omniauth works great.

However, when a user account is created with Google, and then that user tries to login again as Facebook, it does not accept it as a valid user from the omniauth lookup and does not log the user in.

What is the expected behavior if someone logs in as Google original

[2015-03-29 19:59] kenn commented on #190
Here's what happened to me: I had been using the default setting, which is the unversioned API endpoints.

At a later time, I started to receive an exception that I hadn't seen, and the error was "unique constraint error for a user_id with multiple Facebook User IDs associated with the same user".

Turns out, Facebook updated the API at some point and now they return `app_scoped_user_id` instead o

[2015-03-29 20:22] mrmanishs commented on #191
User error ..

[2015-03-29 20:22] #191 closed

[2015-03-30 12:18] joker-777 opened #192 "NoAuthorizationCodeError when user cancels authorization with FB"
The user can login via fb without problems but when he cancels the authorization on the fb popup we see the following unicorn log entries

[code]

We are confused about this error entry.

[2015-03-30 17:24] simi commented on #190
I think current behaviour is standard across omniauth-oauth(2) based gems. Also it is written in README.

We can add some shortcut to select API version, but I think it will be good to keep unversioned API as default one.

[2015-03-30 17:40] simi commented on #188
weird - https://github.com/mkdynamic/omniauth-facebook/blob/master/lib/omniauth/strategies/facebook.rb#L193-L197

Can you please prepare a example code how to achieve this?

[2015-03-30 17:46] simi commented on #187
If I understand this well, you need to CSRF your connect actions?

[2015-03-31 10:36] guilhermesimoes commented on #188
@simi, there are no lines 193 through 197 :smile:

Also, when linking to code, press `y` on your keyboard to link to that commit hash and not to master.

[2015-03-31 10:37] simi commented on #188
ohh, try this https://github.com/mkdynamic/omniauth-facebook/blob/fdd28dd237ca3dd147c0a57d7eeae31ebc9e7a00/lib/omniauth/strategies/facebook.rb#L161-L174

[2015-04-01 07:54] GildedHonour opened #193 "How would a user know what their password is when they sign up via facebook?"
When a user signs up via facebook, how would they know what their new, auto-generated password is?

[2015-04-01 12:39] simi commented on #193
sorry, but this is not issue

*the trick is they don't need password since they will be signed in via facebook everytime*

[2015-04-01 12:39] #193 closed

[2015-04-01 12:44] GildedHonour commented on #193
I agree, it's not, when else could I put it?
I see. I thought a user could also want to login via email/password using their facebook email after they register via facebook previously.

[2015-04-01 12:48] simi commented on #193
I used once scenario where user was registered by email and password first and after that he could connect to multiple services (like facebook via omniauth-facebook) to provide data for application.

[2015-04-05 10:17] cjshort commented on #147
Am I doing this right? Here's my config in devise.rb:

  require "omniauth-facebook"
  config.omniauth :facebook, "APP KEY", "SECRET KEY", info_fields: "age_range"

and then in my user.rb model:

agerange: auth.info.age_range,

Can't seem to get it to work :(

[2015-04-08 05:17] kenn commented on #190
I don't think that's true, for instance, [omniauth-twitter hardcodes v1.1 path](https://github.com/arunagw/omniauth-twitter/blob/v1.1.0/lib/omniauth/strategies/twitter.rb#L34) and [omniauth-github hardcodes v3](https://github.com/intridea/omniauth-github/blob/v1.1.2/lib/omniauth/strategies/github.rb#L63).

It's my fault for sure that I missed it in README, but I learned it the hard way, by corrupt

[2015-04-08 11:35] simi commented on #190
OK, are you able to provide PR for this?

[2015-04-13 12:12] gaaady opened #194 "request email permission again after the user declined it"
A user tries to sign up to a website that requires email but checks off the permission.
how do I display the log in dialog again ?

[2015-04-13 12:34] simi commented on #194
The best practice is to ask user for email manually in your APP when 3rd party OAuth service is not providing one.

[2015-04-13 12:34] #194 closed

[2015-04-13 12:36] simi commented on #194
also see https://developers.facebook.com/docs/facebook-login/login-flow-for-web/v2.3#re-asking-declined-permissions

[2015-04-13 12:38] simi commented on #194
And also from readme:
https://github.com/mkdynamic/omniauth-facebook#configuring
https://github.com/mkdynamic/omniauth-facebook#per-request-options

#=> use `/auth/facebook?auth_type=reauthenticate` URL to reask for permission

[2015-04-13 14:36] semaperepelitsa commented on #190
I don’t think it is a responsibility of an application to decide the API version at all. The library is making API calls, not my app. I guess, the problem is that there are no automated tests with the real API.

[2015-04-14 09:59] prognostikos opened #196 "Incompatible with response type for v2.3 of Facebook API"
The token_params response for version 2.3 of the API is sent as `application/json` whereas omniauth-facebook tries to [parse it as a query string](https://github.com/mkdynamic/omniauth-facebook/blob/c3d2736896a27fa9d4111988b3b048bf79cfd4b6/lib/omniauth/strategies/facebook.rb#L20-L22).

Downgrading to using v2.2 of the API is a workaround.

[2015-04-14 11:46] simi commented on #196
@kenn @semaperepelitsa time to solve #190.

[2015-04-14 11:52] simi commented on #190
let's decide what we need to close this

1. test against real API
2. lock to tested API

:question:

[2015-04-15 03:44] kevinzzz007 opened #197 "Quick example in Usage section"
Using ENV[]s didn't work for me.  I took away the ENV and used this:

provider :facebook, "APP_ID", "APP_SECRET"

and it worked.

[2015-04-15 03:46] simi commented on #197
you need to run server with ENV vars like:

    $ FACEBOOK_KEY=54678 FACEBOOK_SECRET=56789 bin/rails s

[2015-04-15 03:46] #197 closed

[2015-04-18 05:19] bindzus commented on #148
I had the exact same problem, using AngularJS with a module called satellizer (http://ngmodules.org/modules/satellizer). At first I stranded much earlier before including the 'rack-cors' gem, so thanks for the hint there, after this gem was added I got the same problem as described above.

I had configured the url property for satellizer to 'http://localhost:3000/auth/facebook' as this would be th

[2015-04-20 23:14] Deekor opened #198 "Login hanging on localhost."
I also posted this on StackOverflow: http://stackoverflow.com/questions/29759892/facebook-login-suddenly-hanging-in-development

My Facebook login has been working in the past but suddenly is hanging when I try to login from my localhost.

The last thing the server outputs is:

`[2015-04-20T16:52:50.509655 #77222]  INFO -- omniauth: (facebook) Callback phase initiated.`

it will sit there for seve

[2015-04-23 20:45] dixalex commented on #190
Testing against real API would be better, but if no time for this - locking to tested API is also an option. The issue just needs to be resolved as soon as possible.

[2015-04-28 01:34] tgoldenberg opened #199 "Not getting hometown in hash"
Hi! For some reason, I'm not able to access the user's hometown. I can get the auth.info and auth.extra.raw_info hashes, but not finding the hometown. Any suggestion? Thanks :)

[2015-04-28 11:48] simi commented on #199
Do you use proper scope (`user_hometown` probably)?

[2015-04-28 17:22] tgoldenberg commented on #199
I've scoped for it but still not clear on what I'm supposed to pass in - some examples online show auth.info.location
auth.extra.raw_info.user_hometown  Can't get any to work. If someone knows the answer, please share. Otherwise I will close this, thanks.

[2015-04-30 08:23] simi commented on #199
Is this solved? Can you post any informations? Feel free to reopen this. I'm going to try this soon.

[2015-04-30 08:26] tgoldenberg commented on #199
So it seems to me that Facebook is making apps pass an authorization procedure, by submitting links to privacy policy, detailed description of authentication, etc. I tried to do this but the request was not accepted. It seems that now user_hometown falls under information that must be obtained in this way. If anyone can either confirm or refute this, I would be happy either way. This is what it se

[2015-05-03 01:23] comp615 commented on #198
Mine has had this too, but to a lesser extent. I think it's honestly on the FB side :-/ even my requests after take several seconds

[2015-05-03 08:12] simi commented on #198
@Deekor @comp615 can you inspect https://github.com/mkdynamic/omniauth-facebook/issues/98 and https://github.com/mkdynamic/omniauth-facebook/issues/31? It looks like similar issue.

TL;DR: disable IPv6

[2015-05-04 05:32] comp615 commented on #198
Will check it out. I do have IPv6 enabled I think at home. Also, this is all requests for me to FB (Koala Graph API included). Getting the JSON endpoint directly through ruby only takes a second as compared to 75 seconds via Koala if that helps any. :-/

Seems like this shouldn't be an issue though, any idea where in the stack this might be bugging out?

[2015-05-04 07:17] romanbsd commented on #196
Maybe it's better to bump the gem version and support only API v2.3 or greater?

[2015-05-06 08:40] famousky opened #202 "[Question] How do you invite Facebook friends?"
I cannot figure out how do you invite Facebook friends through this gem. Is there any example app out there I could check out?

[2015-05-06 08:56] simi commented on #202
1. this is issue tracker, so please post issues only
2. "OmniAuth is a flexible authentication system utilizing Rack middleware", you can obtain user's `access_token` via this gem to interact with Facebook Graph API directly or via some library like [koala](https://github.com/arsduo/koala)..

[2015-05-06 08:56] #202 closed

[2015-05-06 18:52] firetix commented on #111
getting the same issue

[2015-05-07 13:11] om-nishu-trantor opened #203 "Can I call omniauth_facebook with short-lived access token ?"
I have short-lived access token from the SDK call.
I want to obtain all the raw_info, info, etc.
Can I call omniauth-facebook even if I am already authenticated just for the sake for fetching long-lived token and the access data I require(Omniauth provides through through it's server side o-auth call) ?

[2015-05-07 22:31] simi commented on #203
We're getting [raw_info](https://github.com/mkdynamic/omniauth-facebook/blob/master/lib/omniauth/strategies/facebook.rb#L58) by hitting `https://graph.facebook.com/me?access_token=xxx` with valid access token. You can do the same manually easily.

[2015-05-07 22:31] #203 closed

[2015-05-08 02:56] dylnclrk commented on #187
Hey @simi my apologies, I somehow did not get the notifications about your response. I addressed the issue in my world, but would be more than happy to provide a PR which prevents CSRFing of the connect actions if you think it would be worthwhile.

Thanks!

[2015-05-08 04:02] om-nishu-trantor commented on #203
@simi I got your point about the raw_info.
I am interested in creating a [auth_hash with same components that we have here](https://github.com/intridea/omniauth/blob/master/lib/omniauth/strategy.rb#L332)
It contains not only the ```:raw_info``` but `info`, `credentials` and `extra` as well.
Am I on the right track or not ?

[2015-05-08 22:56] simi commented on #203
It's hard to tell. You can try to construct those manually. But I've never tried that.

`uid` is mapped by https://github.com/mkdynamic/omniauth-facebook/blob/b127c35135b16b7d5cdc746a718192acfe1da21c/lib/omniauth/strategies/facebook.rb#L31

`info` and `extra` are mapped by https://github.com/mkdynamic/omniauth-facebook/blob/b127c35135b16b7d5cdc746a718192acfe1da21c/lib/omniauth/strategies/facebook.

[2015-05-10 08:48] famousky commented on #202
@simi I almost got there but it seems like FB asking me for session key.

![screen shot 2015-05-10 at 4 47 38 pm](https://cloud.githubusercontent.com/assets/4720153/7553598/4e45279c-f734-11e4-9960-dab4686e9b46.png)
Now:
1. Is session key = access_token ?
2. How to obtain *access_token*

[2015-05-11 08:59] om-nishu-trantor commented on #203
@simi In my application I use omniauth for various strategies, there's one landing point for all strategies and the way we save data, now we need to use login using the Facebook SDK due to some reasons and in a way that fron-end will authenticate and pass on a shot lived token and I want to build this omniauth-hash manually so that we need not to use a separate logic for strategy facebook.

[2015-05-13 20:09] dixalex commented on #111
Guys, any luck on this? Maybe you know better solution except omniauth?

[2015-05-13 20:47] simi commented on #111
Can you try to update https://github.com/mkdynamic/omniauth-facebook/tree/master/example to reproduce your issue?

[2015-05-17 05:28] frasermince commented on #110
Has anyone managed to figure out what's going on here? I'm struggling with this same issue and can't figure out why it won't work.

[2015-05-22 07:28] dixalex commented on #111
It works, thank you!
I figured out that that was a mistake in my code.

[2015-06-02 12:13] hsk-keystone opened #204 "Using v2.3 in :client_ options gives 'Could not authenticate you from Facebook because "Invalid credentials"."
I have configured omniauth on devise and I am getting the above error if I pass v2.3 in the client options. However passing v2.0 instead of v2.3 works fine.

    config.omniauth :facebook, "App_id", "App_secret",
    :scope => 'email, user_birthday, public_profile', :display => 'page',
    :image_size => 'square', :client_options => {
    :site => 'https://graph.facebook.com/v2.3',
    :authorize_

[2015-06-04 01:23] shafaiatul opened #205 "development.json for facebook authentication"
First of all you have to create an app going to >   https://developers.facebook.com/
It will produce the secret_id and app_id for your application. I have mentioned the development.json file for the facebook authentication:

{
	"dbURL" : "mongodb://chatcatuser:mychatapp@********.mongolab.com:47307/*****",
	"sessionSecret" : "ASKJDLAJD234234LKJ2342ASD3JL",
	"fb" : {
		"appID" : "328577890650792",

[2015-06-04 14:10] nbrustein commented on #192
Getting this as well using rails and devise_token_auth with omniauth-facebook

[2015-06-19 19:51] danieldocki opened #206 "Devise + Facebook Error auth_type"
The application is hosted on heroku. I can not understand why this is going wrong, but in my development machine I'm able to do the normal login with facebook.

devise.rb
[code]

error
[code]

[2015-06-19 21:12] danieldocki commented on #206
Sorry, It's my controller

[2015-06-19 21:12] #206 closed

[2015-06-24 20:44] urbanvikingr commented on #110
+1

[2015-06-26 16:50] RathanakSreang opened #207 "omniauth-facebook cannot sign in from sub domain."
I've face one problem when I want to allow user sign from sub domain. I have create FB app with "lvh.me:3000" and this working find when I sign in from that  url. But when I want to allow user sign from sub domain Ex "abc.lvh.me:3000" it have an error which I cannot sign in. And I do research on google I found one solution like this:
[code]
and It is work find but after sign in it did not redirect

[2015-06-27 02:47] poc7667 opened #208 "Omniauth devise Authentication failure! csrf_detected:"
I got the  `Authentication failure! csrf_detected:`  so that I couldn't login with omniauth.

I followed this [tutorial](https://www.digitalocean.com/community/tutorials/how-to-configure-devise-and-omniauth-for-your-rails-application)

and I found similar issue [here](https://github.com/mkdynamic/omniauth-facebook/issues/73),

But there are no luck for my problem till now.

Any idea for fixing the

[2015-07-02 15:31] gshaw commented on #196
Thanks for posting a workaround @prognostikos

For others that get on to this page from Google here is a workable `config/initializer/omniauth.rb` file that does the trick.

[code]

[2015-07-10 02:17] agrobbin commented on #196
Another option here, for those who want to use `v2.3` or `v2.4` of the API, is to change the `token_params` to parse the access token response as JSON.

[code]

[2015-07-10 16:16] prototype-hacker commented on #152
I wonder if anyone encouter this: my omniaith-facebook works fine on localhost:3000, after I upload to aws, then the auth become following:

#<OmniAuth::AuthHash credentials=#<OmniAuth::AuthHash expires=true expires_at=1441728836 token="CAAW7rcA4U0gBAGEQDfZB4hsGsIQmTzDZCzBvzZA13UMJA9CKngZAjSFk0pfLZAdVRqSqZBaZCBmzw2DVR4HBFGlRFEHcPhX6uhOcEtzWyHR0v2k2mPbKvN9JPHdzh8bdI3BqkHbfRO7Mj2loHROKHZBS7geAaGwsu8

[2015-07-13 20:00] rodrigoargumedo opened #210 ":first_name returns extraneous info other than first name"
@mkdynamic

Right where I was testing my Rails app, it returned all of the DB info other with first name and last name. I scoped it with ```user.first_name``` that assigns to ```auth.info.first_name```. I'm not sure if this is the correct way of returning the first name:

[code]

Although, this is an issue that I only encountered throughout the test. This bug also applies to ```auth.extra.raw_info

[2015-07-13 20:06] rodrigoargumedo commented on #208
What happens if you remove..

[code]

Does it work with CSRF getting it raised?

[2015-07-17 13:03] rjcoupe opened #211 "Only getting minimal fields sent to /callback"
`provider :facebook, ENV['FACEBOOK_APP_ID'], ENV['FACEBOOK_APP_SECRET'], scope: ['email', 'public_profile']`

The authorization appears to succeed, but I only receive basic fields in the callback payload:

[code]

I can't find anything wrong with my code, judging by docs I've found and followed. Is this a bug?

[2015-07-17 23:28] simi commented on #211
You need to provide `info_fields` parameter with needed fields. See `info_fields` in [README.md](https://github.com/mkdynamic/omniauth-facebook#configuring). [Fix](https://github.com/mkdynamic/omniauth-facebook/pull/209) to get email by default will be probably merged soon

[2015-07-17 23:28] #211 closed

[2015-07-17 23:30] simi commented on #208
Hello @poc7667. Does the [example app](https://github.com/mkdynamic/omniauth-facebook/blob/master/example/app.rb) work for you? Can you modify example app or provide minimal Rails application to replicate your problem?

[2015-07-17 23:36] simi commented on #207
Hello @RathanakSreang!

You can define callback path via `callback_path` proc passed to provider in OmniAuth builder.

[code]

Also you can try approach mentioned on [Setup Phase OmniAuth](https://github.com/intridea/omniauth/wiki/Setup-Phase) wiki page.

[2015-07-17 23:38] simi commented on #205
Hello @shafaiatul. Sorry, but I can't see what issue are you facing. Can you provide some details?

[2015-07-17 23:40] simi commented on #198
Hello @comp615 @Deekor. Any news here? I have no idea what can be wrong in `omniauth-facebook` codebase causing this weird behaviour. :(

[2015-07-17 23:49] simi commented on #192
And what's expected? Redirect to `/auth/failure`?

[2015-07-18 00:04] simi commented on #188
Hmm, I can't find any note in [FB changelog ](https://developers.facebook.com/docs/apps/changelog/), but we can use secured image url by default.

[2015-07-18 00:21] #156 closed

[2015-07-18 00:24] simi commented on #192
Hello @joker-777 @nbrustein!

Actually it works when RACK_ENV is not set to development.

see https://github.com/intridea/omniauth/blob/master/lib/omniauth.rb#L37, https://github.com/intridea/omniauth/blob/master/lib/omniauth.rb#L36

You can override that via `OmniAuth.config` block. You can override `on_failure` also to provide custom behaviour.

[2015-07-20 14:04] nbrustein commented on #192
In my opinion, it does not work when RACK_ENV is not set to development, because the error message passed through to the failure endpoint is no_authorization_code.  This isn't really what went wrong.  The real problem is that the user denied the authorization request.  The fact that there is no authorization_code is just a symptom of that.  It can have other reasons (for example, if someone goes t

[2015-07-20 14:08] simi commented on #192
You can try example application in production mode. That works for me.

```$ rackup -E production```

Open http://localhost:9292/server-side and try to reject. I'm redirected to `auth/failure`.

[2015-07-20 14:30] nbrustein commented on #192
But what is the error message?  is it no_authorization_code?  To me, that's a problem.  That is a bad description of what went wrong.  It's not specific enough.  I think that the error code should tell you that the problem is that the user denied authorization, so that you can handle that specially if you want to.

[2015-07-20 14:49] simi commented on #192
Why? I think `no_authorization_code` is the exactly name for this problem. What do you expect? Probably it is possible to raise new exception in [with_authorization_code!](https://github.com/mkdynamic/omniauth-facebook/blob/f20e906b52b0a8849569f1391f01771fb628f6d7/lib/omniauth/strategies/facebook.rb#L128-L152) when `error=access_denied` is in query string. But this will break backward compatibilit

[2015-07-20 15:03] nbrustein commented on #192
To me, no_authorization_code is not good enough because it can come from other reasons (like going directly to /auth/failure).  And because when I, as a developer, read it, it took me hours of reading through code and issues online before I understood that what that really meant was that the user had clicked "Cancel" when I asked them to give me their e-mail address.  That's not clear at all.

Let

[2015-07-20 15:06] simi commented on #192
Sure, I understand you. Do you have any idea how similar omniauth libraries are handling this?

[2015-07-20 15:25] nbrustein commented on #192
With google_oauth2, I get to the the failure endpoint with params['message'] equal to "access_denied"'

[2015-07-20 16:07] nbrustein commented on #192
If you'll accept a PR for this, let me know and I'll get one together.

[2015-07-23 09:26] renztoygwapo commented on #61
still not fixed!
returning an empty email

[2015-07-23 09:52] TeamRainless commented on #61
Of course it's still returning an empty email.  Didn't you read any of
these messages? Sometimes it just does that. You have to make a hook where,
if it doesn't return an email, the user is required to type one. I even
posted my own solution somewhere in this rail.

-DH

On Thu, Jul 23, 2015 at 11:26 AM, renztoygwapo <notifications@github.com>
wrote:

[2015-07-25 23:29] brentmulligan commented on #61
@renztoygwapo If you recently created the FB App and are on FB API v2.4.2 you need to also include info_fields along with scope at config, otherwise email is not included in the omniauth.auth hash. It looks like this has been fixed in the master branch here but doesn't seem to be available on ruby gems yet.

[code]

[2015-07-27 00:31] poc7667 opened #212 "Email, gender, age not returned with Omniauth and facebook API 2.4"
I could __NOT__ get back the email information anymore with `Omniauth`.

I think the problem is duing to the API 2.4,

But I don't get how could I the the expected information

# Devise config

    config.omniauth :facebook, ENV['FACEBOOK_KEY'], ENV['FACEBOOK_SECRET'], {
      :scope => 'email',
      :info_fields => 'id,email,gender,link,locale,name,timezone,updated_time,verified',
      strategy

[2015-07-27 08:24] simi commented on #212
There's no guarantee for email field. When email is not provided by FB API, you need to ask your user in your app for it. You can spot similar issues in issue tracker.

[2015-07-27 08:24] #212 closed

[2015-07-27 08:27] simi commented on #61
@brennanpayne @renztoygwapo this change will be released this week (I'll be back on tuesday), but I'm not sure how to handle versioning for this. @mkdynamic any idea?

[2015-07-27 10:35] aug-riedinger commented on #110
:+1:

[2015-07-29 04:09] victorrodrigues commented on #61
Thanks @brentmulligan!

[2015-07-29 18:00] sophie-li commented on #208
I have similar problem too.

My code is heavily inspired from this blogpost: http://sourcey.com/rails-4-omniauth-using-devise-with-twitter-facebook-and-linkedin/

More details on stackoverflow: http://stackoverflow.com/questions/31691283/rails-4-omniauth-facebook-csrf-detected

[2015-08-04 03:06] ajahongir commented on #61
have same issue

[2015-08-04 03:27] ChrisCPO opened #213 "getting barely any info back from facebook even when requested?"
rails 4.0.0
using with devise, config is this
  config.omniauth :facebook, KEY, SECRET, scope: "email", info_fields: 'email,name,first_name,last_name'

env["omniauth.auth"] = oauth
oauth.info = image and name, both work
oauth.uid and oauth.provider, both work as well

the NILS
oauth.info.first_name is nil
oauth.info.last_name is nil
oauth.info.email is nil

why am I not getting email last name and

[2015-08-04 22:28] #213 closed

[2015-08-05 00:58] frankjwu commented on #61
+1, thanks @brentmulligan!

[2015-08-05 23:12] jentuva commented on #61
I get empty email , verified, first_name , last_name ... etc
all I get are the id,displayName,photo_url
I use public_profile,email scope even that public_profile is sent by default
what is the cause ?? O.o

[2015-08-06 10:05] vaihtovirta commented on #61
thanks for advice, @brentmulligan!
I had the same issue with recently created fb app.

[2015-08-07 17:30] justinschier opened #214 "Not getting nickname in info hash"
Authentication is working as expected, but my app relies on having the nickname, and it's not coming through in the info at all. I get name, image url, etc., but not nickname. I've looked through the FB API docs and can't find anything about it.

Here's my config:
[code]

[2015-08-07 23:56] 3zcurdia commented on #61
I try the fix suggested by @brentmulligan and It didn't work I still having empty email response and also I am using FB API 2.4

[2015-08-08 09:40] vaihtovirta commented on #61
@3zcurdia Did you try to use version from master branch?

[2015-08-08 15:05] 3zcurdia commented on #61
Nope, but I tryed and it worked thanks

[2015-08-08 16:04] spartan1234 opened #215 "Can we have dynamic callback_url/callback_path"
I am trying to add API in my existing rails application, it will just return json data, but will have different login space not the same as in existing application
Existing application - after login user will be redirected to his/her profile
New login page for api -- token will be generated and returned in api call.
So, there will be two callback function based upon the login page called, so, how

[2015-08-08 20:23] ajahongir commented on #61
I also had a problem with getting an en amail, after couple hours It worked )). very strange.

[2015-08-10 02:29] andrewmartin commented on #214
I'm having a similar issue and I cannot see even the email field. I had the config set up exactly as you had it and I cannot get the email to come through.

[2015-08-10 21:47] thalesfp commented on #61
@brentmulligan works here. Thank you!

[2015-08-24 13:49] bennylin77 commented on #214
me too, no email, first_name, last_name
and my facebook api version is v2.4

[2015-08-24 20:34] nimitzshah commented on #61
Thanks @brentmulligan!

[2015-08-28 12:55] shahidaali commented on #61
Now facebook returns only id and name fields in user info by default, if you need other fields, you have to define these fields in your request.
e.g $fb->get('/me?locale=en_US&fields=name,email,first_name,last_name');

[2015-08-29 13:29] olegprin commented on #73
gg

[2015-08-29 13:42] olegprin commented on #73
1) sudo apt-get install libwww-csrf-perl

2)  added this to our config/initializers/omniauth.rb:
Rails.application.config.middleware.use OmniAuth::Builder do
     provider :facebook, 162491*************, "**********************", provider_ignores_state: true
end

[2015-08-29 13:51] olegprin commented on #73
1) sudo apt-get install libwww-csrf-perl

2) added this to our config/initializers/omniauth.rb:
Rails.application.config.middleware.use OmniAuth::Builder do
 provider :facebook, 1624915**********, "**********************", {:scope => "email, publish_stream", :client_options => {:ssl => {:ca_path => "/etc/pki/tls/certs", :ca_file => "/etc/pki/tls/cert.pem"}}}
end

[2015-08-29 13:59] olegprin commented on #73
1) sudo apt-get install libwww-csrf-perl

2) added this to our config/initializers/omniauth.rb:
Rails.application.config.middleware.use OmniAuth::Builder do
provider :facebook, 1624915*******, "*******************", {:scope => "email, publish_stream", :client_actions => {:ssl => {:ca_path => "/etc/pki/tls/certs", :ca_file => "/etc/pki/tls/cert.pem"}}}
end

[2015-08-29 14:38] olegprin commented on #73
1) sudo apt-get install libwww-csrf-perl

2) added this to our config/initializers/omniauth.rb:
Rails.application.config.middleware.use OmniAuth::Builder do
provider :facebook, 1624915****, "****************", provider_ignores_state: true
end

[2015-08-29 14:39] hajder commented on #73
@olegprin how many more times will you post this comment?

[2015-08-29 19:00] indie-rok commented on #214
1 + more with the problem

[2015-08-29 19:12] indie-rok commented on #214
Fixed it

I just had to add this line to initializers/facebook.rb

     :info_fields => 'id,email,gender,link,locale,name,timezone,updated_time,verified'

[2015-09-02 20:35] adolfopeccin opened #216 "Still FB not returning email for some users"
Hello, it's weird but still happening to me something like this (https://github.com/mkdynamic/omniauth-facebook/issues/61):

I tried fix using this branch master v2.1.0 and setting info_fields but no success.

My config for omniauth on devise:
[code]

And then how I handle it on user model:
[code]

And Omniauth callback:
[code]

The problem still for me, FB isn't returning email on auth... Does an

[2015-09-04 01:17] l0c0luke commented on #216
did you restart your rails server?

[2015-09-04 13:24] erpe commented on #216
same thing here: app using facebook-api v2.4 -
some include email, some not.
point at facebook...

[2015-09-04 16:17] cborchert commented on #61
Thanks, @shahidaali . That solved this issue for me.

[2015-09-04 17:40] grouptable commented on #196
Could we put such initializer when using devise for authentication? The Wiki says: "This means you should not add this provider middleware again in config/initializers/omniauth.rb as they'll clash with each other ..." here: https://github.com/plataformatec/devise/wiki/OmniAuth:-Overview

Could somebody please clarify?

[2015-09-04 17:44] gshaw commented on #196
The snippet in @agrobbin above is exactly what I have in my `config/initializer/omniauth.rb` and it works without conflict.  Does that help?

[2015-09-04 19:12] shahidaali commented on #61
Facebook will not return the email for those users whose email is pending for confirmation, when a user creates new account on facebook a confirmation email is sent to the user, but if user did't confirm his email, facebook will not return his email in user info even you added email permission in scope, until user confirms his email.

[2015-09-05 02:24] grouptable commented on #196
Thank you for the clarification. We will try this today.

[2015-09-06 11:02] l0c0luke commented on #216
the other thing is your users do not HAE to give their email... when the box pops up, it allows them to uncheck it.

[2015-09-07 11:28] grouptable opened #217 "Omniauth With Devise: Given URL is not permitted by the Application configuration:"
We have configured our app following the tips stated here for version 2 of Facebook API.

In the initializers/Devise, we have as below:

config.omniauth :facebook, ENV['APP_ID'], ENV['APP_SECRET'], :scope => 'email,public_profile,user_friends', :display => 'popup' ,
:client_options => {:site => 'https://graph.facebook.com/v2.4',:authorize_url => "https://www.facebook.com/v2.4/dialog/oauth"}, token

[2015-09-08 15:42] Altiano commented on #61
@shahidaali thanks man, it solve the problem. do you know where can i found a up to date facebook sdk for php tutorial? I think the problem with most of the people is we're watching/reading old tutor on youtube or any other source so sometime the code is not valid anymore..

[2015-09-08 16:56] shahidaali commented on #61
@Altiano Thanks buddy, you can get latest news and updates on facebook developers blog at https://developers.facebook.com/blog/

[2015-09-09 21:09] adolfopeccin commented on #216
Yup. User can uncheck the email field @ auth, but I checked facebook profile with the problem and email is checked to give their email... :(

[2015-09-14 16:41] dmcbrayer commented on #208
I think part of the problem may be in your omniauth initializer.  Since Facebook updated their API to v2.4 in early July, they appear to be requiring us to specifically ask for `info_fields` in the auth request.  Would suggest you change your initializer to the following:

[code]
I was using the above referenced blog post as well (http://sourcey.com/rails-4-omniauth-using-devise-with-twitter-faceb

[2015-09-14 17:53] FuriouZz commented on #216
I make the test on rails and I got the same problem.

I try in front same thing. Then I discover the `fields` params which needs what I want.

[code]

Maybe your gem needs some changes?

[2015-09-16 08:20] dannypule commented on #61
If you're using the Javascript SDK you can define these fields and get the email and picture using the '/me' parameter like this:

          '/me?fields=first_name, last_name, picture, email'

Full function would be:

           FB.api('/me?fields=first_name, last_name, picture, email', function(response) {
              console.log(response);
              document.getElementById('status').innerH

[2015-09-19 07:04] prashaantt commented on #216
Looks like there's a kind of breaking change in v2.4. From the [2.4 release notes](https://developers.facebook.com/blog/post/2015/07/08/graph-api-v2.4/):

So @FuriouZz is on the right track. [Hybridauth](https://github.com/hybridauth/hybridauth/commit/e8015af23cc9b5aaa3755508b4d8117df8ceda5a) has a similar fix.

[2015-09-19 12:43] krzysiek1507 commented on #217
@grouptable did you set 'Site URL' on Settings tab?

[2015-09-21 07:06] grouptable commented on #217
Yes, of course.

[2015-09-23 11:38] aanjna commented on #61
User email not written/fetch with this code of auth

if ( isset( $session ) ) {
  // graph api request for user data
  $request = new FacebookRequest( $session, 'GET', '/me' );
  $response = $request->execute();
  // get response
  $graphObject = $response->getGraphObject();
     	$fbid = $graphObject->getProperty('id');              // To Get Facebook ID
 	$fbfullname = $graphObject->getProperty(

[2015-09-24 08:00] mateuszgwozdz commented on #61
If you are using facebook SDK 2.4 or higher you need to add "fields" in the strategy

`FacebookStrategy.php
line 131
BEFORE
$me = $this->serverGet('https://graph.facebook.com/me', array('access_token' => $access_token), null, $headers);
AFTER:
$me = $this->serverGet('https://graph.facebook.com/me', array('access_token' => $access_token,'fields'=>'email,name,first_name,last_name,age_range,gender'),

[2015-09-24 11:56] aanjna commented on #61
Hi
here I didn't received FacebookStrategy.php file in my src/Facebook SDK files
the code creates problem by trying the given options too please have a look
on my fbconfig.php file to retrive user's fb data

<?php
session_start();
// added in v4.0.0
require_once 'autoload.php';
require_once 'functions.php';
use Facebook\FacebookSession;
use Facebook\FacebookRedirectLoginHelper;
use Facebook\Facebo

[2015-09-26 21:30] joaomilho commented on #110
+1

[2015-09-27 02:47] woodcrust commented on #61
Very, very big thanks @brentmulligan!

[2015-09-28 03:49] skryshi commented on #196
Thank you, @agrobbin, your solution worked perfectly.

I also use Devise and init Facebook provider there, so instead of modifying `config/initializer/omniauth.rb`, I added `token_params` directly in `config/initializer/devise.rb`:
[code]

[2015-09-28 15:50] Overload119 commented on #216
I just started seeing this error a few days ago.
Is there a way to resolve this without using some code on the front-end?

[2015-09-28 15:53] FuriouZz commented on #216
I tried the devise solution and it works for me : https://github.com/plataformatec/devise/wiki/OmniAuth:-Overview#facebook-returning-nulled-email

[2015-09-28 16:08] Overload119 commented on #216
Perfect - I had run those instructions but was running an older version of `omniauth-facebook`.

[2015-09-28 18:08] Overload119 commented on #216
Ugh - still getting this error, but it's coming from users on mobile phones typically.

I have:

[code]

[code]

You can actually try it out live:
http://www.rappad.co/?show_login=true

Notice, as soon as the button is clicked apparently there's an error in the URL, as seen in "user_error=access_denied".

`https://www.facebook.com/login.php?skip_api_login=1&api_key=188262358022447&signed_next=1&ne

[2015-10-02 11:42] grouptable commented on #196
Just deployed by modifying config/initializer/devise.rb as below:
config.omniauth :facebook,
    5650971626448406,
    6ab7cbaa6b694d91fd559ef3facdf0936ab7cb,
    :scope => Rails.application.config.facebook.permissions,
    :display => "page",
    :client_options => {
      :site => "https://graph.facebook.com/v2.4",
      :authorize_url => "https://www.facebook.com/v2.4/dialog/oauth",
    },

[2015-10-02 12:05] grouptable commented on #196
How do we set the app_id and app_secret for different environments?

[2015-10-04 22:40] mrodrigues opened #218 "Email isn't being received even if Facebook says that it was sent"
I'm working in two applications using `devise` and `omniauth-facebook`. Both are using the same configuration:
[code]
One of them works without any problems, but the other one isn't returning the email, even though when I inspect the app's permissions in my Facebook account it says that the email was sent.

I've also included a code to rerequest the email if the user didn't give permission, and wh

[2015-10-05 06:17] dydx commented on #110
Following this (http://www.sitepoint.com/polling-users-rails/), I get this error:

[code]

[2015-10-07 09:15] rajputvai commented on #218
Please check this thread. https://github.com/mkdynamic/omniauth-facebook/pull/209

[2015-10-09 05:05] starthereau commented on #61
Thanks @dannypule just what I needed!

[2015-10-11 23:44] urbanvikingr commented on #110
Anybody seen this error?
`{"error":{"message":"Invalid verification code format.","type":"OAuthException","code":100,"fbtrace_id":"Fx6\/Dg4zcKE"}}`

I succeed to pass the signed request from JavaScript client on localhost:8080 to Rails API on localhost:3000 using Facebook's client-side login flow. The url is `http://localhost:3000/api/auth/facebook/callback?code=response.authResponse.signedRequest

[2015-10-12 12:52] urbanvikingr opened #219 "Omniauth-facebook version 2.0.1 or 2.1.0 in regards to signed_request.rb"
Omniauth-facebook gem says version 2.0.1 - February 21, 2015 (17.5 KB), but the version.rb in omniauth-face says version 2.1.0.

Is there a version on its way?

I noticed that signed_request.rb has been changed recently. Please could you tell if that change has been published.

While using the client-side flow, I'm getting an error message from Facebook that the signed requested has an invalid cod

[2015-10-13 03:21] realmensah commented on #218
Figured this out. You need to add the scope on fb login response. Change:

$('#sign_in').click (e) ->
    e.preventDefault()
    FB.login (response) ->
      window.location = '/auth/facebook/callback' if response.authResponse

To:

$('#sign_in').click (e) ->
    e.preventDefault()
    FB.login ((response) ->
      window.location = '/auth/facebook/callback' if response.authResponse), scope: "emai

[2015-10-13 03:27] realmensah commented on #61
Figured this out. For omniauth-facebook, you need to add the scope on fb login response. Change in facebook.js.coffee:

$('#sign_in').click (e) ->
e.preventDefault()
FB.login (response) ->
window.location = '/auth/facebook/callback' if response.authResponse

To:

$('#sign_in').click (e) ->
e.preventDefault()
FB.login ((response) ->
window.location = '/auth/facebook/callback' if response.authRespon

[2015-10-21 17:13] adolfopeccin commented on #216
Still happening. Maybe implement something like that? check: https://github.com/hybridauth/hybridauth/commit/e8015af23cc9b5aaa3755508b4d8117df8ceda5a

[2015-10-22 13:15] pywebdesign opened #220 "make sure your redirect_uri is identical, facebook api 2.5"
On a new installation of rails, devise and omniauth-facebook I get this error. Maybe version 2.5 broke something? do any have an idea what it is or experienced the same problem? thank you

ERROR -- omniauth: (facebook) Authentication failure! invalid_credentials: OAuth2::Error, :
web_1 | {"error":{"message":"Error validating verification code. Please make sure your redirect_uri is identical to the

[2015-10-22 15:47] bnhansn commented on #220
I am having the same issue with devise & omniauth facebook. In `devise.rb` I tried to explicitly set `callback_path: /users/auth/facebook/callback` and now my controller endpoint is successfully being reached, but `request.env["omniauth.auth"]` is nil. Ideas anyone?

[2015-10-22 16:14] gioblu commented on #220
I have the same issue. Happens because the redirect_uri contains also the code parameter. I have fixed with this modification: https://github.com/gioblu/omniauth-facebook/commit/eff97bfae32f72821cbccf0b48b78351e41eb585

If you perceive this correct, tell me and I will make a pull request as soon as possible.

[2015-10-22 17:25] pywebdesign commented on #220
hi @gioblu,

Amazing fix! it works.

[2015-10-22 17:43] bnhansn commented on #220
:thumbsup: @gioblu that fixes it

[2015-10-22 21:40] K1N5L4Y3R commented on #220
@gioblu awesome fix. Thanks!

[2015-10-24 01:11] vemv commented on #218
@mrodrigues is this still an issue? Two people have pointed out tips.

Else please close it.

Cheers - Victor

[2015-10-24 04:06] knowyrrole101 commented on #220
I am still experiencing this issue where request.env['ominauth.auth'] is null if I pass in callback url :callback_url => 'http://localhost:3000/sessions/create'. I am not using devise, only omniauth-fb gem. If I dont enter the callback URL in initializers/omniauth.rb i get the redirect URI error as listed above. Appreciate any help! :)

[2015-10-24 09:02] bmalehorn commented on #220
Perhaps this isn't the place to ask, but maybe this warrants a new release / push to gems?

Right now, 100% of people trying to set up Facebook + Rails are getting this error. It's "broken on production" in a sense. Doesn't that mean a new version should be pushed out soon?

[2015-10-24 12:58] mrodrigues commented on #218
Yes, it's still happening. I already have the `scope` and `info_fields`, and it's the same exact configuration for both of my applications. I make a rerequest with `redirect_to "/users/auth/facebook?auth_type=rerequest&scope=email"`, and it starts a infinite redirect loop on one of them. It's like if I had already gave permission for the application, but the email field consistently doesn't come i

[2015-10-26 08:19] knowyrrole101 commented on #220
Thanks for the fix!! I do agree with bmalehorn, however.

[2015-10-26 13:58] wraithseeker commented on #220
Does anyone know where I should be editing those files in lib/omniauth/strategies/facebook.rb when testing on my local machine?

[2015-10-26 14:59] knowyrrole101 commented on #220
Edit the gem itself locally.. replace || super in the callback method with
the code fix.
On Oct 26, 2015 6:58 AM, "wraithseeker" <notifications@github.com> wrote:

[2015-10-27 06:10] mkdynamic commented on #220
Fix released in 3.0.0.

[2015-10-27 06:10] #220 closed

[2015-10-27 06:11] mkdynamic commented on #218
Can you check if 3.0.0 fixes this?

[2015-10-27 06:12] mkdynamic commented on #214
Refer to the fix suggested by https://github.com/mkdynamic/omniauth-facebook/issues/214#issuecomment-136025923.

[2015-10-27 06:12] #214 closed

[2015-10-27 06:14] mkdynamic commented on #219
2.1.0 was never released. 3.0.0 was just released which contains changes originally slated for 2.1.0.

[2015-10-27 06:14] #219 closed

[2015-10-27 06:14] mkdynamic commented on #217
This should be fixed in 3.0.0. Can you check and see if that fixed your issue?

[2015-10-27 06:15] mkdynamic commented on #216
Email is requested by default in 3.0.0. https://github.com/mkdynamic/omniauth-facebook/blob/master/CHANGELOG.md#300-2015-10-26

[2015-10-27 06:15] #216 closed

[2015-10-27 06:16] mkdynamic commented on #215
I think the easiest way is to set a flag in the session before redirecting to FB for authentication, and then check that during the callback. If you want to work on a PR for dynamic callback url/path we'd consider it.

[2015-10-27 06:17] mkdynamic commented on #210
Not sure I follow. Can you supply a test case that reproduces the problem?

[2015-10-27 06:17] mkdynamic commented on #208
Can you check if this is fixed in 3.0.0?

[2015-10-27 06:18] mkdynamic commented on #207
Looks like the solution suggested by @simi solves this, so closing for now. Please update or open a PR if you think we need changes to support this better. Thanks!

[2015-10-27 06:18] #207 closed

[2015-10-27 06:19] mkdynamic commented on #205
Closing this due to lack of info, please update if you have more details and we'll take another look.

[2015-10-27 06:19] #205 closed

[2015-10-27 06:19] mkdynamic commented on #204
No activity on this, so closing for now. Please ping if you're still running into issues or have new info and we'll re-open.

[2015-10-27 06:20] mkdynamic commented on #199
I'm not sure what the specific field is that you need to pass to get this info, but this does not seem like a bug. If anyone has suggestions please update.

[2015-10-27 06:20] #199 closed

[2015-10-27 06:21] mkdynamic commented on #198
Closing this, seems specific to environment/setup and not a bug. Please update/re-open if you have more info.

[2015-10-27 06:21] mkdynamic commented on #198
Closing this, seems specific to environment/setup and not a bug. Please update/re-open if you have more info.

[2015-10-27 06:21] #198 closed

[2015-10-27 06:22] mkdynamic commented on #196
Closing this in lieu of https://github.com/mkdynamic/omniauth-facebook/issues/190.

[2015-10-27 06:22] #196 closed

[2015-10-27 06:22] mkdynamic commented on #192
@nbrustein PR welcome.

[2015-10-27 06:23] mkdynamic commented on #188
Is this still a problem?

[2015-10-27 06:24] mkdynamic commented on #187
@dylnclrk PR welcome.

[2015-10-27 06:24] mkdynamic commented on #186
Closing due to inactivity. Please re-open if still an issue.

[2015-10-27 06:24] #186 closed

[2015-10-27 06:25] mkdynamic commented on #185
This is not a bug, but PRs with README update are welcome.

[2015-10-27 06:25] #185 closed

[2015-10-27 06:25] mkdynamic commented on #170
Closing due to inactivity. Please re-open if still an issue.

[2015-10-27 06:25] #170 closed

[2015-10-27 06:26] mkdynamic commented on #155
Closing due to inactivity. Please re-open if still an issue.

[2015-10-27 06:26] #155 closed

[2015-10-27 06:26] mkdynamic commented on #149
Closing due to inactivity. Please re-open if still an issue.

[2015-10-27 06:26] #149 closed

[2015-10-27 06:27] mkdynamic commented on #148
This is not specific to this library, but rather a general CORS issue. Any README update PRs welcome however.

[2015-10-27 06:27] #148 closed

[2015-10-27 06:27] #111 closed

[2015-10-27 06:29] mkdynamic commented on #110
I think this ticket is covering a multitude of issues, possibly unrelated. Please make sure you're running rh latest omniauth-facebook and omniauth-oauth2 versions. And you need to make sure that either the cookie (containing the signed request) set by FB JS SDK or the signed_request parameter needs to make it to the /auth/facebook/callback request.

Please open separate issues if problems persist

[2015-10-27 06:29] #110 closed

[2015-10-27 06:30] mkdynamic opened #222 "Fix test suite for 1.8.7"

[2015-10-27 06:30] #218 closed

[2015-10-27 06:30] #217 closed

[2015-10-27 06:31] #208 closed

[2015-10-28 02:24] PikachuEXE commented on #204
Oh I just found this issue and I got exactly the same problem
`2.4` & `2.3` throws the same error, and `2.2` works.

I have tested with `3.0.0` & `2.0.1` of this gem, same result for both versions.
Other related gems:
- `devise` `3.5.2`
- `omniauth-oauth2` `1.3.1` /  `1.4.0`
- `omniauth` 1.2.2`

My config (in `Devise.setup`):
[code]
Error message:
[code]

[2015-10-29 20:20] prashant4224 commented on #208
Still the issue remains same

    Started GET "/users/auth/facebook" for 127.0.0.1 at 2015-10-30 01:30:13 +0530
    I, [2015-10-30T01:30:13.483854 #10255]  INFO -- omniauth: (facebook) Request phase initiated.

    Started GET "/users/auth/facebook/callback?code=AQDeo5qj0l9Gii6I6AYND6p2OEESDQ_cDS9lFqoqQoAvzR_Ka_9l5-nMH1KACoUDuI72Nl-G9mYYrDZfrxkDBLUWV8jkz2sV-7MV21-vKPE6cAeoIbrE4wOJNVwE_pcyyZwsxFZIR

[2015-10-30 10:11] osnysantos commented on #165
@simi the code from @cristiansorinel worked for you? In my case just in Chrome it doesnt worked, even with @cristiansorinel code. I used the code from the example as well: https://github.com/mkdynamic/omniauth-facebook/blob/master/example/app.rb#L24

[2015-10-30 17:18] adolfopeccin commented on #216
Checked 3.0.0 and email still not returned for me :(

[2015-11-01 00:30] deuxio opened #224 "Missing first_name, last_name, etc. in info hash"
Hi,

I'm trying to retrieve some info from facebook using devise + omniauth facebook.

initializer
[code]

hash

[code]

I tried using issue #214's solution, but it doesn't work...

Any idea ?

Thanks,
Brice

[2015-11-03 00:21] timherby commented on #192
Experiencing the same thing.  This would be very valuable to us as we want to log the actual errors, and this is a red herring when troubleshooting oauth issues.

[2015-11-03 15:42] hajder commented on #204
@mkdynamic Running into the same issue here and really need API version 2.5 so please let me know how can I help debugging?!

[2015-11-03 15:50] hajder commented on #204
Ok, got it. Quoting API changelog

[2015-11-03 17:00] hajder commented on #204
So the problem lays in this line

    option :token_params, {
      :parse => :query
    }

It would have to be set to `:query` for API < 2.3 and `:json` or `nil` for >= 2.3. I tested it and this one change fixed the bug.

[2015-11-04 05:22] PikachuEXE commented on #204
I think the doc about this `token_params` option should be added near "API Version" in README.
Since the right option depends on the API version to use.

[2015-11-09 13:57] harinsa commented on #224
Have you tried removing the space in the info_fields? so it's like `id,email,username...`

[2015-11-09 14:04] deuxio commented on #224
I solved the issue. Keeping the space works fine, but the ```username``` field is no longer supported by facebook and returned an error. Removing that field resolved the issue.

Good to know ;)

[2015-11-09 14:04] #224 closed

[2015-11-11 10:29] diegodurante commented on #61
If you are using ruby on rails and the omniauth-facebook gem, remember to update that gem to the last 3.0.0 version.

[2015-11-11 11:32] shahidaali commented on #216
Facebook will not return the email for those users whose email is pending for confirmation, when a user creates new account on facebook a confirmation email is sent to the user, but if user did't confirm his email, facebook will not return his email in user info even you added email permission in scope, until user confirms his email.

[2015-11-13 10:03] sibinx7 commented on #208
[code]
Same issues, Can't connect with Facebook with omniauth-facebook

[2015-11-13 10:06] sibinx7 commented on #208
Can anyone post an working example with device, omniauth-facebook... I tried many time but got same error...

[2015-11-13 10:20] sibinx7 commented on #208
It is not gem's issues,it is my mistake,  i have added configuration on both device.rb initializer and a newly created omniauth.rb initializer, after removing everything from omniauth.rb and restart server, i got facebook datas...

[2015-11-15 15:27] flbaker opened #227 "Facebook logon OK but requested permissions don't show and not granted"
I am using the Facebook logon button
<fb:login-button scope="manage_pages,publish_actions" onlogin="checkLoginState();"></fb:login-button>

I can logon, but the permissions authorization screen does not show. My app has been reviewed by Facebook and the permissions "manage_pages, publish_actions" have been granted.

I have exhausted my options and need help to overcome this issue. During my study,

[2015-11-21 05:25] echezbro commented on #147
what data type did you save age-range as in your database?

[2015-11-30 12:49] qcx opened #228 "Invalid verification code format"
Hi,

I'm trying to use omniauth-facebook but when I use javascript login I get this error:

Invalid verification code format

But I'm using the token returned in request.env['omniauth.auth']['credentials']

What's wrong ?

Thanks.

[2015-12-08 20:48] LuanGB commented on #161
Could You provide the url to the solution of this issue on Stack Overflow?

[2015-12-08 20:51] hajder commented on #161
@LuanGB here you go! http://stackoverflow.com/questions/24835354/omniauth-facebook-could-not-authenticate-you-from-facebook-because-invalid-cre

[2015-12-09 21:44] LuanGB commented on #161
Thank you very much...

[2015-12-12 01:31] andrewhavens opened #229 "request.env["omniauth.auth"] is nil when using Javascript SDK"
I'm using the Facebook Javascript SDK to perform login, just like in the Sinatra example. I make a request to my `/auth/facebook/callback`, but `request.env["omniauth.auth"]` is nil. The readme says that it is supposed to parse the signed request cookie. I have confirmed that the cookie is being set. I was able to verify that the access token is valid too. But for some reason, omniauth-facebook is

[2015-12-12 01:32] andrewhavens commented on #229
When I use the redirect method (visit `/auth/facebook`) it is set correctly. However, in my case, I must use the Facebook Javascript SDK.

[2015-12-18 11:54] grishanin opened #230 "ok dev"

[2015-12-21 16:20] simi commented on #230
:question:

[2015-12-21 16:20] #230 closed

[2015-12-31 20:11] WhiteWolves commented on #61
SOLUCION

Bien estube experimentando con la Graph API de facebook y el que no regrese el email del usuario se debe a que nunca confirmo ese correo electronico, por lo tando facebook no lo devuelve como informaciom valida.

ya quedaria a las necesidades de cada quien si se permite registrar al usuario sin estar precente el email. O pedirle al usuario que ingrese un email manualmente.

[2016-01-12 07:36] mirzoz commented on #73
@emkman, your method really works! thanks bro!

[2016-01-15 00:11] Alxzu opened #231 "Android app login into REST api"
Hi, sorry about my english, I will try to be as clear as I can.
I have a Rails Restful Api actually using [devise token auth](https://github.com/lynndylanhurley/devise_token_auth) for authentication. I need to provide a way to login from an Android app. How can I achieve this using omniauth-facebook? Thanks

[2016-01-15 07:52] Shannanigans commented on #61
Facebook users can register using a phone number instead of an email addy. This means that facebook does not have an email address for that user.

https://developers.facebook.com/docs/facebook-login/permissions#reference-email

[2016-01-18 07:07] mindaslab commented on #204
Donno weather I am experiencing this bug. But when I try it on the server, I am getting this error

[code]

[2016-01-24 21:11] John222 commented on #210
Hi. I am expierencing the same issue. When i try to refer **auth.extra.raw_info.first_name** or **auth.first_name** i get no information. I am using omniauth 1.3.1 with omniauth-facebook 3.0.0.0.

Same is for **last_name** and **gender**. All information should be available by the default permission  **default_profile**

[2016-01-25 04:53] floalex commented on #188
I am having the same issue. I have set :secure_image_url => true  and :image_size = >  large, but I still get the default image size, which is 50x50.

[2016-01-26 23:51] mapreal19 commented on #210
@John222 see #214. You need to add `info_fields` in your config:

    config.omniauth :facebook, ..., info_fields: 'first_name, last_name'

Found answer here: http://stackoverflow.com/a/33095669/2273578

[2016-01-28 00:22] sdsunjay commented on #147
I am also not able to get the "age_range" either.

 config/initializers/devise.rb
`config.omniauth :facebook,"960469867376301","a77390f761f34b238558ae79ac43381a", scope: 'public_profile,email', info_fields: 'email, id,first_name,last_name,gender,picture,link,age_range'`

...
After much trial and error, I figured out how to get the age_rage. They **don't **make it easy.
`auth.extra.raw_info.age_ran

[2016-01-28 19:54] diegosky1 opened #232 "Can't install latest version with rails 5beta1"
After bundle install the gem with version 3.0, I get this...
Bundler could not find compatible versions for gem "rack":
  In snapshot (Gemfile.lock):
    rack (= 2.0.0.alpha)

  In Gemfile:

    simple_form (>= 0) ruby depends on
      actionpack (< 5.1, > 4) ruby depends on
        rack-test (~> 0.6.3) ruby depends on
          rack (>= 1.0) ruby

    rails (< 5.1, >= 5.0.0.beta1) ruby depends on

[2016-01-28 23:20] simi commented on #232
We're waiting for [oauth2 new release](https://github.com/intridea/oauth2/commit/43e1fdd87e95a5b02438d5cce6a67e411afb5fec). Meanwhile you can use latest master branch:

[code]

[2016-02-03 13:51] Nekromancer commented on #204
Not sure if i have identical problem, but here's my config:
[code]
Trying to login fails with flash `Could not authenticate you from Facebook because "Invalid credentials".` and logs are like that:
[code]
Weird part is it was working just for like 3-4 days ago without an issue. Now it's working only on development environment (on test app)

[2016-02-03 14:11] hajder commented on #204
Did you check with `token_params: { parse: :query }`?

[2016-02-03 14:14] Nekromancer commented on #204
Yep, same thing

[2016-02-03 14:22] hajder commented on #204
Can you also try with api version `2.3`? Also can you include gem version that you're using?

[2016-02-03 14:33] Nekromancer commented on #204
On developers.facebook.com there's an info that lowest version i can use is v2.5. Before this 3 days it was working well without client_options or token_params..

[2016-02-03 14:40] Nekromancer commented on #204
Gem version (from gemfile.lock):
[code]
I can't try with api version 2.3. developers.facebook.com says that the lowest api i can use is v2.5:

https://scr.hu/0qawf/hi2l6

[2016-02-03 15:17] Nekromancer commented on #204
Ok, seems like my problem is with ip whitelist..
[code]
Still weird, but i think it's not related to this thread

[2016-02-11 16:15] hajder commented on #204
@mkdynamic I provided a patch for README, I don't think this is an optimal solution but should help at least some people facing this problem (which is EVERYONE who tries to use this gem with a new Facebook app at the moment)

[2016-02-11 19:45] mkdynamic commented on #204
Thanks @hajder, that is great! Looks like @simi is reviewing and I expect he will merge soon.

[2016-02-25 20:47] izoomi commented on #229
+1 any update on this?

[2016-02-28 17:37] Uelb opened #234 "Cannot access some info fields from the public profile"
These info fields cannot be accessed via the gem although they are sent by default by facebook.
- age_range
- verified
- gender
- timezone
- locale

https://developers.facebook.com/docs/facebook-login/permissions?locale=fr_FR#reference-public_profile

[2016-03-08 07:13] dmcbrayer commented on #229
+1 ditto.  I am having the exact same issue.

[2016-03-15 16:09] mu-is-too-short commented on #228
Did you figure out what was wrong?

[2016-03-18 18:12] dlynam commented on #61
I recently experienced this issue with the latest omniauth-facebook 3.0.0 version.

[2016-03-23 22:43] crystalneth opened #236 "Only name and id returned regardless of info_fields"
I have tried setting info_fields to any number of things, including just 'first_name', but only name and id are returned from facebook.

I don't see anywhere in omniauth source code where info_fields are passed to facebook as the fields parameter, which would be required for facebook to return those fields. The request to /me in the library only requests the default fields.

My workaround is to re

[2016-03-30 19:09] rlugge commented on #236
I'm getting the exact same issue.  How are you requesting the additional pieces of information, @crystalneth ?

[2016-04-09 17:50] drnluz commented on #231
Hello. I also have a api using devise token auth that I need to integrate with omniauth-facebook for ios/android login. I found the following gem: https://github.com/SoapSeller/omniauth-facebook-access-token. I think that this can solve our problem. I'll test it.

[2016-04-09 17:59] simi commented on #231
@drnluz if I remember well, that library is not secure. We're working on same functionality with secured background in https://github.com/mkdynamic/omniauth-facebook/pull/174.

[2016-04-09 19:29] drnluz commented on #231
@simi Thanks for the warning. I'll take a look at the PR.

[2016-04-26 18:53] MatthewMDavis opened #237 "secure_image_url not making any difference"
Whether or not I set `secure_image_url` to `true`, I get no image and the following warning:

`Mixed Content: The page at 'https://fakeapp.herokuapp.com/#' was loaded over HTTPS, but requested an insecure image 'http://graph.facebook.com/10934827019283457/picture'. This content should also be served over HTTPS.`

This is running omniauth-facebook v3.0.0 and the Facebook API is v2.6.

[2016-04-29 23:21] fearenales commented on #231
Hi, I'm sorry if I misunderstood, but this is also related to a separated frontend app, right? (actually it's related to any API consumer app that wants to provide Facebook login --  and it doesn't deserve a new issue here).

I'm trying to login in the frontend using FB JS SDK and send the result to the OAuth Facebook Callback URL so that `omniauth-facebook` can exchange for a long-term token. How

[2016-05-01 05:53] aledalgrande commented on #229
Found any solution? +1

[2016-05-02 03:47] abevoelker commented on #215
Sorry to revive an old issue, but would you still be accepting PRs for a dynamic callback URL/path? If so, how would you envision that be implemented? As a query parameter like `display`, `scope`, and `auth_type` are currently handled?

Reason being, I was thinking about appending a [JWT](https://jwt.io/) as a query parameter to my callback URL instead of setting session variables.

[2016-05-03 04:50] mkdynamic commented on #215
@abevoelker Allowing the redirect URL or path to by dynamic is a security risk since it lets attackers leak authentication details to URLs they control. However, it should be safe to pass dynamic query string parameters as part of the callback URL.

This used to be possible, but we removed support as part of https://github.com/mkdynamic/omniauth-facebook/pull/221. If you can work on a PR that enab

[2016-05-03 15:17] Argonus commented on #236
@crystalneth Have you resolved this problem? Facebook give me back only email/full name and id...

[2016-05-09 00:05] abevoelker commented on #215
Okay thanks, after you mentioned the security risk and seeing how easy it is to break things based on the issue you linked, I decided against it and am going to just use a session variable instead. Sorry, and you can close this issue once again.

[2016-05-10 13:44] admazzola opened #238 "Connection reset by peer"
So Im getting this weird error - it pops up on some of my dev environments but not others.  Its been creeping into more and more of them and it totally breaks my omniauth login!   After I do the sign-in on facebooks page and get redirected back to my site, the big red rails error screen appears with the following...

[code]

Please help! o.o

[2016-05-10 15:45] algodave commented on #229
Same issue here, any update?

[2016-05-11 14:14] sribalakumar opened #240 "Fix test suite for 1.9.2 and rbx"

[2016-05-12 08:58] BigMcLargeHuge opened #241 "jwt version conflict prevents installation alongside omniauth-google-oauth2"
I've run into a situation where I'm trying to enable authorization through both  Facebook and Google via the `omniauth-facebook` and `omniauth-google-oauth2` gems respectively.  However both rely on different versions of the jwt gem, leading to the following conflict:

[code]

[2016-05-12 10:58] simi commented on #241
This probably fixed in https://github.com/intridea/oauth2/commit/e0006cb5099bf392f011eb5c49cbec4f893bbdba. You'll need to wait for new release or use directly oauth2 gem from master.

[2016-05-12 11:32] simi commented on #240
hmm, are you interested in?

For 1.8.7 and 1.9.2 I think only lower rake version is needed (can be locked in Gemfile just for ruby_19 and ruby_18 platforms).

I have no idea what's going on in rbx build.

[2016-05-12 22:33] nonato opened #242 "How do I refresh the token when it expired, without the user having to log in again?"
Good evening.

Is there a way to renew the token after it is expired without the user having to log in again?

When I do authentication with google, I get a "refresh_token" which allows me to generate a new "access_token", when it expires.

That way, I do not need to force the user to log in again to generate a new token

Is there any way to do this with the gem "ominiauth-facebook"?

THanks!!

[2016-05-25 05:17] lucianoinso commented on #61
@shahidaali thank you so much! This solved the problem. It's freaking  unbelievable that this doesn't appear on Facebook's permissions documentation.

[2016-05-25 07:35] shahidaali commented on #61
@lucianoinso you are welcome...!

[2016-06-01 12:18] aanjna commented on #61
okk done EOC

[2016-06-06 16:25] HoracioChavez opened #243 "Cannot logout from an iOS web app when `apple-mobile-web-app-capable` set to `true`"
Logout works good with any other situation (tested with Mac Desktop Chrome 51, Desktop Safari 9.1 and Chrome and Safari for iOS 9.2.1). I'm using also Devise.

Logout doesn't work right from a web app in iOS.

Current behavior:
Click on `Login via Facebook`.
  If: user logged in in safari, use that credentials to login in web app
  else: request facebook credentials
Click on 'Logout'
  'looks' lik

[2016-06-08 05:29] mathie commented on #204
Just a wee data point. It looks like they've switched *back* to a URL-encoded response in v2.6 of the API! I can't find the API changelog offhand to see exactly which version is was reverted in...

[2016-06-14 20:09] HoracioChavez commented on #243
Still, not working. But I think this is directly related: https://github.com/metova/metova-rails/issues/17#issue-135474679

[2016-06-22 19:47] alanwillms opened #246 "OmniAuth::NoSessionError"
When using `omniauth-facebook` `3.0.0` with a API-only Rails 5 application, I get this error:

`OmniAuth::NoSessionError (You must provide a session to use OmniAuth.)`

It seems the issue has already been solved by `omniauth-oauth2` `1.3.1`, but this gem requires version `1.2`.

Is there a workaround?

[2016-06-22 23:12] simi commented on #246
Let's see if we can upgrade also.

[2016-06-25 08:47] ndeokar commented on #61
we could add email check on the returned data. then prompt user with dialog for adding email. its just work around.

[2016-06-27 00:49] #215 closed

[2016-06-27 00:50] mkdynamic commented on #238
Closing this since is old and it looks like a networking issue, not related to this gem.

[2016-06-27 00:50] #238 closed

[2016-06-27 00:51] mkdynamic commented on #242
Please review the README docs for `auth_type` and the FB docs here:
https://developers.facebook.com/docs/facebook-login/reauthentication/

[2016-06-27 00:51] #242 closed

[2016-06-27 00:53] mkdynamic commented on #237
@MatthewMDavis Can you paste our OmniAuth config? I cannot reproduce this and the unit test we have overing this suggests the option is used:
https://github.com/mkdynamic/omniauth-facebook/blob/master/test/strategy_test.rb#L98

If you are able to write a failing test case, that would be most appreciated.

[2016-06-27 00:56] mkdynamic commented on #246
@alanwillms This gem only requires `~> 1.2` for `omniauth-oauth2`, so you should be able to use `1.3` (or `1.4`) in your app. If you're using Bundler, specify this in your Gemfile:

[code]

[2016-06-27 00:56] #246 closed

[2016-06-27 00:58] mkdynamic commented on #241
This is an issue in `oauth2` as @simi mentioned.

[2016-06-27 00:58] #241 closed

[2016-06-27 00:59] MatthewMDavis commented on #237
I realized that the Facebook-linked accounts that weren't showing the
secure image were accounts created before I had turned that flag on.
Deleting the accounts and re-authorizing solved the problem.

On Sun, Jun 26, 2016 at 5:53 PM, Mark Dodwell <notifications@github.com>
wrote:

[2016-06-27 01:00] mkdynamic commented on #236
What are you passing for `scope` -- to include permissions for accessing this info? By default, only `email` is requested.

[2016-06-27 01:02] mkdynamic commented on #229
Are you seeing any errors? I noticed when testing that FB only does not appear to set the required FBSR_ cookie when the host was `localhost:9292`, but works when I use Pow and use a non localhost domain with no port `omniauth-facebook.dev`. Are you seeing this on localhost domains? With ports?

[2016-06-27 01:05] mkdynamic commented on #234
PR welcome!

You can still get these via the raw_info part of the hash.

[2016-06-27 01:05] #234 closed

[2016-06-27 01:06] mkdynamic commented on #204
The next version of this gem will be using versioned APIs.

[2016-06-27 01:06] #204 closed

[2016-06-27 01:07] mkdynamic commented on #190
Next version will use versioned APIs.

[2016-06-27 01:07] #190 closed

[2016-06-27 01:07] mkdynamic commented on #227
Closing due to inactivity.

[2016-06-27 01:07] #227 closed

[2016-06-27 01:07] #232 closed

[2016-06-27 01:08] #210 closed

[2016-06-27 01:08] #231 closed

[2016-06-27 01:09] mkdynamic commented on #188
Closing due to inactivity. If somebody can provide a failing test case or fix, we'll consider re-opening.

[2016-06-27 01:09] #188 closed

[2016-06-27 01:09] #228 closed

[2016-06-27 01:13] mkdynamic commented on #240
Next version will require 1.9.3+, build is updated accordingly.

[2016-06-27 01:13] #240 closed

[2016-06-27 01:13] mkdynamic commented on #222
Next version will require 1.9.3+, build is updated accordingly.

[2016-06-27 01:13] #222 closed

[2016-06-27 01:14] mkdynamic commented on #237
K, thanks @MatthewMDavis that sounds like the culprit. Closing.

[2016-06-27 01:14] #237 closed

[2016-06-27 01:14] mkdynamic commented on #188
Also see https://github.com/mkdynamic/omniauth-facebook/issues/237#issuecomment-228634595

[2016-06-27 09:37] bogdanRada commented on #187
any updates on this? This is a security vulnerability and it passed 8 months since last comment in this thread.  I am really interested if this was fixed or are there any plans of fixing this in the near future? Any response would be much appreciated .

[2016-06-27 18:36] kenn commented on #190
Awesome, thanks Mark! 👍

[2016-06-28 00:55] mkdynamic commented on #187
Nothing new to add. The CRSF on Facebook sign-in/sign-out still exists AFAIK. The CSRF potential for the `/auth/facebook` request step is a side-effect of the design of OmniAuth -- changing that endpoint to require CSRF protection I think is not viable without making this gem behave in a way that deviates from the OmniAuth "spec". We could add as an option (POST + CSRF token) but I don't think we

[2016-07-06 12:02] tonilin opened #247 "Rails 5 support"
This is a dependency issue need to be fixed (Rails 5 needs rack ~> 2.0)

[code]

[2016-07-11 14:10] ssborges commented on #236
Hi @crystalneth, I have the same problem. I am not able to fetch any other field (also `Extra` only returns Id and Name), despite my efforts to change the `scope` to include permissions. Have you resolved this problem?  thx

[2016-07-26 19:46] svoop commented on #190
@mkdynamic Facebook keeps nagging due to the Aug 8 deadline for unversioned API access. What would you say, better switch to RC of version 4 now or is version 4 about to be released within the next couple of days anyways?

[2016-07-27 04:32] mkdynamic commented on #190
@svoop Just released 4.0.0, since no bug reports from the RC. Let me know how it goes.

[2016-07-27 19:32] shadowed87 commented on #236
I have been using this gem for a year, suddenly, no changes, updated to last version, and I am only getting email and fullname, regardless of any info_fields....updating does not solve the issue for me. Any hints?

[2016-07-27 19:51] mkdynamic commented on #236
@shadowed87 What scope are you passing?

[2016-07-27 20:14] shadowed87 commented on #236
Ok, after many tests, it's going through, passing the right configuration. There was a problem with the interaction with devise, written a while ago but for some reason now there was a missing comma XD (after ...APP_SECRET']), which wasn't throwing any error due to the brackets.

`
config.omniauth` :facebook, ENV['FACEBOOK_APP_ID'], ENV['FACEBOOK_APP_SECRET']
{
   :image_size => {:width => 165, :h

[2016-07-27 20:18] mkdynamic commented on #236
@shadowed87 :thumbsup: thank for sharing.

[2016-08-03 10:43] mohaazeem opened #249 "Scope doesn't seem to be working in omniauth.rb"
In my **omniauth.rb** file I pass a scope in the hash with some permissions that I would like my app to have access to. However, whenever someone tries to authenticate my app, they are only asked for the public profile and user friends permissions which are the default scopes. Does anyone have any idea why this could be happening?

Here's the file:

**config/initializers/omniauth.rb**

[code]

I h

[2016-08-04 08:34] chussenot opened #250 "Auth hash and public"
Hi there,

We use the gem with Devise,

**config/initializers/devise.rb**

[code]

And the omniauth.auth response doesn't contain core fields `first_name` and `last_name`

**Pry breakpoint**

[code]

**Gemfile**

[code]

[2016-08-04 08:35] chussenot commented on #250
Do you know more about this issue ?

[2016-08-07 06:49] sophiez2628 commented on #229
i also notice that there is no 'Callback phase initiated' in my logs. what is causing the problem?

[2016-08-10 19:16] tannerbrandt commented on #237
Hey everyone - I have no idea why this happens to people once and awhile. I can't seem to trace it either, even when it works perfectly in one of our apps, but not in the other. Secure image is called correctly, but all the Facebook photos are returned, even when you call for only the one image size. There is a work around if you need it (until someone spots the issue)- simply call this when you c

[2016-08-10 19:17] tannerbrandt commented on #188
Hey everyone - I have no idea why this happens to some people and not others. I can't seem to trace it either, even when it works perfectly in one of our apps, but not in the other. Secure image is called correctly, but all the Facebook photos are returned, even when you call for only the one image size. There is a work around if you need it (until someone spots the issue)- simply call this when y

[2016-08-14 16:58] chkelly commented on #249
I ran into something similiar. Got it working with the below:

[code]

[2016-08-15 06:48] mmahalwy commented on #246
hmm, I cannot get it to work even with 1.4. Still same error as above. Anyone experiencing same thing?

[2016-08-18 01:33] mmahalwy commented on #229
any update on this?

[2016-08-19 22:05] tmac commented on #250
@chussenot Facebook, as of API 2.4, now requires you specify the fields you want.

http://stackoverflow.com/questions/31692355/facebook-only-returning-name-and-id-of-user

In omniauth you specify the info_fields like so:

  config.omniauth :facebook, FACEBOOK[:app_id], FACEBOOK[:app_secret],
    info_fields: 'first_name,last_name,email',
    scope:       'public_profile,email',
    image_size:  'l

[2016-08-21 12:04] mohaazeem commented on #249
Thanks for the reply @chkelly. Unfortunately your solution didn't work with me.

I guess Facebook has a new policy now for requesting user permissions. If you navigate to **App Review** tab on your application's settings on Facebook's Developers page, you'll find that they now ask you to submit some stuff for review if you want to request a certain permission from the user. Stuff like how the user

[2016-08-21 14:32] chkelly commented on #249
Correct you do need to go through approval, you should be able to whitelist specific people though as testers (in your app settings) which will allow it to work (it does give them a warning about the app not being approved) but obviously that should be fine for development.

[2016-08-22 11:35] mohaazeem commented on #249
@chkelly Yeah I guess that should work, but we wanted it to work with public users. I'll see if we can look into the approval thing. Thank you so much for your help!

[2016-09-08 12:44] rusikf opened #252 "How to refresh expired token ?"
Hello ruby hackers!

Example:
 1) I saved token to db, and did some requests to fb with this token.
 2) After some time, token will be expired
Question:
 How to refresh it ?

May be I need to log in again through omniauth-facebook, but with auth_type: 'reauthenticate' for refresh token or there is a more elegant way ?

[2016-09-08 12:50] simi commented on #252
This out of scope of this library. You'll need to handle this on your own. See attached links.

https://developers.facebook.com/docs/facebook-login/access-tokens/expiration-and-extension
http://stackoverflow.com/a/21879758/319233

[2016-09-08 12:50] #252 closed

[2016-09-11 17:35] dsp1589 commented on #61
Am experiencing this issue right now :( In android fb sdk **facebook-android-sdk:[4,5)** I tried almost all the solution provided here and am using my own personal account for testing. [Email id is verified and no phone no provided to FB]. If any one know the fix, please help. its driving me crazy.

            Bundle parameters = new Bundle();
            parameters.putString("fields",

[2016-09-12 14:39] joker-777 opened #253 "Faraday::ConnectionFailed: Connection reset by peer - SSL_connect"
Hello,

we haven't changed anything but suddenly got this error
[code]
Does anyone experience the same problem? Do you guys know what the reason could be?

We use

omniauth-facebook: 3.0.0
omniauth: 1.3.1
ruby: 2.2.2p95 / 2.3.1

Thanks,

Johannes

[2016-09-12 15:23] TeamRainless commented on #61
I can't believe this is still getting messages... I gave up on this a LONG
time ago and just created a workaround that asks the user to supply an
email if Facebook doesn't. (You'll find my solution probably like 75
messages back...)

On Sun, Sep 11, 2016 at 7:35 PM, dhana <notifications@github.com> wrote:

[2016-09-12 15:25] simi commented on #61
@TeamRainless I have no idea what's still discussed here. You're not getting email from FB everytime (depends on user settings) and you need to ask him for email if you need it and response is missing that.

[2016-09-12 16:00] TeamRainless commented on #61
That's... exactly what I just said. :p

I was just responding to... I don't know... I guess the 75th email that I'm
attached to. (I don't know how exactly I got into the github chain...)

On Mon, Sep 12, 2016 at 5:25 PM, Josef Šimánek <notifications@github.com>
wrote:

[2016-09-13 04:52] ljnet commented on #61
+1, localhost ok, online fail.
have to ask user to input email.

[2016-09-13 06:55] ndeokar commented on #61
@dsp1589  : have a look at [this](http://androidhiker.blogspot.in/2016/08/facebook-email-not-found-via-graph-api.html).

[2016-09-13 19:31] gingerlime commented on #253
I should probably add that it's intermittent. It works in ~90% of the cases, but occasionally fails with this error.

[2016-09-14 10:42] gingerlime commented on #253
We were testing compiling ruby 2.3.1 on a new platform (same gem versions), and bumped into the same error again :-/

[2016-09-14 11:11] simi commented on #253
I think this is not related to this library at all. `Connection reset by peer - SSL_connect` often means you're using unsupported handshake or similar case. This can be caused by OpenSSL version/config or something related to SSL communication.

[2016-09-14 11:11] #253 closed

[2016-09-14 12:46] gingerlime commented on #253
Probably not, but we were hoping someone might be able to help. It happens some times with the same version/config of OpenSSL ...

[2016-10-11 16:43] AlexVPopov opened #255 "Add more descriptive error for an invalid input field"
I am using `omniauth-facebook` with `devise` and Rails 4.2. In `devise.rb`, if you have the following configuration:

[code]

and you add an invalid input field, which is not present in [this list](https://developers.facebook.com/docs/graph-api/reference/user/), then the flash that is displayed is:

The relevant log line is:

I think there should be a more descriptive message, stating what the pro

[2016-10-12 03:54] simi commented on #255
The origin of this is in https://github.com/intridea/omniauth-oauth2/blob/464fcef6c0a5f1a7526b9701cec37f342ce57ae3/lib/omniauth/strategies/oauth2.rb#L77.

Not sure if we should handle this on our own here in omniauth-facebook or improve original omniauth-oauth2 code.

[2016-10-12 10:49] AlexVPopov commented on #255
On the one hand, this is something Facebook specific and the exact error must be inferred from the error message. However, the code in omniauth-oauth2 implies that all `OAuth2::Error`s are caused by invalid credentials. I guess both pleases deserve improvement...

[2016-11-15 20:05] svoop commented on #190
Cleaning my inbox, I come across this old issue. @mkdynamic Yep, worked like a charm, thanks a bunch for the fix!

[2016-11-22 17:30] jbaugh opened #257 "Not receiving email despite requesting it in scope/info_fields"
See config below:
[code]

When it asks for permission, it says the app is requesting the public profile. If I leave the entire scope through display hash blank (i.e. use the defaults), I still do not get email back.

The info hash in auth response is
`
#<OmniAuth::AuthHash::InfoHash first_name="..SNIPPED.." image="..SNIPPED.." last_name="..SNIPPED.." name="..SNIPPED..">
`

All the "solutions" I've

[2016-11-30 22:14] jahrichie opened #259 "Omniauth returns nearly empty hash after ruby upgrade"
We just updated our app to ruby 2, and lost facbeook login.  The hash coming back is pretty empty. We did not update our gems for omniauth or omniauth-facebook so im confused why our config is hosed.

Even more confusion...our API is running the same ruby version, and same gem versions and works.

Gemfile at Ruby 2.0

[code]

**Hash returned at 2.0**
[code]

**Hash returned at 193**
[code]

I cut

[2016-12-01 04:40] jahrichie commented on #259
After many days and hours of pulling my hair i got it.

This wasn't a problem with your gem, but infact a conflict between net http (being called from oauth2 and right aws). http://stackoverflow.com/questions/13397119/ruby-nethttp-not-decoding-gzip

Removing the right-aws gem fixed everything.   This is an option for me, hope everyone else can find something.

[2016-12-01 04:40] #259 closed

[2016-12-09 22:53] jpslav opened #262 "access_token response not parsed correctly in 4.0"
FB authentication wasn't working for me in 4.0.0, but it works when I downgrade to 3.0.0.  The problem could be in my configuration, in the `oauth2` gem, or in `omniauth-facebook` -- I don't know, but I thought I'd post what I found here in case it is helpful to someone who knows more about the guts of these gems.

With 4.0.0, I was getting a response from FB, but it was erroring out with an "inva

[2016-12-11 02:57] mradzwilla opened #263 "Requested info fields not being returned"
Hey everybody. I made a StackOverflow post about the issue I was having: http://stackoverflow.com/questions/41081549/facebook-omniauth-hash-not-returning-info-fields

When I added other fields in (such as birthdays and things), the Facebook redirect did ask me to confirm that I was sharing that information. However, the requested info_fields do not show up in the response and I'm not sure what cou

[2016-12-19 14:35] Mycroft1891 commented on #61
I'm using the callback process and I noticed also that a lot of users that try to create an account fail to do so because we need the user's email address.

[2016-12-21 19:10] magicalbanana opened #264 "How to redirect inside a controller"
Trying to find a way to renew long lived access tokens without user interaction so trying to do this on a controller:

[code]

But I get a CSRF error. Any tips?

[2017-01-09 12:11] wonderphil commented on #263
+1 - http://stackoverflow.com/questions/41429793/omniauth-facebook-not-hash-not-containing-all-data

[2017-01-16 10:49] nasirshamshadsynnapps commented on #236
I'm facing the same issue, only ID and NAME coming through...
Here is my devise.rb configuration...

config.omniauth :facebook, 'APP_ID', 'APP_SEC', scope: 'public_profile, publish_actions, user_about_me', info_fields: 'email,id,name,first_name,last_name,age_range,link,gender,timezone,updated_time,verified', callback_url: "http://localhost:3000/users/auth/facebook/callback", secure_image_url: true

[2017-01-25 20:24] frederickdubois opened #267 "Facebook id collision, or wrong user's auth hash infos received?"
Hi,
I frowning at a very strange issue.
I have some user accounts getting linked to the same facebook id... At first I thought this was a case of a public computer used by the 2 users but this theory has been dismissed...

Has there ever been cases resported of wrong auth hash infos being returned in request.env['omniauth.auth']?
_(I feel stupid just for asking it... can't believe this could be po

[2017-01-26 10:27] rubenfonseca commented on #262
Just adding that I have this problem too with 4.0.0. Downgrading works.

[2017-01-31 16:30] BjornMelgaard opened #268 "Gem Load Error is: uninitialized constant Hashie::Extensions::RubyVersionCheck::ClassMethods::RubyVersion"
[code]

:astonished:

[2017-01-31 16:51] BjornMelgaard commented on #268
https://github.com/intridea/hashie/issues/391

[2017-01-31 19:53] JulioOrellana commented on #216
Hello, I am using my personal account for a private app using this gem, I use facebook years ago and I am not receiving email either. I don't understand why is this happening.

[2017-01-31 20:01] #268 closed

[2017-01-31 21:48] adolfopeccin commented on #216
@JulioOrellana did you confirmed your email @ Facebook?

[2017-02-01 10:17] HariGJ commented on #61
facebook integration in ios.
i'm using the following code.

  [[[FBSDKGraphRequest alloc] initWithGraphPath:@"me" parameters:@{@"fields" : @"email, name"}]

Please help me.
Thanks.

[2017-02-01 13:01] JulioOrellana commented on #216
@adolfopeccin yes, I am fixing this app because it has some problemas but the company doesn't have to facebook credentials of the app so I create one for them only so I changed secret and app_id, after that it started making this problem.

"info" only includes "name" and "Image" on json and no other file includes "email" anymore :/.

My app is public and I am using Client and Web OAuth

[2017-02-01 14:41] ppascualv opened #269 "Which is the reason for raise an error when scope doesn't match"
In facebook strategy file there is this function:

[code]
This raise causes an error when users don't accept all scope but accept some of them, which is the reason? Maybe will be better handle this.

[2017-02-01 15:09] simi commented on #269
Isn't this code only in https://github.com/mkdynamic/omniauth-facebook/pull/174 related branch?

[2017-02-03 16:29] inicsmith commented on #61
I ran into this using https://github.com/ueberauth/ueberauth_facebook in an Elixir / Phoenix project and fixed it by adding profile_fields: "email" to my config.  When I didn't add profile fields I would sometimes receive a nil email.

config :ueberauth, Ueberauth,
  providers: [
    facebook: {Ueberauth.Strategy.Facebook, [default_scope: "email,public_profile", profile_fields: "email"]}
  ]

[2017-02-06 09:09] ppascualv commented on #269
yes sorry, we can close this issue then

[2017-02-06 09:09] #269 closed

[2017-02-07 14:19] riston commented on #61
@inicsmith well the user could remove the email request when the permission window is shown. It's common problem to avoid breaking the auth flow, it's always possible to ask email from user and verify it.

[2017-02-10 23:06] neiman opened #270 "Gem Load Error is: private method `warn' called for nil:NilClass"
Hashie looked like they just updated their logger class, which started to break this gem for me.

For a quick fix, I reverted the /hashie-3.5.2/lib/hashie/logger.rb to the previous code.

replacing their update
def self.logger
    @logger ||=
      if defined?(::Rails)
        Rails.logger
      else
        Logger.new(STDOUT)
      end
  end

back to
def self.logger
    @logger ||= Logger.new(STD

[2017-02-11 01:26] wbotelhos commented on #270
I fixed the `hashie` to version `3.5.1` and it worked.

[2017-02-11 06:18] Fudoshiki commented on #270
same with hashie 3.5.2

[2017-02-11 15:02] mrchenhao commented on #270
`hashie ` 3.5.2  is is also error

[2017-02-12 15:14] tjankov commented on #236
Has this been solved?

[2017-02-12 15:19] tjankov commented on #250
I'm still not getting those fields

[2017-02-14 13:09] jgrau commented on #263
I had the same issue today but then noticed that bundler had installed a very old version of `omniauth-facebook`. Running `bundle update omniauth-facebook` gave me the latest release. I believe it's also necessary to specify which info fields you need. Example from my app:

[code]

I am not sure if the `client_options` is required - I use it to lock myself to an API version in the code.

[2017-02-15 04:35] AshAngell opened #271 "Successful Facebook authentication not storing the session properly"
My application was working ok, and then I updated to Rails 5.0.1. After this my app no longer authenticated with Facebook and came up with the following error in the logs:

```Authentication failure! csrf_detected: OmniAuth::Strategies::OAuth2::CallbackError, csrf_detected | CSRF detected```

So, in accordance to what people on StackOverflow suggested, I changed my omniauth config to include the `

[2017-02-15 11:27] nasirshamshadsynnapps commented on #236
No yet... @tjankov

[2017-02-20 05:01] ravuthlong commented on #31
@loureirorg you saved my life

[2017-02-20 14:30] asok commented on #229
It seems I have the same issue.

Where can I find the http request done by the gem? I did add to the initializer: `OmniAuth.config.logger = Rails.logger` but I don't see anything in the logs.

[2017-02-21 07:30] giedriusr commented on #262
Using rails `4.2.7.1` locally no issues so far with 4.0.0.

[2017-02-21 14:41] ahmedawad250 commented on #61
You should add email to scope or add to facebook api get data
api('/me?fields=name,email')

[2017-02-28 17:39] amrokhudair commented on #220
@gioblu  I have the same problem , the gioblu/omniauth-facebook@eff97bf does not exist.

[2017-03-01 01:43] danielbonnell opened #273 "Update omniauth-oauth2 dependency to >= 1.3?"
Hi,

Is it possible to update the `omniauth-oauth2` dependency to `>= v1.3`?

Thanks in advance!

[2017-03-01 12:57] simi commented on #273
The only direct dependency is [omniauth-oauth2](https://github.com/mkdynamic/omniauth-facebook/blob/19634473820d0190a5112f6b42266ef98c8ee276/omniauth-facebook.gemspec#L19). I think this is more upstream issue (as you linked). Or do you think there's something we can change here to solve this?

[2017-03-01 14:08] danielbonnell commented on #273
Sorry I worded that very clumsily. I *think* upgrading the `omniauth-oauth2` dependency to `>= 1.3` would help solve my dependency problem. It looks like that gem dropped the `faraday` dependency at `1.3.0`. I'm in the process of trying to update several dependencies but am locked down because a few of my omniauth strategy gems have older Faraday dependencies.

[2017-03-01 14:37] simi commented on #273
There's no need to update omniauth-oauth2 dependency here. You can lock whatever version fits ~> 1.2 constraint in your Gemfile.

example Gemfile:

[code]

is resolved into:

[code]

[2017-03-01 15:40] danielbonnell commented on #273
Turns out `Oauth2`'s `faraday` constraint is the issue. Got kind of lost trying to follow the dependency chain. Thanks for your time.
https://github.com/intridea/oauth2/pull/291

[2017-03-01 15:40] #273 closed

[2017-03-02 08:56] fabriziobertoglio1987 commented on #220
I also have problems with facebook-omniauth callback-url. I receive the following message and I openend a stackoverflow question
"redirect_uri isn't an absolute URI. Check RFC 3986.","type":"OAuthException","code":191,"
http://stackoverflow.com/questions/42549803/devise-omniauth-facebook-redirect-uri-isnt-an-absolute-uri

[2017-03-02 09:15] fabriziobertoglio1987 commented on #79
Hello, I am having issues and being redirected on login to #_=_ URL. I commented on the following post and opened a Stackoverflow Question
Thanks
Fabrizio

https://github.com/mkdynamic/omniauth-facebook/issues/220
http://stackoverflow.com/questions/42549803/devise-omniauth-facebook-redirect-uri-isnt-an-absolute-uri

[2017-03-07 20:54] WarrEagle commented on #61
^ That is not helpful. If a user has their settings set to not supply their email you will get either a null address or an address like 34132142412342@facebook.com if they have messenger enabled.

You just have to detect and/or drop the missing address or @facebook.com address, then force the user to supply a valid email if you require it.

[2017-03-08 05:50] camonunez commented on #148
Found it! I was making a GET request, it should be a POST request.
I'm a newbie, sorry if it was obvious for others

[2017-03-10 22:25] zerocool4u2 commented on #194
:facebook, ENV['FACEBOOK_APP_ID'], ENV['FACEBOOK_SECRET'], auth_type: 'rerequest'

auth_type works for me, if they decline some permission it will request on each login until they accepts the permissions

[2017-03-13 00:36] AmaliDeveloper commented on #61
You can get the solution here Facebook SDK connect [Link](https://youtu.be/xKC5pFEpH2A)

[2017-03-18 18:38] reidcooper commented on #262
I am having similar issues when trying to force my OmniAuth Facebook builder to use the v2.8 FB SDK.

[code]

That is what I am returned when using the v2.8 FB SDK. Once switching the sdks, removing as such below, it was able to successfully parse the response.

[code]

I removed the client_options so it will default back to v2.6. That solved my problem. However, it would be nice to be able to use

[2017-03-18 21:40] macmartine opened #274 "Error when authing on subdomain: Authentication failure! csrf_detected: OmniAuth::Strategies::OAuth2::CallbackError, csrf_detected"
I am trying to oauth on a wildcard subdomain. It works great then I use the top level domain, but when on subdomain I get:

Authentication failure! csrf_detected: OmniAuth::Strategies::OAuth2::CallbackError, csrf_detected

In the Facebook app I have http://lvh.me as the URL and lvh.me as the app domain.

Any ideas?

[2017-03-23 21:06] fbukevin opened #275 "popup not work"
No matter I added `display: popup` in configs/initializers/omniauth.rb or appended `display=popup` in link href attribute like `<a href="/auth/facebook?display=popup">Test FB</a>`

[code]

The screenshot is here:

<img width="1271" alt="1" src="https://cloud.githubusercontent.com/assets/4548874/24270284/7f2b33fc-104f-11e7-912e-8d475b575c79.png">

The message below:

[2017-03-27 20:48] stupied4ever opened #276 "Facebook invalid_credentials"
Hey guys,
Today suddenly we started to get this error:
auth/failure?message=invalid_credentials&strategy=facebook

Do you have any clue? Looking on Twitter I discovered that more people are having the same issue. There are some FB change?

[2017-03-27 20:55] mdoyle13 commented on #276
I'm working on this issue as well. It appears FB has changed their API versions 2.3 and below possibly.

[2017-03-27 20:55] nandayadav commented on #276
same issue we are having, started today. FB was removing 2.2 today.

[2017-03-27 20:56] mdoyle13 commented on #276
It's weird because in my initializer i specify
[code]

[2017-03-27 21:00] nandayadav commented on #276
updating to latest version of this gem, seems to fix it.

[2017-03-27 21:06] stupied4ever commented on #276
@nandayadav seems good, I worked for me

[2017-03-27 21:14] kyle-rader commented on #276
@nandayadav 2nd upgrading from to the latest omni-auth that uses graph v2.6 by default solved our problem.

[2017-03-27 21:17] stupied4ever commented on #276
I just did a small research and on issue  #245 it was solved. This issue was released under version 4.0.0 on 2016-07-26.

So, in the end of the day, it's our fault (because we are using the old version), so I will close this issue, and please if somebody has any other problem we can reopen.

[2017-03-27 21:17] #276 closed

[2017-03-27 23:21] jaequery opened #277 "Urgent, Facebook deprecation today, broke omniauth-facebook"
Just earlier today, we noticed that the omniauth-facebook no longer works.
Upon quick search on Twitter it looks like Facebook has deprecated a few of their API and I feel this is the reason why FB auth stopped working for us.

Anyone else having this issue? Some urgent response would be greatly appreciated, thanks!

[2017-03-27 23:22] simi commented on #277
See https://github.com/mkdynamic/omniauth-facebook/issues/276 for more info. Gem update should be enough.

[2017-03-27 23:22] dznicol opened #278 "Suddenly getting invalid_credentials"
As of today I am always getting `invalid_credentials` my callback. The callback is of the format:

[code]

This is on my test system, production also fails as of today.

The error then is:

[code]

All tokens are there (just removed from this report).

I can't see any relevant recent updates in Gemfile.lock.

I am using:

[code]

All help, guidance or pointers as to where to look appreciated. I ha

[2017-03-27 23:23] simi commented on #278
Is this dupe of https://github.com/mkdynamic/omniauth-facebook/issues/276? Try to update to `omniauth-facebook ~> 4.0.0` at least.

[2017-03-27 23:28] jaequery commented on #277
Thanks for the super quick response simi!

[2017-03-27 23:32] dznicol commented on #278
Fixed.

Thank you simi!

David

[2017-03-27 23:54] jaequery commented on #277
The update to 4.0.0 resolved this issue for me. Thanks.

[2017-03-27 23:54] #277 closed

[2017-03-28 10:16] jay-pandya-btc commented on #278
Thanks @simi i was facing the same problem for last 4 hours. :+1:

[2017-03-28 10:18] dansteele commented on #278
Fixed over here too :)

[2017-03-28 12:30] n1ckbren commented on #278
It doesn't work for updating from 2.0.1 to 4.0.0. What do I have to do for upgrading?
Now I have:
  * omniauth (1.6.1)
  * omniauth-facebook (4.0.0)
  * omniauth-oauth2 (1.4.0)
A

[2017-03-28 12:35] codeodor commented on #278
We're seeing the same issue. Worked fine for the last 1+ year, and last night all of the sudden we're getting invalid credentials.

Upgrading from 3 to 4 fixes it. (At least in dev mode, so I assume it will work in production now as well).

What changed?

[2017-03-28 12:51] dimitridewit commented on #278
Same problems here also. Updating to 4 seems to work on development here to. Although a peer dependency of another Gem, Hashie in this case, is giving me a conflicting key warning now.

[2017-03-28 13:02] n1ckbren commented on #278
I think I found something similar maybe it helps. https://github.com/isaacsanders/omniauth-stripe-connect/issues/44

[2017-03-28 13:28] stevehodges commented on #278
Here's what changed: Facebook API version 2.2 was EOL yesterday and turned off. See https://developers.facebook.com/docs/apps/changelog/ for Facebook's version availability schedule.

[2017-03-28 13:44] n1ckbren commented on #278
@stevehodges yes that doesn't help.

Finally I just restarted the server and now it's back doing just fine. Gotta love these issues, they come once a year, ruin everything and the fly away.

[2017-03-28 14:28] Revokee commented on #278
Confirming the fix as well.

[2017-03-28 14:38] #278 closed

[2017-03-28 17:07] chetanbissa27 commented on #278
@n1ckbren Please help me I am facing same issue and upgrading gem to 4.0.0 can broke other functionality on production. Is there any other to solve this issue except updating from 2.0.1 to 4.0.0.

[2017-03-28 18:32] n1ckbren commented on #278
@chetanbissa27 what do you do? let's write step by step.

[2017-03-28 18:43] n1ckbren commented on #278
@chetanbissa27 I think you broke app because all gems updated. Yo have to update only omniauth-facebook.

https://mozpi.com/articles/how-to-fix-invalid-credential-omniauth-facebook-gem-broken-after-facebook-api-deprecation-id-83

[2017-03-28 19:46] jpslav commented on #262
Upgrading to 4.0.0 and v2.8 of the FB API works for me.  I was previously on v2.0 of the FB API, so I'm guessing my problem was mixing very new and very old.  I'll leave this open; gem maintainers can close if they feel it is appropriate to do so.

[2017-03-28 22:33] jakeatwork commented on #278
Ok...found a way without updating the gem, if you happen to be in a situation where updating a library is less than ideal:

You can add the following in your `config/initializers/devise.rb` file at the `config.omniauth` line:

    client_options: {
      site: "https://graph.facebook.com/v2.3",
      authorize_url: "https://www.facebook.com/v2.3/dialog/oauth"
    },
    token_params: {
      parse

[2017-03-29 03:14] chetanbissa27 commented on #278
@n1ckbren Thank you I was doing same thing but due to dependencies updates it broked.
@jakeatwork Thank you this solution worked but now new problem came up
Dragonfly::DataStorage::UnableToStore (Permission denied - /var/dragonfly):

[2017-03-29 22:23] simi commented on #262
Thanks for info @jpslav!

[2017-03-29 22:23] #262 closed

[2017-04-08 20:48] dfloresgonz commented on #61
@TeamRainless is right!!! if the user has its phone number set email is not returned I have tested with two accounts one with the phone set and the other one is not, the first one doesn't retrieve the email but the 2nd account does. I guess there is nothing else to do right?

[2017-04-10 05:24] aanjna commented on #61
Case closed
!!!

Thanks with regards,

Praveen Patel
https://in.linkedin.com/in/praveenkaanjna
Mo-09660294530

On Sun, Apr 9, 2017 at 2:18 AM, dfloresgonz <notifications@github.com>
wrote:

[2017-04-11 05:35] echan00 commented on #278
Thank you a tonne. Kind of sucks that this broke all of a sudden, i have to say it took me a while to finally find this fix as well.

[2017-04-12 15:45] steedems commented on #61
I had two identical Facebook apps: one was returning the email and the other was not (same user).

after 3 beers i started trying random stuff, and this one did the trick
<img width="797" alt="screen shot 2017-04-12 at 17 38 10" src="https://cloud.githubusercontent.com/assets/7896422/24966531/7b82ed64-1fa7-11e7-8faf-3965696d7f49.png">

**reset Client Token**

@dfloresgonz hope it helps

[2017-04-17 13:35] jaiswarvipin commented on #61
One of the my friend was trying to the issue from last 5 days. huummm very irritating. which got love in 2 min...

**Assumption:** using PHP for O2Authentication
**Solution:**

`    $loginURL =  $fb->getLoginUrl({your redirect URL},['email']);`

And job is done.

Thanks & Regards
Jaiswar Vipin Kumar R.

[2017-04-22 06:56] bowekr commented on #274
same error here +1

[2017-04-23 00:16] RicardoRamirezR commented on #61
That worked for me @shahidaali Thank you so much!

[2017-05-03 07:49] raven-chen commented on #278
I'm maintaining an old project which involves with oauth2, omniauth-facebook, twitter, weibo, rack-oauth-server...  upgrading is not a option for the project, so I patched `oauth2` to fix this problem. hope this could help someone like me 😄

the commit is here https://github.com/raven-chen/oauth2/commit/58ec927a818844d5ea0093b3f101a24290081bc6. just force oauth2 to use JSON parser for facebook.

[

[2017-05-04 09:41] mv27389 opened #280 "Facebook not returning email for 1 app whereas returning for the other app for the same account."
I'm using Facebook JavaScript SDK to login into admin. After login, I'm calling URL to fetch user details.
Following are the few details :
1. Using 2 apps (same version 2.7), both for Web platform, with only change in their Valid OAuth redirect URIs.
2. Providing { scope: 'public_profile,email,publish_actions' } while logging in.
3. URL to fetch user details : https://graph.facebook.com/me?fields=

[2017-05-13 07:33] goyalabhishek585 commented on #61
Hi My name is "Goyal Abhishek" I was married for 9years with Keshika and we had a kid together. Things started getting ugly and we had fights and arguments almost every time... it got worse at a point that she filed for divorce... I tried my best to make her change her mind & stay with me. She moved out of the house and still went ahead to file for divorce... I pleaded and tried everything but sti

[2017-05-13 07:33] goyalabhishek585 commented on #61
Hi My name is "Goyal Abhishek" I was married for 9years with Keshika and we had a kid together. Things started getting ugly and we had fights and arguments almost every time... it got worse at a point that she filed for divorce... I tried my best to make her change her mind & stay with me. She moved out of the house and still went ahead to file for divorce... I pleaded and tried everything but sti

[2017-05-30 10:35] giamma13 opened #281 "Bundler::GemRequireError: There was an error while trying to load the gem 'omniauth-facebook'."
starting today we are having some strange problems when we run schema load on Codeship
- bundle exec rake db:schema:load

we have NOT changes anything in our Gemfile but we keep getting this error
- There was an error while trying to load the gem 'omniauth-facebook'.

anybody else having this problem ?

---

rake aborted!
Bundler::GemRequireError: There was an error while trying to load the gem 'o

[2017-05-30 11:32] parthibeyond commented on #281
I'm also facing the same issue in Travis. Has anybody solved it?

[2017-05-30 14:45] rasool182716 commented on #61
Still am also facing this issue... Please let me know if anyone know to how to fix it...

[2017-05-30 18:27] giamma13 commented on #281
if anybody has a workaround, that would be awesome

all of our CI build on codeship are not failing, even on older version of our code
so its a changes outside of our control

[2017-06-01 09:44] darthwiz commented on #281
@parthibeyond We solved our problem by removing `oa-openid` which depended on a _very_ old version of `oa-core` (0.3.2), which was apparently being monkey-patched over the newer version of `omniauth`. Just in case, check if you have a `oa-core` dependency somewhere, I think it's what caused our trouble.

[2017-06-03 12:56] zerocool4u2 commented on #274
try clearing your cookies for lvh.me and localhost on your browser, they might been colliding

[2017-06-08 15:05] cozzbie commented on #61
Ran into this and the only thing that worked was requesting for permitted fields through the API`FB.api("me", {fields: "email,..."}, callback)`

[2017-06-09 10:22] aliceclv commented on #216
@JulioOrellana hey, did you solve your problem ? I'm encountering the same difficulties...

[2017-06-10 01:02] JulioOrellana commented on #216
@aliceclv no, I ended up using the old credentials because I couldn't obtatin what I wanted.

[2017-06-10 04:57] islamaskar commented on #280
I have the same problem

[2017-06-18 11:54] jackkinsella commented on #281
I had the same issue but solved it by changing the order of the oa gems in the Gemfile such that the omniauth-facebook gem was placed last.

[2017-06-19 07:26] sushant12 opened #282 "Require omniauth gem"
Is it required to use the omniauth gem if i am using omniauth-facebook in the gem file?

what`s the diffrence betweeen these

#Gemfile
[code]

and

#Gemfile
[code]

[2017-06-21 20:09] printercu commented on #274
Have faced same issue. Make sure you don't have `SameSite: Strict` setting for session cookie.

[2017-07-21 11:18] pensan commented on #275
Similar to #47 ?

[2017-08-11 18:11] fabiancarlos opened #283 "execution expired"
Depending on my network connection i can't connect with the facebook, or dont receive the response. I just cant debugg this. Partial of my stacktrace:

[code]

[2017-08-15 21:46] filipesiciliano opened #284 "Authentication failure! invalid_credentials"
ruby 2.1.0p0
Rails 3.2.19
gem "omniauth-facebook", "~> 1.4"
gem "oauth2", "~> 0.8"

(facebook) Authentication failure! invalid_credentials: OAuth2::Error, :
{"access_token":"EAAEZAmI4QnZCwBAB16r1dXA6bW18NyyIQ28BGbUO8C3nNZAq49G6MkdRr9wNw2hZAf9pIFEMRMTStTLe1THOLXTQWBcoTkqq9BvJLilHBacypCYjITSsdT2NdxJWdixBcw04AKofQdbT2pTyDjOZBJyAlIGXEAC1s2Mhw4uYkekttjrK30u1u","token_type":"bearer","expires_in":5181271

[2017-08-17 03:14] YeWin commented on #61
@shahidaali Thank you so much!
That worded for me even with old PHP file_get_contents() method.

workaround: `file_get_contents('https://graph.facebook.com/me?locale=en_US&fields=name,email,first_name,last_name&access_token=' . $access_token['access_token']);`

[2017-09-01 01:23] gordysc commented on #257
FWIW I got this to work with the following with devise:
config.omniauth :facebook, ENV["FACEBOOK_APP_KEY"], ENV["FACEBOOK_APP_SECRET"], scope: 'email', fields: 'public_profile,email'

Also, I noticed my browser was holding onto a previous session pretty aggressively.  Clearing my cookies resolved it.  Hope this helps!

[2017-09-02 02:25] gordysc commented on #257
For those who stumble on this issue, this is currently a known bug:
https://developers.facebook.com/bugs/1604634122901104/

[2017-09-07 19:29] JoaoLopes commented on #192
This looked like a quick fix, using the same logic as in google_oauth2. Any particular reason it wasn't fixed (e.g. any other issues, backward compatibility)?

[2017-09-11 18:15] LeandroTk commented on #283
:+1

I'm also having the same problem: `execution expired`

..depending on my network connection.

[2017-09-11 18:36] fabiancarlos commented on #283
@LeandroTk I was searching about, and be some issue with ssl, but i'cant find a way to deggut it.

[2017-09-18 12:04] jonaselan commented on #280
The problem is the Facebook remove the field `email` from your [response](https://github.com/plataformatec/devise/wiki/OmniAuth%3A-Overview#facebook-returning-nulled-email). I am trying to make some workaround for that, but without success until now :/

[2017-09-21 20:55] vermaxik commented on #283
@LeandroTk @fabiancarlos have the same issue. Did you find way to fix it? I used the advices from https://github.com/mkdynamic/omniauth-facebook/issues/31:  disabled IPv6, removed saving images, added certificates, but it doesn't work for me.

[2017-09-21 22:35] LeandroTk commented on #283
@vermaxik Actually I didn't fix it. I just change the network when I need to login via Facebook and it worked for me.

[2017-10-04 19:46] spagnolodesign commented on #280
Any update about it?

[2017-10-24 21:46] vbrazo opened #286 "Devise and omniauth-facebook: Could not find a valid mapping for nil"
I'm having an issue with `Could not find a valid mapping for nil` when users sign up using facebook.

It's interesting because 10% of my users can't get in after authenticating with facebook and the other part isn't having the problem.

Here is a piece of my routes.rb:
[code]

My Gemfile:
[code]

Line 20 is `sign_in(new_current_user)`
[code]

Here is my backtrace:
[code]

[2017-10-25 02:39] vbrazo commented on #286
I found the solution for this issue.

Facebook doesn't return the email when a user hasn't confirmed the account yet.

Credits for: https://developers.facebook.com/bugs/237217376396092/?comment_id=213417499015414

[2017-10-25 02:42] #286 closed

[2017-11-06 23:02] eduardobarbiero opened #287 "Processing of routes with a variable scope"
Hello!

I encountered a problem when implementing the gem, because I use a "dummy path per company", that is, I have a url:

Ex: http://localhost:3000/vetor-saude/auth/facebook

However, gem is not recognizing that "vetor-saude" is my business identifier by route scope.

Is there any way around this problem? being sending a parameter via query or even injecting the same in the callback? I use this

[2017-11-07 10:51] #282 closed

[2017-11-07 10:53] simi commented on #282
`omniauth` is indirect dependency for `omniauth-facebook`. You can use own gemfile entry for `omniauth`, if you want to specify version.

[2017-11-09 18:30] JulioOrellana commented on #284
same here, cannot make it work

![screen shot 2017-11-09 at 3 29 44 pm](https://user-images.githubusercontent.com/10372340/32622802-dddcd324-c562-11e7-916c-672bae4e9df0.png)

[2017-11-14 19:46] Luna2442 commented on #64
I'm not getting this to work. With ENV I get the error above BUT I do get signed in. Without ENV, I get taken to a page from FB that reads:

Sorry, something went wrong.
We're working on getting this fixed as soon as we can.

But I don't get signed in. What am i doing here??

[2017-11-14 20:46] Luna2442 commented on #278
Nothing working here. Same error as above. Using omniauth 4.0.0

[2017-11-14 20:55] Luna2442 commented on #284
I have the same problem. Looked at all solutions and nothing helped.

[2017-11-20 14:51] RTJ commented on #284
I'm having exactly the same problem ...
It was working before and since today I have this error.

[2017-12-02 20:54] statico commented on #61
FWIW, I was trying to debug something similar and found that I was sending the `scope` parameter at the wrong time: https://github.com/jaredhanson/passport-facebook/issues/214#issuecomment-348659884

[2017-12-05 11:33] tdutreui commented on #263
Same thing here : scope and info_fields well populated but nothing returned except email and public profile infos.
The thing is that *your app need facebook preauthorization for being able to ask permissions for users* except email and public_profile. If the FB user is a developer of your app, your app does not need this preauthorization.
Source : https://developers.facebook.com/docs/facebook-logi

[2017-12-15 13:02] erkie commented on #284
The fix for this on my end was from this comment: https://github.com/mkdynamic/omniauth-facebook/pull/174#issuecomment-300299724

[code]

[2017-12-21 18:44] renchap commented on #229
If the `FBSR_cookie` is not set, it is most probably because your App Domain (on the Facebook Developer website) is wrong and/or you are using `localhost`.
If your app is on `localhost` (with any port), you need to have an empty App Domain setting (source: https://stackoverflow.com/a/7493806/1377358).
If you have, for example, `http://localhost` as I did, the FB SDK will try to set the cookie with

[2018-01-05 22:34] joaovictorpsantos commented on #61
Today I was running some tests and I came across the same situation, the user's email was not being returned.

Then I realized that Facebook has an option that allows the user to "hide" his or her email, leaving it private, and when the user does it, it is not possible to get the email.

[2018-01-06 00:12] TeamRainless commented on #61
It's VERY simple: Just create a catch so that, if the email is not
returned, the user must manually input it.

On Jan 5, 2018 11:35 PM, "João Victor Pereira Santos" <
notifications@github.com> wrote:

[2018-01-10 13:57] richardrails commented on #283
+1

[2018-01-18 19:28] Schweigert opened #290 "Hello, we would like to help."
Hello,

I'm Software Engineer at @magrathealabs. We use this gem in some of our products, and we're having security issues with it's current state. We are interested in keeping the gem development and mantainance active. If there is any chance you add us as team members in the project and on rubygems.org would be helpful. We could scheduled a call/hangouts if you have any question to us.

[2018-02-02 07:09] koonse opened #292 "'/me' endpoint for Facebook no longer working"
It seems as if Facebook changed the `/me` endpoint, returning much less information now. I believe this is a change of policy to their API require more "Review" now.

https://developers.facebook.com/docs/facebook-login/review/what-is-login-review

[2018-02-02 07:10] koonse commented on #292
This really affects the available `raw_data` returned, basically it's empty, no user attribute information is returned now.

[2018-02-06 09:39] PotHix commented on #247
@tonilin should we close this issue?

[2018-02-12 23:09] nandotuc17 commented on #61
Se o email vier nulo basta usar o id_do_usuario@facebook.com já ajuda em algo pelo menos.

[2018-02-12 23:13] nandotuc17 commented on #61
Também percebi que se eu solicitasse o perfil publico + email via string array no xml não funcionava, vinha apenas o perfil publico, como o perfil publico já vem por padrao eu retirei as permissões do xml e inseri diretamente no código da classe java só o email.

LoginManager.getInstance().logInWithReadPermissions(MainActivity.this,Arrays.asList("**email**"));

[2018-02-15 23:40] joker-777 commented on #192
@mkdynamic Hi, it would be nice if we could fix this issue.

[2018-03-05 07:07] dminchev commented on #229
[Solved]
After spending a few hours debugging different applications that I've previously implemented the omniauth with devise I found the solutions - you have to keep the callback path as showed default in the documentation:  **/auth/facebook/callback/** otherwise the request.env["omniauth.auth"] will be nill

[2018-03-14 09:07] augnustin opened #295 "What version of Facebook graph API is used in the 4.0.0 version of the gem?"
I have a message in developer.facebook.com saying that I need to upgrade from 2.5 to 2.12.

![image](https://user-images.githubusercontent.com/1970156/37392744-5397a38c-276f-11e8-9383-c714cbbd2b0b.png)

Here are the affected calls:

![image](https://user-images.githubusercontent.com/1970156/37392674-1d76bb58-276f-11e8-8bdc-07669efc4961.png)

Anyone knows what version of the FB graph the current om

[2018-03-16 11:40] gaborszakacs commented on #295
This gem uses the 2.6 Graph API, but I got the same warning about 2.5 too, which is a bit strange.

https://github.com/mkdynamic/omniauth-facebook/blob/0035616e16d1a78c5bc17b459214a2ab731da0aa/lib/omniauth/strategies/facebook.rb#L15

2.6 is available only until July 13, 2018, so you need to upgrade in the near future anyway. There are PRs addressing this very issue (e.g. https://github.com/mkdynam

[2018-03-16 11:50] simi commented on #295
The current version is written in readme. Also you can use custom version as described in README - https://github.com/mkdynamic/omniauth-facebook#api-version.

[2018-03-16 11:50] #295 closed

[2018-03-17 06:35] abhinaykumar commented on #290
I would love to help in maintaining this gem, Although I am not that good but I can certainly try. @mkdynamic

[2018-04-02 14:57] andreleoni opened #300 "Tag for new 5.0.0 version"
Hello, need to create the new tag version for 5.0.0 to download over RubyGems.org

[2018-04-02 17:49] Uriel7 commented on #274
Same error +1

[2018-04-10 12:43] paulovitorzeferino opened #301 "Help"
I'd like to help you maintain the the project.

[2018-04-10 14:40] simi commented on #301
Hello and welcome!

If you want to help please try to take a look at current issues and pull requests.

[2018-04-10 14:40] #301 closed

[2018-04-10 14:43] simi commented on #300
gem pushed today - https://rubygems.org/gems/omniauth-facebook

[2018-04-10 14:43] #300 closed

[2018-04-10 14:46] simi commented on #290
Hello @Schweigert, @alfakini and @abhinaykumar. Thanks for your interest. Please feel free to help with current issues and pull requests. Also from time to time testing is needed. I'll ping you before next release so we can co-operate on that together.

@Schweigert feel free to ping me separately in private to my private email on GH profile with security issues or if you think it is not sensitive,

[2018-04-10 14:46] #290 closed

[2018-04-10 15:17] abhinaykumar commented on #287
Instead of changing the defaults, i would suggest try something like passing the name of the company as params while making a request or save it in session variable.

*  To pass `params` while making a request to provider like `facebook`
code should look like this:
[code]
and in url callback you'll get these params. for more information regarding how you can access these params please take a look

[2018-05-10 15:33] RevealedFrom commented on #61
@steedems  No joy for me. I have the same situation, two identical apps, one returns email but one won't.

[2018-05-10 15:49] simi commented on #61
@RevealedFrom for the same user asking for the same permissions?

[2018-05-10 16:47] RevealedFrom commented on #61
@simi Yes, testing with the same Facebook user account. Exact same Express app with passport-facebook, and just switching client id and client secrets to test with different Facebook apps.  So far, the score is 2 will return emails, and 1 will not.

[2018-05-10 17:51] simi commented on #61
Are there any differences between facebook apps configurations?

[2018-05-11 01:10] RevealedFrom commented on #61
Went through page by page, couldn't find any material differences.  Anyway, it says email is always approved by default. I wonder what other settings could have prevented email from being sent.

From the user side, going to [www.facebook.com/settings?tab=applications](url) shows that two apps have the choice of email but one doesn't.

[2018-05-31 12:07] vvsmanoharvadapalli opened #302 "Rails Omniauth facebook not returning info fields other than default fields"
I'm using facebook authentication for my Rails 5 app. I want to fetch user details other than email. But it's not returning the specified fields. Here's my config for devise.rb

`config.omniauth :facebook, "APP ID", "APP Secret", scope: 'email', secure_image_url: true, :image_size => 'large', auth_type: 'https',info_fields: 'email,name,first_name,last_name,gender',
client_options: {
    site: "htt

[2018-06-02 05:25] JoelRobinson90 opened #303 "Help to use public data"
I have managed to connect my application with fb using rails and angular but I can not access the hash... in the code I try to access the first name without having a result

**user**
[code]
***omniauth***
[code]
***controller***
[code]
***routes***
[code]
***Gemfile***
[code]
***rails c***
[code]
I think the router is not calling the controller...

[2018-06-11 18:23] samarulrajt commented on #61
For me this code worked charm to fetch user info and email.
` FB.api('/me?fields=name,email,first_name,last_name,id', function(response) {
   console.log(response);
 }, {scope: 'public_profile,email'});
`

[2018-06-29 09:17] AmirolAhmad commented on #192
looking for this fix

[2018-07-04 05:33] feliperaul commented on #61
I'm know clocking at around 6 hours of debugging, without any luck. Before e-mail was being retrieved, now it isn't. Created test users on Application Dashboard, and nothing. Created a new app for testing only, nothing. The info hash comes with name and image only, no matter what I pass on scope and info_fields.

This is the latest code I'm running, but I've tried more then 50 variations of all th

[2018-07-04 06:00] feliperaul commented on #61
@shahidaali could you please take a look?

[2018-07-04 06:14] feliperaul commented on #61
My current workaround - terrible, but only way I managed to get an e-mail addres - was using Koala gem, initializing an instance with the `request.env['omniauth.auth'].credentials.token` token  and then requesting the e-mail address using the token:

`@graph = Koala::Facebook::API.new(request.env['omniauth.auth'].credentials.token)
`profile = @graph.get_object("me", fields: ['email'])`

[2018-07-22 20:20] alexeyshchepin commented on #302
Hi @vvsmanoharvadapalli! Have you found any solution? I got the same problem. The only difference is that I don't receive even an email :)
``ruby
callback_url: 'http://localhost:3000/users/auth/facebook/callback',
token_params: { parse: :json },
scope: 'email,public_profile',
secure_image_url: true,
image_size: 'large',
info_fields: 'email,first_name,last_name,picture,name'
[code]

[2018-07-23 05:49] FarazPatankar commented on #302
I had a similar issue. I think it may be because by default, we are getting an older/different version of the gem. Explicitly writing `gem 'omniauth-facebook', '5.0.0'` in my `Gemfile` fixed it for me. Hopefully it'll work for you as well.

[2018-07-29 16:17] alexeyshchepin commented on #302
@FarazPatankar Thanks a lot! It finally works ;)

[2018-07-29 17:46] alexeyshchepin opened #305 "How to save an avatar with Active Storage"
Hey folks!
Can anybody advise me how to save an avatar from facebook to Active Storage?

I've tried those two ways. But none of them works
[code]

Thank you!

[2018-07-30 09:41] simi commented on #305
Hello @alexeyshchepin. Please can you open question on StackOverflow or different platform? This tracker is used only for opening issues related to `omniauth-facebook`.

This question is about active storage and not related to this issue tracker.

[2018-07-30 09:41] #305 closed

[2018-07-30 09:48] alexeyshchepin commented on #305
Hi @simi! Sure, my fault.

[2018-08-01 17:02] modusss opened #306 "Cannot override devise action inside omniauth controller"
Hi,

My problem is that I have facebook login and normal devise login going well until I realized that the facebook user cannot edit their account without typing his password (the standard devise configuration), which it is impossible since you don't have it. For this you need to take control of the hidden action 'update' by yourself and make a customized with the differentiation between the two l

[2018-09-19 08:07] codevanaco commented on #61
After over-reading all comments and becoming increasingly frustrated, I found a quick solution:

`passport.use(new FacebookStrategy({
        clientID: '18814......',
        clientSecret: 'c27cccd.....',
        callbackURL: 'https://localhost:1443/auth/facebook/callback'
    },
    function(accessToken, refreshToken, profile, done) {
        return done(null, {
            token: accessToken,

[2018-10-05 00:14] fkotsian commented on #148
For anyone who struggled as long as I did...

@bindzus Is correct. FE libs like Satellizer and VueAuthenticate duplicate the work omniauth-facebook does. When using those libs, you don't need to call `/auth/facebook` to get the OAuth popup window and exchange your code for a token because the FE lib is handling that for you.

Instead you just go straight to `sessions#create` as bindzus did or `/au

[2018-10-11 08:06] Matrixbirds opened #308 "Faraday::ConnectionFailed tcp open graph.facebook.com:443"
i got this error in china

[2018-10-11 08:56] simi commented on #308
Why do you think this is related to this library? Can you reach https://graph.facebook.com/ in browser?

[2018-10-15 09:42] Matrixbirds commented on #308
okay, i set proxy env resolve in my backend

[2018-10-15 09:42] #308 closed

[2018-10-15 09:47] simi commented on #308
Glad to hear your problem is gone!

[2018-12-31 15:09] sushant12 commented on #61
thanks @codevanaco , adding it to the scopes did the trick

[2019-01-08 22:18] HoracioChavez commented on #243
Closed due to inactivity (+2.5 years old)

[2019-01-11 01:17] davidalejandroaguilar commented on #73
So `omniauth-facebook` is not compatible with Facebook's client-side flow?

[2019-01-25 07:32] Dvelezs94 opened #313 "CORB issue on Chrome"
Hello, I am having an issue when trying to authenticate with facebook on chrome.

It turns out Chrome recently added a new Security feature called **Cross-Origin Read Blocking (CORB)**. and because of that the calls i make from my website to facebook (the login button) are not being made.

I read that this has to be fixed on the server side but I honestly do not know how. Does anyone have an idea

[2019-01-25 20:42] Dvelezs94 commented on #313
WOW i finally fixed it by using POST instead of GET in the view.

Before
link_to "Continue with facebook", user_facebook_omniauth_authorize_path

After
link_to "Continue with facebook", user_facebook_omniauth_authorize_path, method: :post

[2019-01-25 20:42] #313 closed

[2019-01-25 21:08] simi commented on #313
Thanks @Dvelezs94 for posting your solution!

[2019-01-30 07:07] khiav223577 commented on #90
@fredkelly

I had to specify `client_secret` to make the code work
[code]

[2019-02-18 14:02] mr3abd opened #316 "uthentication failure! csrf_detected: OmniAuth::Strategies::OAuth2::CallbackError, csrf_detected | CSRF detected"
when try Login with fb see that in log
uthentication failure! csrf_detected: OmniAuth::Strategies::OAuth2::CallbackError, csrf_detected | CSRF detected

[2019-02-18 14:09] #316 closed

[2019-02-18 14:11] mr3abd opened #317 "Authentication failure! invalid_credentials: OAuth2::Error, : {"error":{"message":"Can't load URL: The domain of this URL isn't included in the app's domains. To be able to load this URL, add all domains and sub-domains of your app to the App Domains field in your app settings.""
Hello when try login with fb can't login and when check logs see that issue

[code]

[2019-02-28 08:52] artyomlagun commented on #317
Hi
The error informs you, what should you do: `To be able to load this URL, add all domains and sub-domains of your app to the App Domains field in your app settings.`.
Please, check your App Domains in FB APP settings. maybe you tried login on URL, that didn't include in App Do.

Hope it will be helpful